<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RegexKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.zang.RegexKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RegexKit</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.0</string>
	<key>CFBundleSignature</key>
	<string>ZanG</string>
	<key>CFBundleVersion</key>
	<string>0.6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.4.4</string>
		<key>ppc</key>
		<string>10.4.0</string>
		<key>ppc64</key>
		<string>10.5.0</string>
		<key>x86_64</key>
		<string>10.5.0</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007-2008, John Engelhart</string>
	<key>NSPrincipalClass</key>
	<string>RKRegex</string>
</dict>
</plist>
