<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AutoHyperlinks</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumX.AutoHyperlinks</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleVersion</key>
	<string>0.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005 - 2011 The Adium Team</string>
</dict>
</plist>
