ARCHS = $(NATIVE_ARCH_ACTUAL)
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_VERSION = 4.2
SDKROOT = macosx10.6
SYMROOT = ./build
MACOSX_DEPLOYMENT_TARGET = 10.6
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_MISSING_PARENTHESES = YES
ALWAYS_SEARCH_USER_PATHS = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
PREBINDING = NO
GCC_ENABLE_SYMBOL_SEPARATION = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
VALID_ARCHS = i386 ppc x86_64
DEBUG_INFORMATION_FORMAT = dwarf
WARNING_CFLAGS = -Wall
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_STRICT_SELECTOR_MATCH = missing value
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO