<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IRC_CHANNEL_HAS_MODES</key>
	<string>Mode is %@</string>
	<key>IRC_CHANNEL_HAS_TOPIC</key>
	<string>Topic is %@</string>
	<key>IRC_CHANNEL_HAS_WEBSITE</key>
	<string>Website is %@</string>
	<key>IRC_MDOE_SET</key>
	<string>%1$@ sets mode %2$@</string>
	<key>IRC_RECIEVED_CTCP_REPLY</key>
	<string>-%1$@ CTCP- %2$@ %3$@</string>
	<key>IRC_RECIEVED_CTCP_REQUEST</key>
	<string>-CTCP- %1$@ from %2$@</string>
	<key>IRC_CHANNEL_HAS_TOPIC_AUTHOR</key>
	<string>Set by %1$@ on %2$@</string>
	<key>IRC_USER_DISCONNECTED</key>
	<string>%1$@ (%2$@@%3$@) left IRC.</string>
	<key>IRC_USER_CHANGED_NICKNAME</key>
	<string>%1$@ is now known as %2$@</string>
	<key>IRC_HAS_IGNORED_CTCP</key>
	<string>-CTCP- %1$@ from %2$@ was ignored.</string>
	<key>IRC_USER_PARTED_CHANNEL</key>
	<string>%1$@ (%2$@@%3$@) left the channel.</string>
	<key>IRC_RECIEVED_CTCP_PING_REPLY</key>
	<string>-%1$@ CTCP- %2$@ (%3$1.5f sec)</string>
	<key>IRC_USER_JOINED_CHANNEL</key>
	<string>%1$@ (%2$@@%3$@) joined the channel.</string>
	<key>IRC_CHANNEL_TOPIC_CHANGED</key>
	<string>%1$@ changed the topic to %2$@</string>
	<key>IRC_USER_KICKED_FROM_CHANNEL</key>
	<string>%1$@ kicked %2$@ from the channel. (%3$@)</string>
</dict>
</plist>
