<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>Search Field</key>
		<dict>
			<key>controlTextColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>controlTextColor</string>
			</dict>
		</dict>
		<key>Search Result</key>
		<dict>
			<key>rowEmphasized</key>
			<true/>
			<key>keyboardShortcutDeselectedOffset</key>
			<integer>0</integer>
			<key>keyboardShortcutSelectedOffset</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Mojave</key>
	<dict>
		<key>inheritFrom</key>
		<string>Common</string>
		<key>Search Field</key>
		<dict>
			<key>noResultsTextColor</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>value</key>
				<string>secondaryLabelColor</string>
			</dict>
		</dict>
	</dict>
	<key>MojaveDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mojave</string>
		<key>Search Result</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>channelNameTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.9</string>
			</dict>
			<key>channelDescriptionTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.7</string>
			</dict>
			<key>keyboardShortcutTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.9</string>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>1.0</string>
			</dict>
		</dict>
	</dict>
	<key>MojaveLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mojave</string>
		<key>Search Result</key>
		<dict>
			<key>channelNameTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.25</string>
			</dict>
			<key>channelDescriptionTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.35</string>
			</dict>
			<key>keyboardShortcutTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.25</string>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>1.0</string>
			</dict>
		</dict>
	</dict>
	<key>Yosemite</key>
	<dict>
		<key>inheritFrom</key>
		<string>Common</string>
	</dict>
	<key>YosemiteDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>Yosemite</string>
		<key>Search Field</key>
		<dict>
			<key>noResultsTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.4</string>
			</dict>
		</dict>
		<key>Search Result</key>
		<dict>
			<key>selectionColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.2</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.2</string>
				</dict>
			</dict>
			<key>rowEmphasized</key>
			<false/>
			<key>channelNameTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.9</string>
			</dict>
			<key>channelDescriptionTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.7</string>
			</dict>
			<key>keyboardShortcutTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.9</string>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.8</string>
			</dict>
		</dict>
	</dict>
	<key>YosemiteLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>Yosemite</string>
		<key>Search Field</key>
		<dict>
			<key>noResultsTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.55</string>
			</dict>
		</dict>
		<key>Search Result</key>
		<dict>
			<key>channelNameTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.25</string>
			</dict>
			<key>channelDescriptionTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.35</string>
			</dict>
			<key>keyboardShortcutTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.25</string>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>1.0</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
