<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEMPLATE APPEARANCE (NOT USED BY ANYTHING)</key>
	<dict>
		<key>Background View</key>
		<dict>
			<key>backgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>dividerColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>contentBorderPadding</key>
			<integer>0</integer>
		</dict>
		<key>Text View</key>
		<dict>
			<key>inset</key>
			<dict>
				<key>width</key>
				<integer>0</integer>
				<key>height</key>
				<integer>0</integer>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>placeholderTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>backgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>outlineColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>insideShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>insideGradient</key>
			<dict>
				<key>activeWindow</key>
				<array>
					<dict>
						<key>type</key>
						<integer>2</integer>
						<key>value</key>
						<string>0.0 0.0 0.0</string>
					</dict>
					<dict>
						<key>type</key>
						<integer>2</integer>
						<key>value</key>
						<string>0.0 0.0 0.0</string>
					</dict>
				</array>
				<key>inactiveWindow</key>
				<array>
					<dict>
						<key>type</key>
						<integer>2</integer>
						<key>value</key>
						<string>0.0 0.0 0.0</string>
					</dict>
					<dict>
						<key>type</key>
						<integer>2</integer>
						<key>value</key>
						<string>0.0 0.0 0.0</string>
					</dict>
				</array>
			</dict>
			<key>outsidePrimaryShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>outsideSecondaryShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontLarge</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontExtraLarge</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontHumongous</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
