<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>channelViewOverlayDefaultBackgroundColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.0 0.3</string>
			</dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.0 0.3</string>
			</dict>
		</dict>
		<key>defaultWindowSize</key>
		<dict>
			<key>width</key>
			<real>800</real>
			<key>height</key>
			<real>474</real>
		</dict>
		<key>splitViewDividerColor</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<string>0.65</string>
		</dict>
	</dict>
	<key>CommonModern</key>
	<dict>
		<key>comment</key>
		<string>Modern = Mojave and later</string>
		<key>inheritFrom</key>
		<string>Common</string>
		<key>titlebarAccessoryViewBackgroundColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.462 0.462 0.462</string>
			</dict>
		</dict>
	</dict>
	<key>CommonModernDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>CommonModern</string>
		<key>loadingScreenBackgroundColor</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>value</key>
			<string>windowBackgroundColor</string>
		</dict>
	</dict>
	<key>CommonModernLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>CommonModern</string>
		<key>loadingScreenBackgroundColor</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<string>1.0</string>
		</dict>
	</dict>
	<key>BigSur</key>
	<dict>
		<key>inheritFrom</key>
		<string>CommonModern</string>
		<key>titlebarAccessoryViewRightMargin</key>
		<integer>5</integer>
	</dict>
	<key>BigSurDark</key>
	<dict>
		<key>inheritFrom</key>
		<array>
			<string>CommonModernDark</string>
			<string>BigSur</string>
		</array>
	</dict>
	<key>BigSurLight</key>
	<dict>
		<key>inheritFrom</key>
		<array>
			<string>CommonModernLight</string>
			<string>BigSur</string>
		</array>
	</dict>
	<key>MojaveDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>CommonModernDark</string>
	</dict>
	<key>MojaveLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>CommonModernLight</string>
	</dict>
	<key>Yosemite</key>
	<dict>
		<key>loadingScreenBackgroundColor</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>value</key>
			<string>1.0</string>
		</dict>
		<key>titlebarAccessoryViewBackgroundColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.462 0.462 0.462</string>
			</dict>
		</dict>
	</dict>
	<key>YosemiteDark</key>
	<dict>
		<key>inheritFrom</key>
		<array>
			<string>CommonModernDark</string>
			<string>Yosemite</string>
		</array>
	</dict>
	<key>YosemiteLight</key>
	<dict>
		<key>inheritFrom</key>
		<array>
			<string>CommonModernLight</string>
			<string>Yosemite</string>
		</array>
	</dict>
</dict>
</plist>
