<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEMPLATE APPEARANCE (NOT USED BY ANYTHING)</key>
	<dict>
		<key>defaultWidth</key>
		<integer>0</integer>
		<key>minimumWidth</key>
		<integer>0</integer>
		<key>maximumWidth</key>
		<integer>0</integer>
		<key>backgroundColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
		</dict>
		<key>selectionColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
		</dict>
		<key>Server Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>rowHeight</key>
			<integer>0</integer>
			<key>selectionImage</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string></string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>topOffset</key>
			<integer>0</integer>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>rowHeight</key>
			<integer>0</integer>
			<key>selectionImage</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string></string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string></string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>erroneousTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>topOffset</key>
			<integer>0</integer>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>shadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.0 0.0</string>
				</dict>
			</dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<real>10</real>
			</dict>
			<key>minimumWidth</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>padding</key>
			<integer>0</integer>
			<key>textCenterYOffset</key>
			<integer>0</integer>
			<key>topOffset</key>
			<integer>0</integer>
			<key>rightMargin</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
