/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}	

body {
	color: #000000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #FFFFFF;
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[type=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute; 
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: #999999;
	white-space: nowrap; 
}

body[dir=rtl] .time {
	color: #999999;
	white-space: nowrap; 
	padding-left: 0.4em;
	display: inline-block;
}

/* Links */

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-bottom: -1px;
	padding-left: 10px;
}

a {
	color: #3297e5;
	border-color: #3297e5;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #BF5F00;
	border-color: #BF5F00;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #000;
	position: fixed;
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #b6b6b6;
	background: #e8ecf1;
	-webkit-transition: opacity 0.8s linear;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
  <https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
  overflow: visible;
  white-space: normal;
}
/* Images */

body a img {
	border: 0;
}

body img {
	display: block;
	max-width: 95%;
	margin: 15px 15px 12px 15px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #BBBBBB;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic {
	font-weight: 200;
	opacity: 0.5;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[type*=ctcp],
body div.line[type*=notice],
body div.line[type*=wallops] {
	color: #051428;
  	z-index: 191;
	background: #eff2f6;
  	position: relative;
 	padding: 3px 5px 3px 5px;
	border-top: 1px solid #a9c4e9;
	border-bottom: 1px solid #a9c4e9;
}

body div[type*=notice] .sender {
	color: #051428;
	font-weight: 700;
}

/* PRIVMSG */

body div.line[type*=privmsg][highlight=false] {
 	padding: 3px 5px 3px 5px;
}

body div.line[type*=privmsg][highlight=true],
body div.line[type*=action][highlight=true] {
 	padding: 3px 5px 3px 5px;
	border-top: 1px solid #cbc57f;
	border-bottom: 1px solid #cbc57f;
  	background-color: #fefbe1 !important;
}

body div[type*="privmsg"] .message {
	color: #555555;
}

body div[type*=privmsg] p[type*=myself] .message {
	color: #000000;
}

body div[type*=privmsg] .sender {
	font-weight: 700;
}

/* ACTION */

body div.line[type*=action] {
 	padding: 3px 5px 3px 5px;
}

body div[type*="action"] .message {
	color: #555555;
}

body div[type*=action] .sender {
	font-weight: 700;
}

body div[type*=action] p[type*=myself] .sender,
body div[type*=action] p[type*=myself] .message {
	color: #4AD309;
}

body[dir=ltr] div[type*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[type*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[type*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE/WHOIS */

body div.line[type*=invite],
body div.line[type*=debug],
body div.line[type*=rawhtml] {
	color: #343434;
  	z-index: 190;
	background: #f4f4f4;
  	position: relative;
 	padding: 3px 5px 3px 5px;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	margin-bottom: 1px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-top: 1px solid #BBBBBB;
	border-bottom: none;
	margin-bottom: 1px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	border-bottom: 1px solid #BBBBBB;
	margin-bottom: 1px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[type*=topic],
body div.line[type*=website] {
 	padding: 3px 5px 3px 5px;
	color: #6a6a6a;
}

body div.line[type*=join] {
 	padding: 3px 5px 3px 5px;
	color: #125400;
}

body div.line[type*=part] {
 	padding: 3px 5px 3px 5px;
	color: #753718;
}

body div.line[type*=quit] {
 	padding: 3px 5px 3px 5px;
	color: #002054;
}

body div.line[type*=nick] {
 	padding: 3px 5px 3px 5px;
	color: #450048;
}

body div.line[type*=mode] {
 	padding: 3px 5px 3px 5px;
	color: #005441;
}

body div.line[type*=kick],
body div.line[type*=kill] {
 	padding: 3px 5px 3px 5px;
	color: #9e1f1f;
}

body[dir=ltr] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=kick] .message:before,
body[dir=ltr] div[type*=part] .message:before,
body[dir=ltr] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=kick] .message:before,
body[dir=rtl] div[type*=part] .message:before,
body[dir=rtl] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body div[type*=privmsg] .sender[type*=myself] { 	
	color: #2b507a; 
}

body .sender[type*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] { 
	color: #07a2c3; 
}

body .sender[type*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] { 
	color: #9C9500; 
}

body .sender[type*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] { 
	color: #FF45FF; 
}

body .sender[type*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] { 
	color: #3F7C0D; 
}

body .sender[type*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] { 
	color: #B2120F; 
}

body .sender[type*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] { 
	color: #6bce85; 
}

body .sender[type*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] { 
	color: #151781; 
}

body .sender[type*=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] { 
	color: #472000; 
}

body .sender[type*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] { 
	color: #8A5E04; 
}

body .sender[type*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] { 
	color: #6838B4; 
}

body .sender[type*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] { 
	color: #5A153B; 
}

body .sender[type*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] { 
	color: #00595F; 
}

body .sender[type*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] { 
	color: #719818; 
}

body .sender[type*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] { 
	color: #0044A7; 
}

body .sender[type*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] { 
	color: #122852; 
}

body .sender[type*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] { 
	color: #35ad7c;
}

body .sender[type*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #706616;
}

body .sender[type*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #46799c;
}

body .sender[type*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #80372e;
}

body .sender[type*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #8F478E;
}

body .sender[type*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #5b9e4c;
}

body .sender[type*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #13826c;
}

body .sender[type*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #b13637;
}

body .sender[type*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #e45d59;
}

body .sender[type*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #1b51ae;
}

body .sender[type*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #4855ac;
}

body .sender[type*=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #7f1d86;
}

body .sender[type*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #73643f;
}

body .sender[type*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #0b9578;
}

body .sender[type*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #569c96;
}

body .sender[type*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #08465f;
}
