
<span class="inlineVideoService inlineTwitchLive" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="http://player.twitch.tv/?{{contentArgument}}={{contentIdentifier}}&autoplay=false"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>

