
<span class="inlineVideoService inlinePornhub" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="https://www.pornhub.com/embed/{{videoIdentifier}}"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
