
/* Inline media */

@import "inlineMedia.css";

/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	word-break: break-word;
}

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	font-size: 9px;
	overflow: hidden;
	background-color: #000;
	font-family: "Lucida Grande";
}

#body {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	/* overflow: none is added here, even though it is already
	 declared by body {} because on OS X Mavericks, there is a
	 weird quirk that causes the horizontal slider to appear
	 even though we only ask for the vertical one. */
	overflow: none;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Only factor in height of topic bar when selected == true
 because that is only time the topic is displayed according
 to the logic defined by baseLayout.css */
body[data-selected="true"][data-view-type="channel"] #body {
	max-height: calc(100% - 2.0em); /* height minus topic */
}

div.line {
 	margin-top: -1px;
	clear: both;
}

body[dir="rtl"] .sender {
	display: inline-block;
}

/* Scrolling */

body[data-custom-scroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[data-custom-scroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */

#loadingScreen {
	position: absolute;
	top: 45%;
	left: calc(50% - (320px / 2)); /* half of width + padding */
	width: 300px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir="ltr"] .time {
	color: #ffffff;
	white-space: nowrap;
}

body[dir="rtl"] .time {
	color: #ffffff;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topicBar {
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	position: fixed;
	background: #000;
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #1f1f1f;
	-webkit-box-shadow: 0 1px 5px #777;
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topicBar:hover {
	overflow: visible;
	white-space: normal;
}

#topicBar a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

#topicBar a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Remember Line */

#mark {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Message buffer loading animation */

.message_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.message_buffer_loading_indicator span {
	font-family: Optima !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #5a5a5a;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* Message buffer session indicator */

.session_indicator {
	display: flex;
	display: -webkit-flex;
	padding: 0.5em 0;
}

.session_indicator > hr {
	background: #606060;
	border: 0;
	height: 1px;
	margin-top: 0.6em;
	flex: 1;
	-webkit-flex: 1;
}

.session_indicator > span {
	font-style: oblique;
	margin: 0 1em;
	color: #d8d8d8;
}

.session_indicator + #mark {
	display: none;
}

/* NOTICE/CTCP/WALLOPS */

div.line[data-line-type="ctcp"],
div.line[data-line-type="notice"],
div.line[data-line-type="wallops"] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

div.line[data-line-type="notice"] .sender {
	color: #f00;
	font-weight: 700;
}

/* Selected User Messages */

.sender {
	cursor: pointer;
}

div.line[data-line-type="privmsg"]:not(.selectedUser),
div.line[data-line-type="action"]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

div.line[data-line-type="privmsg"] .time:not(.selectedUser),
div.line[data-line-type="action"] .time:not(.selectedUser) {
	transition: color 0.5s;
}

div.line.selectedUser[data-highlight="false"] .time {
	transition: color 0.5s ease-in;
	color: #aaa;
}

div.line.selectedUser[data-line-type="privmsg"][data-member-type="myself"] .time {
	color: #fff;
}

div.line.selectedUser[data-highlight="false"] {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-top: 1px solid #CC7A03 !important;
	border-bottom: 1px solid #CC7A03 !important;
  	background-color: rgba(244, 151, 75, 0.25) !important;
}

/* PRIVMSG */

div.line[data-line-type="privmsg"][data-highlight="false"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div.line[data-line-type="privmsg"][data-highlight="true"],
div.line[data-line-type="action"][data-highlight="true"] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #06c793;
	border-bottom: 1px solid #06c793;
  	background-color: rgba(18, 93, 53, 0.6) !important;
}

div[data-line-type="privmsg"] .message {
	color: #aaa;
}

div.line[data-line-type="privmsg"][data-member-type="myself"] .message {
	color: #fff;
}

div.line[data-line-type="privmsg"] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* ACTION */

div.line[data-line-type="action"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div[data-line-type="action"] .message {
	color: #00ff9c;
}

div.line[data-line-type="action"] .sender {
	font-weight: 700;
}

div.line[data-line-type="action"][data-member-type="myself"] .sender,
div.line[data-line-type="action"][data-member-type="myself"] .message {
	color: #00ff9c;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

div.line[data-line-type="invite"],
div.line[data-line-type="debug"],
div.line[data-line-type="dcc-file-transfer"],
div.line[data-line-type="off-the-record-encryption-status"] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

/* off-the-record-encryption-status Message Event */
div.line[data-line-type="off-the-record-encryption-status"] .message {
	color: #ff0000;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

div.line[data-command="372"],
div.line[data-command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[data-command="375"],
div.line[data-command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

div.line[data-command="376"],
div.line[data-command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[data-command="372"] .message,
div.line[data-command="375"] .message,
div.line[data-command="376"] .message
div.line[data-command="720"] .message,
div.line[data-command="721"] .message,
div.line[data-command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

div.line[data-line-type="join"],
div.line[data-line-type="part"],
div.line[data-line-type="kick"],
div.line[data-line-type="quit"],
div.line[data-line-type="kill"],
div.line[data-line-type="nick"],
div.line[data-line-type="mode"],
div.line[data-line-type="website"],
div.line[data-line-type="topic"] {
 	padding: 3px 5px 3px 5px;
	color: #666;
}

body[dir="ltr"] div.line[data-line-type="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="join"] .message {
  	color: #b589ff;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="kick"] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="part"] .message:before,
body[dir="ltr"] div.line[data-line-type="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="kick"] .message {
  	color: #ff3d3d;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="part"] .message {
  	color: #ffae01;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="quit"] .message {
  	color: #ffee7a;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="nick"] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="nick"] .message {
  	color: #0090ff;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="mode"] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="mode"] .message {
  	color: #9c9c9c;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="topic"] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[data-line-type="topic"] .message {
  	color: #00ffa2;
  	margin-right: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="join"] .message {
  	color: #b589ff;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="kick"] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="part"] .message:before,
body[dir="rtl"] div.line[data-line-type="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="kick"] .message {
  	color: #ff3d3d;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="part"] .message {
  	color: #ffae01;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="quit"] .message {
  	color: #ffee7a;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="nick"] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="nick"] .message {
  	color: #0090ff;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="mode"] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="mode"] .message {
  	color: #9c9c9c;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="topic"] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[data-line-type="topic"] .message {
  	color: #00ffa2;
  	margin-left: 0.4em;
}

/* Nickname Colors */

.inlineSender {
	font-weight: 700;
}

div.line[data-line-type="privmsg"] .sender[data-member-type="myself"] {
	color: #B8DFFF;
}
