*~
*~.*
.DS_Store
.LSOverride
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.pyc
.tmp
build
Build Results
xcuserdata
*.xcworkspace
Resources/Build Configurations/Provisioning Profile.xcconfig
Resources/Documents/Header Documentation/Results/*
Resources/Scripting/Script Files/Textual Extras Installer/Installation Files/Extensions/*
Resources/Scripting/Script Files/Textual Extras Installer/Packages/MACAPPSTORE/*
Resources/Scripting/Script Files/Textual Extras Installer/Packages/STANDALONE/*
