.DS_Store
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.pyc
build/
._build/
BuildResults/
*~
Debug.xcconfig
Resources/Plugins/Compiled
.LSOverride
xcuserdata
Frameworks/Blowfish Encryption/BlowfishEncryption.framework
Frameworks/Auto Hyperlinks/AutoHyperlinks.framework
*.xcworkspace
