*~
*~.*
.DS_Store
.LSOverride
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.pyc
.tmp
build
Build Results
xcuserdata
*.xcworkspace
Sources/App/Resources/Scripting/Script Files/Textual Extras Installer/Installation Files/Extensions/*
Sources/App/Resources/Scripting/Script Files/Textual Extras Installer/Packages/MACAPPSTORE/*
Sources/App/Resources/Scripting/Script Files/Textual Extras Installer/Packages/STANDALONE/*
!/Configurations/Build
