[submodule "Frameworks/Auto Hyperlinks"]
	path = Frameworks/Auto Hyperlinks
	url = https://github.com/Codeux-Software/Auto-Hyperlinks.git
[submodule "Frameworks/Cocoa Extensions"]
	path = Frameworks/Cocoa Extensions
	url = https://github.com/Codeux-Software/Cocoa-Extensions.git
[submodule "Frameworks/Encryption Kit"]
	path = Frameworks/Encryption Kit
	url = https://github.com/Codeux-Software/Encryption-Kit.git
[submodule "Frameworks/Static Libraries"]
	path = Frameworks/Static Libraries
	url = https://github.com/Codeux-Software/Static-Libraries.git
[submodule "Frameworks/Apple Receipt Loader"]
	path = Frameworks/Apple Receipt Loader
	url = https://github.com/Codeux-Software/Apple-Receipt-Loader.git
