[submodule "Frameworks/Auto Hyperlinks"]
	path = Frameworks/Auto Hyperlinks
	url = https://github.com/Codeux-Software/Auto-Hyperlinks.git
[submodule "Frameworks/Cocoa Extensions"]
	path = Frameworks/Cocoa Extensions
	url = https://github.com/Codeux-Software/Cocoa-Extensions.git
[submodule "Frameworks/Encryption Kit"]
	path = Frameworks/Encryption Kit
	url = https://github.com/Codeux-Software/Encryption-Kit.git
[submodule "Frameworks/Static Libraries"]
	path = Frameworks/Static Libraries
	url = https://github.com/Codeux-Software/Static-Libraries.git
[submodule "Sources/Plugins/Sample Code/Swift Bot"]
	path = Sources/Plugins/Sample Code/Swift Bot
	url = https://github.com/Codeux/Textual-Swift-Plugin.git
