
// This is the code signing identity used by the Developer ID Release
// and Debug builds of Textual. This is all you should have to edit,
// but if you really want to edit everything then look at the "App
// Store Release" configuration file. That supersedes this value when
// that configuration is being targetted.

CODE_SIGN_IDENTITY = Developer ID Application
