
// Code signing identity used by the Debug and Release build
// configurations of Textual. Trial builds have their own
// own configuration file for this. This code signing
// identity is inherited by both the frameworks and
// extensions built by Textual.

CODE_SIGN_IDENTITY = 3rd Party Mac Developer Application
