#include "Base Configuration.xcconfig"

OTHER_CODE_SIGN_FLAGS = 
CODE_SIGN_IDENTITY = Mac Developer

PROVISIONING_PROFILE_SPECIFIER = Mac App: com.codeux.apps.textual-mas

GCC_PREPROCESSOR_DEFINITIONS = TEXTUAL_BUILT_INSIDE_SANDBOX=1 TEXTUAL_BUILT_WITH_HOCKEYAPP_SDK_ENABLED=1 TEXTUAL_HOCKEYAPP_SDK_METRICS_ENABLED=0 TEXTUAL_BUILT_WITH_ICLOUD_SUPPORT=1 TEXTUAL_BUILT_FOR_APP_STORE_DISTRIBUTION=1

TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual-mas
TEXTUAL_GROUP_CONTAINER_IDENTIFIER = 8482Q6EPL6.com.codeux.irc.textual
TEXTUAL_BUILD_SCHEME_TOKEN = appstore
