#include "Shared Developer ID Release Configuration.xcconfig"

CODE_SIGN_IDENTITY = 3rd Party Mac Developer Application
OTHER_CODE_SIGN_FLAGS = --deep
CODE_SIGN_ENTITLEMENTS = Resources/Sandbox/Exceptions/Textual.entitlements

PROVISIONING_PROFILE = 090015D2-3F7A-4E26-B5B2-B178AD435D0B

GCC_PREPROCESSOR_DEFINITIONS = TEXTUAL_BUILT_WITH_ICLOUD_SUPPORT=1 TEXTUAL_BUILT_FOR_APP_STORE_DISTRIBUTION=1
