#include "Base Configuration.xcconfig"

GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG TEXTUAL_BUILT_WITH_LICENSE_MANAGER=1 TEXTUAL_PRIMARY_PUBLIC_HEADER_ENABLED=1
VERSION_INFO_BUILDER = ${USER}
ONLY_ACTIVE_ARCH = YES
ENABLE_NS_ASSERTIONS = YES
RUN_CLANG_STATIC_ANALYZER = NO

TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_GROUP_CONTAINER_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_BUILD_SCHEME_TOKEN = debug
