
#include "Base Configuration.xcconfig"

// This configuration is designed for the XPC Services folder of
// Textual and assumes that the paths are relative to that location.

TEXTUAL_PROJECT_ROOT = ${SRCROOT}/../../

OBJROOT = ${TEXTUAL_PROJECT_ROOT}/.tmp/SharedBuildResults-XPCServices

SYMROOT = ${OBJROOT}
BUILD_DIR = ${OBJROOT}
TARGET_TEMP_DIR = ${OBJROOT}
SHARED_PRECOMPS_DIR = ${TEXTUAL_PROJECT_ROOT}/.tmp/SharedBuildPCH
CONFIGURATION_BUILD_DIR = ${TEXTUAL_PROJECT_ROOT}/.tmp/SharedBuildProducts-XPCServices

CODE_SIGN_ENTITLEMENTS = ${TEXTUAL_PROJECT_ROOT}/Resources/Sandbox/Entitlements/Auxiliary.entitlements

HEADER_SEARCH_PATHS = "${TEXTUAL_PROJECT_ROOT}/Classes/Headers/**"
LIBRARY_SEARCH_PATHS = "${TEXTUAL_PROJECT_ROOT}/Frameworks/**"
FRAMEWORK_SEARCH_PATHS = "${TEXTUAL_PROJECT_ROOT}/Frameworks/**" "${TEXTUAL_PROJECT_ROOT}/.tmp/SharedBuildResults-Frameworks/**"

DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES

WRAPPER_EXTENSION = xpc

PROVISIONING_PROFILE =
PROVISIONING_PROFILE_SPECIFIER = 

GCC_PREFIX_HEADER =

// XPC services share header files with files that import TextualApplication.h
// when we access these files, we don't want the primary header trying to import
// every possible file. To work aroudn this, we declare the define
// TEXTUAL_PRIMARY_PUBLIC_HEADER_DISABLED
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TEXTUAL_PRIMARY_PUBLIC_HEADER_DISABLED=1

LD_RUNPATH_SEARCH_PATHS = @loader_path/../../../../Frameworks
