#include "Shared Developer ID Release Configuration.xcconfig"

CODE_SIGN_IDENTITY = 3rd Party Mac Developer Application
OTHER_CODE_SIGN_FLAGS = --deep
CODE_SIGN_ENTITLEMENTS = Resources/Sandbox/Exceptions/Textual.entitlements

PROVISIONING_PROFILE = 00454C0F-DA18-4EE9-B621-653DAEDFCDEA

GCC_PREPROCESSOR_DEFINITIONS = TEXTUAL_BUILT_WITH_ICLOUD_SUPPORT=1