
<span class="inlineVideoService inlineDailymotion" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="https://www.dailymotion.com/embed/video/{{videoIdentifier}}"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
