<div	ltype="{{lineType}}"
{{^isRemoteMessage}}
		mtype="{{lineType}}"
{{/isRemoteMessage}}
		command="{{rawCommand}}"
		highlight="{{highlightAttributeRepresentation}}"
		class="line {{lineClassAttributeRepresentation}}"
		id="line-{{lineNumber}}"
		time="{{lineRenderTime}}">

	<p>
	<span class="time">{{formattedTimestamp}} </span>

{{#isEncrypted}}
	{{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}

		<span class="message" ltype="{{lineType}}">
			<span class="sender"
				onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
				oncontextmenu="Textual.openStandardNicknameContextualMenu()"
				mtype="{{nicknameType}}"
				nickname="{{nickname}}"
				{{#nicknameColorHashingEnabled}}
					colornumber="{{nicknameColorNumber}}"
				{{/nicknameColorHashingEnabled}}><span class="senderDot">&bull;</span>{{formattedNickname}}</span>
					{{{formattedMessage}}}&nbsp;

					{{#inlineMediaAvailable}}
						{{#inlineMediaArray}}
							<a href="{{{anchorLink}}}" onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}')"><img src="{{{imageURL}}}" class="inlineimage" id="inlineImage-{{anchorInlineImageUniqueID}}" style="display: none; max-width: {{preferredMaximumWidth}}px;" title="Hide image by shift clicking." /></a>
						{{/inlineMediaArray}}
					{{/inlineMediaAvailable}}
		</span>
	</p>
</div>
