{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div 	ltype="{{lineType}}"

{{^isRemoteMessage}}
        mtype="{{nicknameType}}"
{{/isRemoteMessage}}

{{#isEncrypted}}
        encrypted="true"
{{/isEncrypted}}

        command="{{rawCommand}}"
        highlight="{{highlightAttributeRepresentation}}"
        class="line {{lineClassAttributeRepresentation}}"
        id="line-{{lineNumber}}">

    <p>
        <span class="time">{{formattedTimestamp}} </span>

{{#isEncrypted}}
    {{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}

        <span class="message" ltype="{{lineType}}">
            <span class="senderContainer">
                <span class="swrapper">&lt;</span><span class="sender"
                    onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
                    oncontextmenu="Textual.openStandardNicknameContextualMenu()"
                    mtype="{{nicknameType}}"
                    nickname="{{nickname}}"
                    {{#nicknameColorHashingEnabled}}
                        colornumber="{{nicknameColorNumber}}"
                    {{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span><span class="swrapper">&gt;</span>
            </span>
            <span class="innerMessage">
                    {{{formattedMessage}}}

                    {{#inlineMediaAvailable}}
                        {{#inlineMediaArray}}

                        <span class="inlineImageCell" id="inlineImage-{{anchorInlineImageUniqueID}}" style="display: none;">
                            <span class="closeButton" href="#" onclick="Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}', false);">×</span>

                            <a href="{{{anchorLink}}}" onclick="return InlineImageLiveResize.negateAnchorOpen()">
                                <img src="{{{imageURL}}}" class="image" style="max-width: {{preferredMaximumWidth}}px;" />
                            </a>
                        </span>

                        {{/inlineMediaArray}}
                    {{/inlineMediaAvailable}}
            </span>
        </span>
    </p>
</div>
