
<span class="inlineVideoService inlineVimeo" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="540"
		height="304"
		src="https://player.vimeo.com/video/{{videoIdentifier}}"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
