
#include "../Common/Foundation.xcconfig"
#include "Enabled Features.xcconfig"
#include "../Common/Textual.xcconfig"

TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_GROUP_CONTAINER_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_BUILD_SCHEME_TOKEN = devid

TEXTUAL_EXTENSION_BUILD_SCHEME = Release
TEXTUAL_FRAMEWORK_BUILD_SCHEME = Release
TEXTUAL_XPC_SERVICE_BUILD_SCHEME = Release

CODE_SIGN_ENTITLEMENTS = ${PROJECT_DIR}/Resources/Sandbox/Entitlements/TextualStandardReleaseSandboxed.entitlements
