<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
	<title>DISTRIBUTION_TITLE</title>
   
    <background file="installerBackground.png" scaling="proportional" alignment="bottomleft"/>
    
    <welcome file="Welcome.rtf"/>
    
    <options customize="always" require-scripts="false"/>
   
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.8"/>
        </allowed-os-versions>
    </volume-check>
    
    <!-- These functions could be simplified but I prefer less ambiguity. -->
    <script>
	<![CDATA[
		    
		function script_np_itunes_enabled() {
			return system.compareVersions(system.version.ProductVersion, '10.15') < 0;
		}
			
		function script_np_music_enabled() {
			return system.compareVersions(system.version.ProductVersion, '10.15') >= 0;
		}

	]]>
	</script>
   
    <choices-outline>
        <line choice="installer_choice_1">
            <line choice="installer_choice_1_1"/>
            <line choice="installer_choice_1_2"/>
            <line choice="installer_choice_1_3"/>
        </line>
        <line choice="installer_choice_2">
            <line choice="installer_choice_2_1"/>
            <line choice="installer_choice_2_2"/>
            <line choice="installer_choice_2_3"/>
        </line>
        
<!--
        <line choice="installer_choice_3">
            <line choice="installer_choice_3_1"/>
            <line choice="installer_choice_3_2"/>
        </line>
-->
    </choices-outline>
   
    <choice id="installer_choice_1_1" start_selected="false" title="INSTALLER_CHOICE_1_1_TITLE" description="INSTALLER_CHOICE_1_1_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo"/>
        <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo-np-iTunes"/>
        <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo-np-Music"/>
    </choice>
    <choice id="installer_choice_1_2" start_selected="false" title="INSTALLER_CHOICE_1_2_TITLE" description="INSTALLER_CHOICE_1_2_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-Fun"/>
    </choice>
    <choice id="installer_choice_1_3" start_selected="false" title="INSTALLER_CHOICE_1_3_TITLE" description="INSTALLER_CHOICE_1_3_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-Utilities"/>
    </choice>
    <choice id="installer_choice_1" title="INSTALLER_CHOICE_1_TITLE" description="INSTALLER_CHOICE_1_DESCRIPTION"/>
    
    <choice id="installer_choice_2_1" start_selected="false" title="INSTALLER_CHOICE_2_1_TITLE" description="INSTALLER_CHOICE_2_1_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-BlowfishEncryption"/>
    </choice>
    <choice id="installer_choice_2_2" start_selected="false"  title="INSTALLER_CHOICE_2_2_TITLE" description="INSTALLER_CHOICE_2_2_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-Caffeine"/>
    </choice>
    <choice id="installer_choice_2_3" start_selected="false" title="INSTALLER_CHOICE_2_3_TITLE" description="INSTALLER_CHOICE_2_3_DESCRIPTION">
        <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-WikiStyleLinkParser"/>
    </choice>
    <choice id="installer_choice_2" title="INSTALLER_CHOICE_2_TITLE" description="INSTALLER_CHOICE_2_DESCRIPTION"/>
   
<!--
    <choice id="installer_choice_3_1" start_selected="false" title="INSTALLER_CHOICE_3_1_TITLE" description="INSTALLER_CHOICE_3_1_DESCRIPTION">
        <pkg-ref id="de.incnet.TXTunes-installer"/>
    </choice>
    <choice id="installer_choice_3_2" start_selected="false" title="INSTALLER_CHOICE_3_2_TITLE" description="INSTALLER_CHOICE_3_2_DESCRIPTION">
        <pkg-ref id="de.incnet.txurldumper-installer"/>
    </choice>
    <choice id="installer_choice_3" start_visible="false" start_enabled="false" title="INSTALLER_CHOICE_3_TITLE" description=""/>
 -->
 
    <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo" version="1.4">#Scripts-AudioVideo.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo-np-iTunes" version="1.0" active="script_np_itunes_enabled()">#Scripts-AudioVideo-np-iTunes.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-AudioVideo-np-Music" version="1.0" active="script_np_music_enabled()">#Scripts-AudioVideo-np-Music.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-Fun" version="1.3">#Scripts-Fun.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-scripts-installer-Utilities" version="1.3">#Scripts-Utilities.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-BlowfishEncryption" version="1.0.9">#Extension-BlowfishEncryption.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-Caffeine" version="1.0.4">#Extension-Caffeine.pkg</pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-WikiStyleLinkParser" version="1.0.4">#Extension-WikiStyleLinkParser.pkg</pkg-ref>

    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-BlowfishEncryption">
        <must-close>
	        <app id="com.codeux.apps.textual"/>
	        <app id="com.codeux.apps.textual-mas"/>
        </must-close>
    </pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-Caffeine">
        <must-close>
	        <app id="com.codeux.apps.textual"/>
	        <app id="com.codeux.apps.textual-mas"/>
        </must-close>
    </pkg-ref>
    <pkg-ref id="com.codeux.app-extensions.textual-extension-installer-WikiStyleLinkParser">
        <must-close>
	        <app id="com.codeux.apps.textual"/>
	        <app id="com.codeux.apps.textual-mas"/>
        </must-close>
    </pkg-ref>

<!--
    <pkg-ref id="de.incnet.TXTunes-installer" version="1.0.0">#de.incnet.TXTunes.pkg</pkg-ref>
    <pkg-ref id="de.incnet.txurldumper-installer" version="1.0.0">#de.incnet.txurldumper.pkg</pkg-ref>
-->

    <domains enable_localSystem="false" enable_currentUserHome="true" enable_anywhere="false"/>
</installer-gui-script>