/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
  	line-height: 160%;
}	

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	overflow: hidden;
	overflow-y: visible;
	background-color: #000;
}

body .sender, body .place {
	width: 105px;
	display: inline-block;
	margin-right: -16em;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-indent: 2em;
}

body div#body_home p {
	clear: both;
	position: relative;
}

p span.message {
	clear: none;
	margin-left: 16em;
	text-indent: 16px;
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	max-height: 97.5%;
	position: absolute;
}

body div#body_home div {
 	margin-top: -1px;
}

/* Time */
		
body .time {
	color: #444;
	text-indent: 0;
	word-wrap: normal;
	white-space: nowrap;
	display: inline-block;
	text-shadow: 0 0 2px #000;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 400;
	position: fixed;
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#141414));
	padding: 3px 5px 3px;
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0 1px 8px #333;
	font: 11px HelveticaNeue !important;
}

/* Images */

body a img {
    border: 0;
}

body img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
}

/* Remember Line */

div[id=mark] {
  position: relative;
  z-index: 295;
  margin-top: -1px;
  border-bottom: 1px dashed;
  border-color: #444;
  -webkit-transition: 0.2s linear;
}

/* Nickname Colors */

body div[type=privmsg] .sender[type=myself],
body div[type=action] .sender[type=myself] { 
	color: #3eb4e5; 
}

body .sender[type=normal][colornumber='0'] { color: #f00; }
body .sender[type=normal][colornumber='1'] { color: #d55e19; }
body .sender[type=normal][colornumber='2'] { color: #ed9600; }
body .sender[type=normal][colornumber='3'] { color: #ffe200; }
body .sender[type=normal][colornumber='4'] { color: #ff0; }
body .sender[type=normal][colornumber='5'] { color: #d8e900; }
body .sender[type=normal][colornumber='6'] { color: #aeda00; }
body .sender[type=normal][colornumber='7'] { color: #2b6dbf; }
body .sender[type=normal][colornumber='8'] { color: #009d88; }
body .sender[type=normal][colornumber='9'] { color: #005fc6; }
body .sender[type=normal][colornumber='10'] { color: #6bbeff; }
body .sender[type=normal][colornumber='11'] { color: #6b00aa; }
body .sender[type=normal][colornumber='12'] { color: #885fe6; }
body .sender[type=normal][colornumber='13'] { color: #B8DFFF; }
body .sender[type=normal][colornumber='14'] { color: #bb0003; }
body .sender[type=normal][colornumber='15'] { color: #76a87f; }

/* NOTICE/CTCP/WALLOPS */

body div[type=notice],
body div[type=ctcp],
body div[type=wallops] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

body div[type=ctcp],
body div[type=wallops] {
 	padding: 2px 2px 2px 2px;
	margin-left: 0px;
}

body div[type=notice] {
	padding: 2px 5px 1px;
}

body div[type=notice] .sender {
	color: #f00;
    margin-right: -110px;
}

body div[type=notice] span.message {
    margin-left: 110px;
}

body div[type=ctcp] span.message {
    margin-left: 110px;
}

body div[type=wallops] span.message {
	padding-left: 16px;
}

/* PRIVMSG */

body div[type=privmsg][highlight=false]  {
 	padding: 2px 5px 1px 5px;
}

body div[type=privmsg] .message {
	color: #aaa;
}

body div[type=privmsg][highlight=true],
body div[type=action][highlight=true] {
	font-weight: normal;
 	padding: 1px 5px 1px 5px;
	border-top: 1px solid #1240AB;
	border-bottom: 1px solid #1240AB;
  	background-color: #06266F;
  	opacity: 0.7;
}

body div[type=privmsg][highlight=true] .sender,
body div[type=action][highlight=true] .sender{
	text-shadow: 0 0 2px #000;
}

body div[type=action][highlight=true] .message {
	text-shadow: 0 0 2px #000;
}

body div[type=privmsg][highlight=true] .message {
	color: #fff !important;
	text-shadow: 0 0 2px #000;
}

body div[type=privmsg] p[type=myself] .message {
	color: #fff;
}

/* ACTION */

body div[type=action]  {
 	padding: 2px 5px 1px 5px;
}

body div[type=action] .message {
	color: #4666d1;
}

body div[type=action] .sender {
	font-weight: 700;
}

body div[type=action] p[type=myself] .sender,
body div[type=action] p[type=myself] .message {
	color: #4666d1;
}

body div[type=action] .sender:before {
	content: "\2022";
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -13px;
	white-space:nowrap;
	text-align: right;
	font-weight: 700;
	color: #4666d1;
}

body div[type=action] .sender:after {
	content: "";
}

/* REPLY/SYSTEM/ERROR/DCC/DEBUG/INVITE */

body div[type=invite],
body div[type=reply],
body div[type=system],
body div[type=error],
body div[type=error_reply],
body div[type=dcc_send_send],
body div[type=dcc_send_receive],
body div[type=debug_send],
body div[type=debug_receive] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 2px;
	margin-left: 0px;
}

body div[type=invite] span.time,
body div[type=reply] span.time,
body div[type=system] span.time,
body div[type=error] span.time,
body div[type=error_reply] span.time,
body div[type=dcc_send_send] span.time,
body div[type=dcc_send_receive] span.time,
body div[type=debug_send] span.time,
body div[type=debug_receive] span.time {
	padding-right: 16px;
    margin-left: 3px;
    margin-right: -85px;
}

/* GENERAL EVENT */

body div[type=join],
body div[type=part],
body div[type=kick],
body div[type=quit],
body div[type=kill],
body div[type=mode],
body div[type=nick],
body div[type=website],
body div[type=topic] {
    color: #424242;
	padding: 1px 5px 1px;
	text-align: left;
}

body div[type=join] .message,
body div[type=kick] .message,
body div[type=quit] .message,
body div[type=kill] .message,
body div[type=nick] .message,
body div[type=mode] .message,
body div[type=website] .message,
body div[type=topic] .message {
	margin-left: 107px;
}

body div[type=join] .message:before {
	content: "→";
  	color: #0c0;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -33px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

body div[type=kick] .message:before {
	content: "←";
  	color: #e00;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -33px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

body div[type=part] .message:before {
	content: "←";
  	color: #e00;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -102px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

body div[type=quit] .message:before {
	content: "←";
  	color: #e00;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -33px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

/* Nickname Colors */

body .inline_nickname {
    font-weight: 700;
}

body div[type=privmsg] .sender[type=myself],
body div[type=action] .sender[type=myself] { 
	color: #3eb4e5; 
}

body .sender[type=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #cb5d5a; 
}

body .sender[type=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #a3bf75; 
}

body .sender[type=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #9b85b3; 
}

body .sender[type=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #C083F2; 
}

body .sender[type=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #8bd3e5; 
}

body .sender[type=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #f4a36c; 
}

body .sender[type=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #75ade1; 
}

body .sender[type=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] {
	color: #ffbfbd; 
}

body .sender[type=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #b2cc00; 
}

body .sender[type=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #96ff00; 
}

body .sender[type=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #05ffaa; 
}

body .sender[type=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #ffe982; 
}

body .sender[type=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #aadeff; 
}

body .sender[type=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #36ff15; 
}

body .sender[type=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #ff6076; 
}

body .sender[type=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #8e908f; 
}

body .sender[type=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #006699;
}

body .sender[type=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #993300;
}

body .sender[type=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #CC66CC;
}

body .sender[type=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #FF9999;
}

body .sender[type=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #996699;
}

body .sender[type=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #3399CC;
}

body .sender[type=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #FF0066;
}

body .sender[type=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #CC6633;
}

body .sender[type=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #CCFF00;
}

body .sender[type=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #FFFFCC;
}

body .sender[type=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #996666;
}

body .sender[type=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #00CC00;
}

body .sender[type=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #9933FF;
}

body .sender[type=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #99CCCC;
}

body .sender[type=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #CC3300;
}

/* mIRC Color Codes */

.effect[color-number='0'] { color: #ffffff; }
.effect[color-number='1'] { color: #000000; }
.effect[color-number='2'] { color: #000088; }
.effect[color-number='3'] { color: #008800; }
.effect[color-number='4'] { color: #ff0000; }
.effect[color-number='5'] { color: #880000; }
.effect[color-number='6'] { color: #880088; }
.effect[color-number='7'] { color: #ff8800; }
.effect[color-number='8'] { color: #ffff00; }
.effect[color-number='9'] { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0'] { background-color: #ffffff; }
.effect[bgcolor-number='1'] { background-color: #000000; }
.effect[bgcolor-number='2'] { background-color: #000088; }
.effect[bgcolor-number='3'] { background-color: #008800; }
.effect[bgcolor-number='4'] { background-color: #ff0000; }
.effect[bgcolor-number='5'] { background-color: #880000; }
.effect[bgcolor-number='6'] { background-color: #880088; }
.effect[bgcolor-number='7'] { background-color: #ff8800; }
.effect[bgcolor-number='8'] { background-color: #ffff00; }
.effect[bgcolor-number='9'] { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
