
copyrightOwner => Codeux Software, LLC.

defaultFrameName => index.html
masterTOCName => indexTableOfContents.html

apiUIDPrefix => textual_ref

ignorePrefixes => TEXTUAL_EXTERN

htmlHeader => 
htmlHeaderFile =>
htmlFooter => 
htmlFooterFile =>

suppressDefaultStyles => 0
suppressDefaultJavaScript => 0

TOCFormat => default

stripDotH => 0

dateFormat => %A, %B %d, %Y

textStyle =>
commentStyle => background:#ffffff; color:#236e25
preprocessorStyle => background:#ffffff; color:#236e25
funcNameStyle => background:#ffffff; color:#000000;
stringStyle => background: #ffffff; color:#891315;
charStyle => background: #ffffff; color:#0000ff;
numberStyle => background: #ffffff; color:#0000ff;
keywordStyle => background:#ffffff; color:#761550;
typeStyle => background:#ffffff; color:#761550;
paramStyle => background:#ffffff; color:#000000;
varStyle => background:#ffffff; color:#000000;
templateStyle => background:#ffffff; color:#761550;

groupHierLimit => 100
groupHierSubgroupLimit => 30

cCompiler => /usr/bin/cc
