
<span class="inlineVideoService inlineLiveleak" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="https://www.liveleak.com/ll_embed?i={{videoIdentifier}}"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
