<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TEMPLATE APPEARANCE (NOT USED BY ANYTHING)</key>
	<dict>
		<key>defaultWindowHeight</key>
		<integer>0</integer>
		<key>Search Field</key>
		<dict>
			<key>controlTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>completionTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>noResultsTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
		</dict>
		<key>Search Result</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>channelNameTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>channelDescriptionTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>keyboardShortcutTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
			<key>keyboardShortcutDeselectedTopOffset</key>
			<integer>0</integer>
			<key>keyboardShortcutSelectedTextOffset</key>
			<integer>0</integer>
			<key>selectedTextColor</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.0 0.0 0.0</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
