<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict>
		<key>defaultWidth</key>
		<integer>190</integer>
		<key>minimumWidth</key>
		<integer>120</integer>
		<key>maximumWidth</key>
		<integer>300</integer>
		<key>Server Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<true/>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<true/>
		</dict>
	</dict>
	<key>Mojave</key>
	<dict>
		<key>inheritFrom</key>
		<string>Common</string>
		<key>Server Cell</key>
		<dict>
			<key>rowHeight</key>
			<integer>22</integer>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>SystemBold</string>
				<key>size</key>
				<integer>13</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>SystemBold</string>
				<key>size</key>
				<integer>13</integer>
			</dict>
			<key>topOffset</key>
			<integer>2</integer>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowHeight</key>
			<integer>20</integer>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>topOffset</key>
			<integer>2</integer>
			<key>topOffset@2x</key>
			<real>1.5</real>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>SystemMonospace</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>SystemMonospace</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>minimumWidth</key>
			<integer>22</integer>
			<key>height</key>
			<integer>14</integer>
			<key>padding</key>
			<integer>6</integer>
			<key>topOffset</key>
			<integer>1</integer>
			<key>rightMargin</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>MojaveDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mojave</string>
		<key>Server Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowEmphasized</key>
			<false/>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>erroneousTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.85 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.85 0.0 0.0</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.15</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.15</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0117 0.1562 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0117 0.1562 0.0</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.1 0.1 0.1</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.1 0.1 0.1</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MojaveLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mojave</string>
		<key>Server Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>erroneousTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.8203 0.0585 0.0585</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.8203 0.0585 0.0585</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232 0.7</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232 0.7</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117 0.7</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117 0.7</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Yosemite</key>
	<dict>
		<key>inheritFrom</key>
		<string>Common</string>
		<key>Server Cell</key>
		<dict>
			<key>rowHeight</key>
			<integer>22</integer>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>SystemBold</string>
				<key>size</key>
				<integer>13</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>SystemBold</string>
				<key>size</key>
				<integer>13</integer>
			</dict>
			<key>topOffset</key>
			<integer>3</integer>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowHeight</key>
			<integer>20</integer>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>System</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>topOffset</key>
			<integer>3</integer>
			<key>topOffset@2x</key>
			<real>2.5</real>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>SystemMonospace</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>SystemMonospace</string>
				<key>size</key>
				<integer>11</integer>
			</dict>
			<key>minimumWidth</key>
			<integer>22</integer>
			<key>height</key>
			<integer>14</integer>
			<key>padding</key>
			<integer>6</integer>
			<key>topOffset</key>
			<integer>1</integer>
			<key>rightMargin</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>YosemiteDark</key>
	<dict>
		<key>inheritFrom</key>
		<string>Yosemite</string>
		<key>selectionColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.2</string>
			</dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>value</key>
				<string>0.2</string>
			</dict>
		</dict>
		<key>Server Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.8</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.8</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.4</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.8</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.8</string>
				</dict>
			</dict>
			<key>erroneousTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.85 0.0 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.85 0.0 0.0</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.15</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.15</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0117 0.1562 0.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0117 0.1562 0.0</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.1 0.1 0.1</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.1 0.1 0.1</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>YosemiteLight</key>
	<dict>
		<key>inheritFrom</key>
		<string>Yosemite</string>
		<key>Server Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.25</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.55</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>erroneousTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.8203 0.0585 0.0585</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.8203 0.0585 0.0585</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232 0.7</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232 0.7</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117 0.7</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117 0.7</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.232 0.232 0.232</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Mavericks</key>
	<dict>
		<key>inheritFrom</key>
		<string>Common</string>
		<key>Server Cell</key>
		<dict>
			<key>rowHeight</key>
			<real>21</real>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Lucida Grande</string>
				<key>size</key>
				<integer>12</integer>
				<key>weight</key>
				<integer>15</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>Lucida Grande</string>
				<key>size</key>
				<integer>12</integer>
				<key>weight</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>rowHeight</key>
			<real>20</real>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Lucida Grande</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>Lucida Grande</string>
				<key>size</key>
				<integer>12</integer>
				<key>weight</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Helvetica</string>
				<key>size</key>
				<real>10.5</real>
				<key>weight</key>
				<integer>9</integer>
			</dict>
			<key>fontSelected</key>
			<dict>
				<key>name</key>
				<string>Helvetica</string>
				<key>size</key>
				<real>10.5</real>
				<key>weight</key>
				<integer>9</integer>
			</dict>
			<key>minimumWidth</key>
			<integer>22</integer>
			<key>height</key>
			<integer>14</integer>
			<key>padding</key>
			<integer>6</integer>
			<key>rightMargin</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>MavericksDarkAqua</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mavericks</string>
		<key>backgroundColor</key>
		<dict>
			<key>activeWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.148 0.148 0.148</string>
			</dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.148 0.148 0.148</string>
			</dict>
		</dict>
		<key>Server Cell</key>
		<dict>
			<key>selectionImage</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>MavericksDarkServerCellSelection</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>MavericksDarkServerCellSelection</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.66 0.66 0.66</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.66 0.66 0.66</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.14 0.14 0.14</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.14 0.14 0.14</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.3</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.3</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>selectionImage</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>MavericksDarkChannelCellSelection</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>MavericksDarkChannelCellSelection</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.9</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.14 0.14 0.14</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.14 0.14 0.14</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.3</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.3</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.187 0.187 0.187</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.187 0.187 0.187</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>darkGrayColor</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>darkGrayColor</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<real>1</real>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>shadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.234 0.234 0.234</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.234 0.234 0.234</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MavericksLightAqua</key>
	<dict>
		<key>inheritFrom</key>
		<string>Mavericks</string>
		<key>backgroundColor</key>
		<dict>
			<key>inactiveWindow</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>value</key>
				<string>0.901 0.901 0.901</string>
			</dict>
		</dict>
		<key>Server Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>outlineViewHeaderTextColor</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>outlineViewHeaderTextColor</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>outlineViewHeaderDisabledTextColor</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>3</integer>
					<key>value</key>
					<string>outlineViewHeaderDisabledTextColor</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.3</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.3</string>
				</dict>
			</dict>
		</dict>
		<key>Channel Cell</key>
		<dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.8</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.8</string>
				</dict>
			</dict>
			<key>normalTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
			</dict>
			<key>disabledTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.35</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.35</string>
				</dict>
			</dict>
			<key>disabledTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextShadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.48</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>0.0 0.3</string>
				</dict>
			</dict>
		</dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.593 0.656 0.789</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.593 0.656 0.789</string>
				</dict>
			</dict>
			<key>selectedBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>highlightBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.0 0.414 0.117</string>
				</dict>
			</dict>
			<key>normalTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<real>1</real>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>selectedTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.617 0.66 0.769</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.617 0.66 0.769</string>
				</dict>
			</dict>
			<key>highlightTextColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0</string>
				</dict>
			</dict>
			<key>shadowColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>value</key>
					<string>1.0 0.6</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MavericksDarkGraphite</key>
	<dict>
		<key>inheritFrom</key>
		<string>MavericksDarkAqua</string>
	</dict>
	<key>MavericksLightGraphite</key>
	<dict>
		<key>Unread Badge</key>
		<dict>
			<key>normalBackgroundColor</key>
			<dict>
				<key>activeWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.512 0.574 0.636</string>
				</dict>
				<key>inactiveWindow</key>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>value</key>
					<string>0.512 0.574 0.636</string>
				</dict>
			</dict>
		</dict>
		<key>inheritFrom</key>
		<string>MavericksLightAqua</string>
	</dict>
</dict>
</plist>
