<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zen.spamhaus.org</key>
	<dict>
		<key>host</key>
		<string>zen.spamhaus.org</string>
		<key>name</key>
		<string>Spamhaus ZEN</string>
		<key>returnValues</key>
		<dict>
			<key>127.0.0.2</key>
			<string>Static UBE sources, verified spam services (hosting or support) and ROKSO spammers</string>
			<key>127.0.0.3</key>
			<string>Static UBE sources, verified spam services (hosting or support) and ROKSO spammers</string>
			<key>127.0.0.4</key>
			<string>Illegal 3rd-party exploits, including proxies, worms and trojan exploits</string>
			<key>127.0.0.5</key>
			<string>Illegal 3rd-party exploits, including proxies, worms and trojan exploits</string>
			<key>127.0.0.6</key>
			<string>Illegal 3rd-party exploits, including proxies, worms and trojan exploits</string>
			<key>127.0.0.7</key>
			<string>Illegal 3rd-party exploits, including proxies, worms and trojan exploits</string>
			<key>127.0.0.10</key>
			<string>IP ranges which should not be delivering unauthenticated SMTP email.</string>
			<key>127.0.0.11</key>
			<string>IP ranges which should not be delivering unauthenticated SMTP email.</string>
		</dict>
	</dict>
	<key>rbl.efnetrbl.org</key>
	<dict>
		<key>host</key>
		<string>rbl.efnetrbl.org</string>
		<key>name</key>
		<string>EFnet RBL</string>
		<key>returnValues</key>
		<dict>
			<key>127.0.0.1</key>
			<string>Open Proxy</string>
			<key>127.0.0.2</key>
			<string>Trojan Spreader</string>
			<key>127.0.0.3</key>
			<string>Trojan Infected Client</string>
			<key>127.0.0.4</key>
			<string>TOR Exit Server</string>
			<key>127.0.0.5</key>
			<string>Drones / Flooding</string>
		</dict>
	</dict>
</dict>
</plist>
