/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
  	line-height: 160%;
}	

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	overflow: hidden;
	overflow-y: visible;
	background-color: #000;
}

body .sender, body .place {
	width: 151px;
	display: inline-block;
	margin-right: -16em;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-indent: 2em;
}

body div#body_home p {
	clear: both;
	position: relative;
}

p span.message {
	clear: none;
	margin-left: 16em;
	text-indent: 0px;
	word-break: break-all;
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	max-height: 97.5%;
	position: absolute;
}

body div#body_home div {
 	margin-top: -1px;
}

/* Time */
		
body .time {
	color: #444;
	text-indent: 0;
	word-wrap: normal;
	white-space: nowrap;
	display: inline-block;
	text-shadow: 0 0 2px #000;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	color: #CCC;
	z-index: 400;
	position: fixed;
	background: #333;
	padding: 3px 5px 3px;
	font-family: Monaco;
	border-bottom: 1px solid #525252;
	-webkit-box-shadow: 0 1px 8px #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
}

/* Images */

body a img {
    border: 0;
}

body img {
    display: block;
    max-width: 600px;
    max-height: 150px;
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* NOTICE/CTCP/WALLOPS */

body div[type=notice],
body div[type=ctcp],
body div[type=wallops] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

body div[type=ctcp],
body div[type=wallops] {
 	padding: 2px 2px 2px 2px;
	margin-left: 0px;
}

body div[type=notice] {
 	padding: 2px 2px 2px 2px;	
}

body div[type=notice] .sender {
	color: #f00;
	margin-right: -158px;
}

body div[type=notice] span.message,
body div[type=ctcp] span.message,
body div[type=wallops] span.message {
	padding-left: 16px;
}

/* PRIVMSG */

body div[type=privmsg][highlight=false]  {
 	padding: 2px 5px 1px 5px;
}

body div[type=privmsg] .message {
	color: #aaa;
}

body div[type=privmsg][highlight=true],
body div[type=action][highlight=true] {
	font-weight: normal;
 	padding: 1px 5px 1px 5px;
	border-top: 1px solid #980000;
	border-bottom: 1px solid #980000;
  	background-color: #360000;
}

body div[type=privmsg][highlight=true] .sender,
body div[type=action][highlight=true] .sender{
	text-shadow: 0 0 2px #000;
}

body div[type=action][highlight=true] .message {
	text-shadow: 0 0 2px #000;
}

body div[type=privmsg][highlight=true] .message {
	color: #fff !important;
	text-shadow: 0 0 2px #000;
}

body div[type=privmsg] p[type=myself] .message {
	color: #fff;
}

/* ACTION */

body div[type=action]  {
 	padding: 2px 5px 1px 5px;
}

body div[type=action] .message {
	color: #B52CF6;
}

body div[type=action] .sender {
	font-weight: 700;
}

body div[type=action] p[type=myself] .sender,
body div[type=action] p[type=myself] .message {
	color: #B52CF6;
}

body div[type=action] .sender:before {
	content: "\2022";
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -13px;
	white-space:nowrap;
	text-align: right;
	font-weight: 700;
	color: #B52CF6;
}

body div[type=action] .sender:after {
	content: "";
}

/* REPLY/SYSTEM/ERROR/DEBUG/INVITE */

body div[type=invite],
body div[type=reply],
body div[type=system],
body div[type=error],
body div[type=error_reply],
body div[type=debug_send],
body div[type=debug_receive] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 2px;
	margin-left: 0px;
}

body div[type=invite] span.time,
body div[type=reply] span.time,
body div[type=system] span.time,
body div[type=error] span.time,
body div[type=error_reply] span.time,
body div[type=debug_send] span.time,
body div[type=debug_receive] span.time {
	padding-right: 16px;
}

/* GENERAL EVENT */

body div[type=join],
body div[type=part],
body div[type=kick],
body div[type=quit],
body div[type=kill],
body div[type=mode],
body div[type=nick],
body div[type=website],
body div[type=topic] {
    color: #666;
	padding: 2px 5px 1px;
}

body div[type=kill] .message,
body div[type=nick] .message,
body div[type=mode] .message,
body div[type=website] .message,
body div[type=topic] .message {
    color: #666;
    padding-left: 14px;
}

body div[type=join] .message:before {
	content: "->";
  	color: #0c0;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -6px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

body div[type=kick] .message:before,
body div[type=part] .message:before,
body div[type=quit] .message:before {
	content: "<-";
  	color: #e00;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -6px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

body div[type=nick] .message:before {
	content:"•";
  	color: #a7a7a7;
  	margin-right: 6px;
  	display: inline-block;
  	clear: none;
	margin-left: -13px;
	white-space:nowrap;
	overflow: hidden;
	text-align: right;
	font-weight: 700;
}

/* Nickname Colors */

body div[type=privmsg] .sender[type=myself],
body div[type=action] .sender[type=myself] { 
	color: #FFF; 
}

body .sender[type=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #f00; 
}

body .sender[type=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #d55e19; 
}

body .sender[type=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #ed9600; 
}

body .sender[type=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #ffe200; 
}

body .sender[type=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #ff0; 
}

body .sender[type=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #d8e900; 
}

body .sender[type=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #aeda00; 
}

body .sender[type=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] {
	color: #5aae00; 
}

body .sender[type=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #009d88; 
}

body .sender[type=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #005fc6; 
}

body .sender[type=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #6bbeff; 
}

body .sender[type=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #6b00aa; 
}

body .sender[type=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #885fe6; 
}

body .sender[type=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #B8DFFF; 
}

body .sender[type=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #bb0003; 
}

body .sender[type=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #76a87f; 
}

body .sender[type=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #706616;
}

body .sender[type=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #46799c;
}

body .sender[type=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #80372e;
}

body .sender[type=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #8F478E;
}

body .sender[type=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #5b9e4c;
}

body .sender[type=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #13826c;
}

body .sender[type=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #b13637;
}

body .sender[type=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #e45d59;
}

body .sender[type=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #1b51ae;
}

body .sender[type=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #4855ac;
}

body .sender[type=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #7f1d86;
}

body .sender[type=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #73643f;
}

body .sender[type=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #0b9578;
}

body .sender[type=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #569c96;
}

body .sender[type=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #08465f;
}

/* mIRC Color Codes */

.effect[color-number='0'] { color: #ffffff; }
.effect[color-number='1'] { color: #000000; }
.effect[color-number='2'] { color: #000088; }
.effect[color-number='3'] { color: #008800; }
.effect[color-number='4'] { color: #ff0000; }
.effect[color-number='5'] { color: #880000; }
.effect[color-number='6'] { color: #880088; }
.effect[color-number='7'] { color: #ff8800; }
.effect[color-number='8'] { color: #ffff00; }
.effect[color-number='9'] { color: #00ff00; }
.effect[color-number='10'] { color: #008888; }
.effect[color-number='11'] { color: #00ffff; }
.effect[color-number='12'] { color: #0000ff; }
.effect[color-number='13'] { color: #ff00ff; }
.effect[color-number='14'] { color: #888888; }
.effect[color-number='15'] { color: #cccccc; }

.effect[bgcolor-number='0'] { background-color: #ffffff; }
.effect[bgcolor-number='1'] { background-color: #000000; }
.effect[bgcolor-number='2'] { background-color: #000088; }
.effect[bgcolor-number='3'] { background-color: #008800; }
.effect[bgcolor-number='4'] { background-color: #ff0000; }
.effect[bgcolor-number='5'] { background-color: #880000; }
.effect[bgcolor-number='6'] { background-color: #880088; }
.effect[bgcolor-number='7'] { background-color: #ff8800; }
.effect[bgcolor-number='8'] { background-color: #ffff00; }
.effect[bgcolor-number='9'] { background-color: #00ff00; }
.effect[bgcolor-number='10'] { background-color: #008888; }
.effect[bgcolor-number='11'] { background-color: #00ffff; }
.effect[bgcolor-number='12'] { background-color: #0000ff; }
.effect[bgcolor-number='13'] { background-color: #ff00ff; }
.effect[bgcolor-number='14'] { background-color: #888888; }
.effect[bgcolor-number='15'] { background-color: #cccccc; }
