
<div
	data-command="{{command}}"
	data-line-type="{{lineType}}"

{{^isRemoteMessage}}
	data-member-type="{{nicknameType}}"
{{/isRemoteMessage}}

	data-timestamp="{{timestamp}}"
	class="line {{lineClassAttribute}}"
	id="line-{{lineNumber}}">

	<span class="sender"></span>

	<span class="message">{{{formattedMessage}}}</span>

	<span class="time"

	{{^ isEmpty(localizedTimestamp) }}
	title="{{localizedTimestamp}}"
	{{/ isEmpty(localizedTimestamp) }}>{{formattedTimestamp}} </span>
</div>
