<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>:-)</key>
	<string>😊</string>
	<key>:)</key>
	<string>😊</string>
	<key>:o)</key>
	<string>😊</string>
	<key>:]</key>
	<string>😊</string>
	<key>:3</key>
	<string>😊</string>
	<key>:c)</key>
	<string>😊</string>
	<key>:&gt;</key>
	<string>😊</string>
	<key>=]</key>
	<string>😊</string>
	<key>8)</key>
	<string>😊</string>
	<key>=)</key>
	<string>😊</string>
	<key>:}</key>
	<string>😊</string>
	<key>:^)</key>
	<string>😊</string>
	<key>:っ)</key>
	<string>😊</string>
	<key>:-D</key>
	<string>😃</string>
	<key>:D</key>
	<string>😃</string>
	<key>8-D</key>
	<string>😃</string>
	<key>8D</key>
	<string>😃</string>
	<key>x-D</key>
	<string>😃</string>
	<key>xD</key>
	<string>😃</string>
	<key>X-D</key>
	<string>😃</string>
	<key>XD</key>
	<string>😃</string>
	<key>=-D</key>
	<string>😃</string>
	<key>=D</key>
	<string>😃</string>
	<key>=-3</key>
	<string>😃</string>
	<key>=3</key>
	<string>😃</string>
	<key>B^D</key>
	<string>😃</string>
	<key>;D</key>
	<string>😄</string>
	<key>;)</key>
	<string>😉</string>
	<key>;P</key>
	<string>😜</string>
	<key>;p</key>
	<string>😜</string>
	<key>&gt;:P</key>
	<string>😝</string>
	<key>:-P</key>
	<string>😝</string>
	<key>:P</key>
	<string>😝</string>
	<key>X-P</key>
	<string>😝</string>
	<key>x-p</key>
	<string>😝</string>
	<key>:-p</key>
	<string>😝</string>
	<key>:p</key>
	<string>😝</string>
	<key>=p</key>
	<string>😝</string>
	<key>:-Þ</key>
	<string>😝</string>
	<key>:Þ</key>
	<string>😝</string>
	<key>:-b</key>
	<string>😝</string>
	<key>:b</key>
	<string>😝</string>
	<key>o_o</key>
	<string>😳</string>
	<key>O_O</key>
	<string>😳</string>
	<key>o_O</key>
	<string>😳</string>
	<key>O_o</key>
	<string>😳</string>
	<key>0_o</key>
	<string>😳</string>
	<key>o_0</key>
	<string>😳</string>
	<key>0_0</key>
	<string>😳</string>
	<key>:@</key>
	<string>😡</string>
	<key>&gt;.&lt;</key>
	<string>😣</string>
	<key>&gt;_&lt;</key>
	<string>😫</string>
	<key>:(</key>
	<string>😞</string>
	<key>:-(</key>
	<string>😞</string>
	<key>n_n</key>
	<string>😄</string>
	<key>u_u</key>
	<string>😔</string>
	<key>^_^&apos;</key>
	<string>😅</string>
	<key>^_^</key>
	<string>😄</string>
	<key>^.^</key>
	<string>😊</string>
	<key>x.x</key>
	<string>😵</string>
	<key>X.x</key>
	<string>😵</string>
	<key>X.X</key>
	<string>😵</string>
	<key>x_x</key>
	<string>😵</string>
	<key>x_X</key>
	<string>😵</string>
	<key>X_x</key>
	<string>😵</string>
	<key>X_X</key>
	<string>😵</string>
	<key>x.X</key>
	<string>😵</string>
	<key>DD:</key>
	<string>😫</string>
	<key>D:&lt;</key>
	<string>😧</string>
	<key>D:</key>
	<string>😧</string>
	<key>D;</key>
	<string>😧</string>
	<key>D=</key>
	<string>😧</string>
	<key>v.v</key>
	<string>😧</string>
	<key>D-&apos;:</key>
	<string>😧</string>
	<key>:s</key>
	<string>😖</string>
	<key>:S</key>
	<string>😖</string>
	<key>._.&apos;</key>
	<string>😰</string>
	<key>._.</key>
	<string>😞</string>
	<key>;_;</key>
	<string>😢</string>
	<key>;__;</key>
	<string>😢</string>
	<key>T_T</key>
	<string>😭</string>
	<key>T.T</key>
	<string>😭</string>
	<key>:-|</key>
	<string>😐</string>
	<key>:|</key>
	<string>😐</string>
	<key>:o</key>
	<string>😯</string>
	<key>:-o</key>
	<string>😯</string>
	<key>:O</key>
	<string>😱</string>
	<key>:-O</key>
	<string>😱</string>
	<key>:0</key>
	<string>😱</string>
	<key>:-0</key>
	<string>😱</string>
	<key>-_-</key>
	<string>😑</string>
	<key>:***</key>
	<string>😘</string>
	<key>:**</key>
	<string>😘</string>
	<key>:*</key>
	<string>😚</string>
	<key>:/</key>
	<string>😕</string>
	<key>:-/</key>
	<string>😕</string>
	<key>;/</key>
	<string>😕</string>
	<key>;-/</key>
	<string>😕</string>
	<key>&lt;3</key>
	<string>❤</string>
	<key>&gt;:</key>
	<string>😡</string>
	<key>&gt;.&gt;</key>
	<string>😒</string>
	<key>&gt;_&gt;</key>
	<string>😒</string>
	<key>&lt;_&lt;</key>
	<string>😒</string>
	<key>&lt;.&lt;</key>
	<string>😒</string>
</dict>
</plist>
