<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>:+1:</key>
	<string>👍</string>
	<key>:-1:</key>
	<string>👎</string>
	<key>:100:</key>
	<string>💯</string>
	<key>:1234:</key>
	<string>🔢</string>
	<key>:8ball:</key>
	<string>🎱</string>
	<key>:a:</key>
	<string>🅰</string>
	<key>:ab:</key>
	<string>🆎</string>
	<key>:abc:</key>
	<string>🔤</string>
	<key>:abcd:</key>
	<string>🔡</string>
	<key>:accept:</key>
	<string>🉑</string>
	<key>:aerial_tramway:</key>
	<string>🚡</string>
	<key>:airplane:</key>
	<string>✈</string>
	<key>:alarm_clock:</key>
	<string>⏰</string>
	<key>:alien:</key>
	<string>👽</string>
	<key>:ambulance:</key>
	<string>🚑</string>
	<key>:anchor:</key>
	<string>⚓</string>
	<key>:angel:</key>
	<string>👼</string>
	<key>:anger:</key>
	<string>💢</string>
	<key>:angry:</key>
	<string>😠</string>
	<key>:anguished:</key>
	<string>😧</string>
	<key>:ant:</key>
	<string>🐜</string>
	<key>:apple:</key>
	<string>🍎</string>
	<key>:aquarius:</key>
	<string>♒</string>
	<key>:aries:</key>
	<string>♈</string>
	<key>:arrow_backward:</key>
	<string>◀</string>
	<key>:arrow_double_down:</key>
	<string>⏬</string>
	<key>:arrow_double_up:</key>
	<string>⏫</string>
	<key>:arrow_down:</key>
	<string>⬇</string>
	<key>:arrow_down_small:</key>
	<string>🔽</string>
	<key>:arrow_forward:</key>
	<string>▶</string>
	<key>:arrow_heading_down:</key>
	<string>⤵</string>
	<key>:arrow_heading_up:</key>
	<string>⤴</string>
	<key>:arrow_left:</key>
	<string>⬅</string>
	<key>:arrow_lower_left:</key>
	<string>↙</string>
	<key>:arrow_lower_right:</key>
	<string>↘</string>
	<key>:arrow_right:</key>
	<string>➡</string>
	<key>:arrow_right_hook:</key>
	<string>↪</string>
	<key>:arrow_up:</key>
	<string>⬆</string>
	<key>:arrow_up_down:</key>
	<string>↕</string>
	<key>:arrow_up_small:</key>
	<string>🔼</string>
	<key>:arrow_upper_left:</key>
	<string>↖</string>
	<key>:arrow_upper_right:</key>
	<string>↗</string>
	<key>:arrows_clockwise:</key>
	<string>🔃</string>
	<key>:arrows_counterclockwise:</key>
	<string>🔄</string>
	<key>:art:</key>
	<string>🎨</string>
	<key>:articulated_lorry:</key>
	<string>🚛</string>
	<key>:astonished:</key>
	<string>😲</string>
	<key>:athletic_shoe:</key>
	<string>👟</string>
	<key>:atm:</key>
	<string>🏧</string>
	<key>:b:</key>
	<string>🅱</string>
	<key>:baby:</key>
	<string>👶</string>
	<key>:baby_bottle:</key>
	<string>🍼</string>
	<key>:baby_chick:</key>
	<string>🐤</string>
	<key>:baby_symbol:</key>
	<string>🚼</string>
	<key>:back:</key>
	<string>🔙</string>
	<key>:baggage_claim:</key>
	<string>🛄</string>
	<key>:balloon:</key>
	<string>🎈</string>
	<key>:ballot_box_with_check:</key>
	<string>☑</string>
	<key>:bamboo:</key>
	<string>🎍</string>
	<key>:banana:</key>
	<string>🍌</string>
	<key>:bangbang:</key>
	<string>‼</string>
	<key>:bank:</key>
	<string>🏦</string>
	<key>:bar_chart:</key>
	<string>📊</string>
	<key>:barber:</key>
	<string>💈</string>
	<key>:baseball:</key>
	<string>⚾</string>
	<key>:basketball:</key>
	<string>🏀</string>
	<key>:bath:</key>
	<string>🛀</string>
	<key>:bathtub:</key>
	<string>🛁</string>
	<key>:battery:</key>
	<string>🔋</string>
	<key>:bear:</key>
	<string>🐻</string>
	<key>:bee:</key>
	<string>🐝</string>
	<key>:beer:</key>
	<string>🍺</string>
	<key>:beers:</key>
	<string>🍻</string>
	<key>:beetle:</key>
	<string>🐞</string>
	<key>:beginner:</key>
	<string>🔰</string>
	<key>:bell:</key>
	<string>🔔</string>
	<key>:bento:</key>
	<string>🍱</string>
	<key>:bicyclist:</key>
	<string>🚴</string>
	<key>:bike:</key>
	<string>🚲</string>
	<key>:bikini:</key>
	<string>👙</string>
	<key>:bird:</key>
	<string>🐦</string>
	<key>:birthday:</key>
	<string>🎂</string>
	<key>:black_circle:</key>
	<string>⚫</string>
	<key>:black_joker:</key>
	<string>🃏</string>
	<key>:black_large_square:</key>
	<string>⬛</string>
	<key>:black_medium_small_square:</key>
	<string>◾</string>
	<key>:black_medium_square:</key>
	<string>◼</string>
	<key>:black_nib:</key>
	<string>✒</string>
	<key>:black_small_square:</key>
	<string>▪</string>
	<key>:black_square_button:</key>
	<string>🔲</string>
	<key>:blossom:</key>
	<string>🌼</string>
	<key>:blowfish:</key>
	<string>🐡</string>
	<key>:blue_book:</key>
	<string>📘</string>
	<key>:blue_car:</key>
	<string>🚙</string>
	<key>:blue_heart:</key>
	<string>💙</string>
	<key>:blush:</key>
	<string>😊</string>
	<key>:boar:</key>
	<string>🐗</string>
	<key>:boat:</key>
	<string>⛵</string>
	<key>:bomb:</key>
	<string>💣</string>
	<key>:book:</key>
	<string>📖</string>
	<key>:bookmark:</key>
	<string>🔖</string>
	<key>:bookmark_tabs:</key>
	<string>📑</string>
	<key>:books:</key>
	<string>📚</string>
	<key>:boom:</key>
	<string>💥</string>
	<key>:boot:</key>
	<string>👢</string>
	<key>:bouquet:</key>
	<string>💐</string>
	<key>:bow:</key>
	<string>🙇</string>
	<key>:bowling:</key>
	<string>🎳</string>
	<key>:boy:</key>
	<string>👦</string>
	<key>:bread:</key>
	<string>🍞</string>
	<key>:bride_with_veil:</key>
	<string>👰</string>
	<key>:bridge_at_night:</key>
	<string>🌉</string>
	<key>:briefcase:</key>
	<string>💼</string>
	<key>:broken_heart:</key>
	<string>💔</string>
	<key>:bug:</key>
	<string>🐛</string>
	<key>:bulb:</key>
	<string>💡</string>
	<key>:bullettrain_front:</key>
	<string>🚅</string>
	<key>:bullettrain_side:</key>
	<string>🚄</string>
	<key>:bus:</key>
	<string>🚌</string>
	<key>:busstop:</key>
	<string>🚏</string>
	<key>:bust_in_silhouette:</key>
	<string>👤</string>
	<key>:busts_in_silhouette:</key>
	<string>👥</string>
	<key>:cactus:</key>
	<string>🌵</string>
	<key>:cake:</key>
	<string>🍰</string>
	<key>:calendar:</key>
	<string>📆</string>
	<key>:calling:</key>
	<string>📲</string>
	<key>:camel:</key>
	<string>🐫</string>
	<key>:camera:</key>
	<string>📷</string>
	<key>:cancer:</key>
	<string>♋</string>
	<key>:candy:</key>
	<string>🍬</string>
	<key>:capital_abcd:</key>
	<string>🔠</string>
	<key>:capricorn:</key>
	<string>♑</string>
	<key>:car:</key>
	<string>🚗</string>
	<key>:card_index:</key>
	<string>📇</string>
	<key>:carousel_horse:</key>
	<string>🎠</string>
	<key>:cat2:</key>
	<string>🐈</string>
	<key>:cat:</key>
	<string>🐱</string>
	<key>:cd:</key>
	<string>💿</string>
	<key>:chart:</key>
	<string>💹</string>
	<key>:chart_with_downwards_trend:</key>
	<string>📉</string>
	<key>:chart_with_upwards_trend:</key>
	<string>📈</string>
	<key>:checkered_flag:</key>
	<string>🏁</string>
	<key>:cherries:</key>
	<string>🍒</string>
	<key>:cherry_blossom:</key>
	<string>🌸</string>
	<key>:chestnut:</key>
	<string>🌰</string>
	<key>:chicken:</key>
	<string>🐔</string>
	<key>:children_crossing:</key>
	<string>🚸</string>
	<key>:chocolate_bar:</key>
	<string>🍫</string>
	<key>:christmas_tree:</key>
	<string>🎄</string>
	<key>:church:</key>
	<string>⛪</string>
	<key>:cinema:</key>
	<string>🎦</string>
	<key>:circus_tent:</key>
	<string>🎪</string>
	<key>:city_sunrise:</key>
	<string>🌇</string>
	<key>:city_sunset:</key>
	<string>🌆</string>
	<key>:cl:</key>
	<string>🆑</string>
	<key>:clap:</key>
	<string>👏</string>
	<key>:clapper:</key>
	<string>🎬</string>
	<key>:clipboard:</key>
	<string>📋</string>
	<key>:clock1030:</key>
	<string>🕥</string>
	<key>:clock10:</key>
	<string>🕙</string>
	<key>:clock1130:</key>
	<string>🕦</string>
	<key>:clock11:</key>
	<string>🕚</string>
	<key>:clock1230:</key>
	<string>🕧</string>
	<key>:clock12:</key>
	<string>🕛</string>
	<key>:clock130:</key>
	<string>🕜</string>
	<key>:clock1:</key>
	<string>🕐</string>
	<key>:clock230:</key>
	<string>🕝</string>
	<key>:clock2:</key>
	<string>🕑</string>
	<key>:clock330:</key>
	<string>🕞</string>
	<key>:clock3:</key>
	<string>🕒</string>
	<key>:clock430:</key>
	<string>🕟</string>
	<key>:clock4:</key>
	<string>🕓</string>
	<key>:clock530:</key>
	<string>🕠</string>
	<key>:clock5:</key>
	<string>🕔</string>
	<key>:clock630:</key>
	<string>🕡</string>
	<key>:clock6:</key>
	<string>🕕</string>
	<key>:clock730:</key>
	<string>🕢</string>
	<key>:clock7:</key>
	<string>🕖</string>
	<key>:clock830:</key>
	<string>🕣</string>
	<key>:clock8:</key>
	<string>🕗</string>
	<key>:clock930:</key>
	<string>🕤</string>
	<key>:clock9:</key>
	<string>🕘</string>
	<key>:closed_book:</key>
	<string>📕</string>
	<key>:closed_lock_with_key:</key>
	<string>🔐</string>
	<key>:closed_umbrella:</key>
	<string>🌂</string>
	<key>:cloud:</key>
	<string>☁</string>
	<key>:clubs:</key>
	<string>♣</string>
	<key>:cocktail:</key>
	<string>🍸</string>
	<key>:coffee:</key>
	<string>☕</string>
	<key>:cold_sweat:</key>
	<string>😰</string>
	<key>:collision:</key>
	<string>💥</string>
	<key>:computer:</key>
	<string>💻</string>
	<key>:confetti_ball:</key>
	<string>🎊</string>
	<key>:confounded:</key>
	<string>😖</string>
	<key>:confused:</key>
	<string>😕</string>
	<key>:congratulations:</key>
	<string>㊗</string>
	<key>:construction:</key>
	<string>🚧</string>
	<key>:construction_worker:</key>
	<string>👷</string>
	<key>:convenience_store:</key>
	<string>🏪</string>
	<key>:cookie:</key>
	<string>🍪</string>
	<key>:cool:</key>
	<string>🆒</string>
	<key>:cop:</key>
	<string>👮</string>
	<key>:copyright:</key>
	<string>©</string>
	<key>:corn:</key>
	<string>🌽</string>
	<key>:couple:</key>
	<string>👫</string>
	<key>:couple_with_heart:</key>
	<string>💑</string>
	<key>:couplekiss:</key>
	<string>💏</string>
	<key>:cow2:</key>
	<string>🐄</string>
	<key>:cow:</key>
	<string>🐮</string>
	<key>:credit_card:</key>
	<string>💳</string>
	<key>:crescent_moon:</key>
	<string>🌙</string>
	<key>:crocodile:</key>
	<string>🐊</string>
	<key>:crossed_flags:</key>
	<string>🎌</string>
	<key>:crown:</key>
	<string>👑</string>
	<key>:cry:</key>
	<string>😢</string>
	<key>:crying_cat_face:</key>
	<string>😿</string>
	<key>:crystal_ball:</key>
	<string>🔮</string>
	<key>:cupid:</key>
	<string>💘</string>
	<key>:curly_loop:</key>
	<string>➰</string>
	<key>:currency_exchange:</key>
	<string>💱</string>
	<key>:curry:</key>
	<string>🍛</string>
	<key>:custard:</key>
	<string>🍮</string>
	<key>:customs:</key>
	<string>🛃</string>
	<key>:cyclone:</key>
	<string>🌀</string>
	<key>:dancer:</key>
	<string>💃</string>
	<key>:dancers:</key>
	<string>👯</string>
	<key>:dango:</key>
	<string>🍡</string>
	<key>:dart:</key>
	<string>🎯</string>
	<key>:dash:</key>
	<string>💨</string>
	<key>:date:</key>
	<string>📅</string>
	<key>:deciduous_tree:</key>
	<string>🌳</string>
	<key>:department_store:</key>
	<string>🏬</string>
	<key>:diamond_shape_with_a_dot_inside:</key>
	<string>💠</string>
	<key>:diamonds:</key>
	<string>♦</string>
	<key>:disappointed:</key>
	<string>😞</string>
	<key>:disappointed_relieved:</key>
	<string>😥</string>
	<key>:dizzy:</key>
	<string>💫</string>
	<key>:dizzy_face:</key>
	<string>😵</string>
	<key>:do_not_litter:</key>
	<string>🚯</string>
	<key>:dog2:</key>
	<string>🐕</string>
	<key>:dog:</key>
	<string>🐶</string>
	<key>:dollar:</key>
	<string>💵</string>
	<key>:dolls:</key>
	<string>🎎</string>
	<key>:dolphin:</key>
	<string>🐬</string>
	<key>:door:</key>
	<string>🚪</string>
	<key>:doughnut:</key>
	<string>🍩</string>
	<key>:dragon:</key>
	<string>🐉</string>
	<key>:dragon_face:</key>
	<string>🐲</string>
	<key>:dress:</key>
	<string>👗</string>
	<key>:dromedary_camel:</key>
	<string>🐪</string>
	<key>:droplet:</key>
	<string>💧</string>
	<key>:dvd:</key>
	<string>📀</string>
	<key>:e-mail:</key>
	<string>📧</string>
	<key>:ear:</key>
	<string>👂</string>
	<key>:ear_of_rice:</key>
	<string>🌾</string>
	<key>:earth_africa:</key>
	<string>🌍</string>
	<key>:earth_americas:</key>
	<string>🌎</string>
	<key>:earth_asia:</key>
	<string>🌏</string>
	<key>:egg:</key>
	<string>🍳</string>
	<key>:eggplant:</key>
	<string>🍆</string>
	<key>:eight_pointed_black_star:</key>
	<string>✴</string>
	<key>:eight_spoked_asterisk:</key>
	<string>✳</string>
	<key>:electric_plug:</key>
	<string>🔌</string>
	<key>:elephant:</key>
	<string>🐘</string>
	<key>:email:</key>
	<string>✉</string>
	<key>:end:</key>
	<string>🔚</string>
	<key>:envelope:</key>
	<string>✉</string>
	<key>:envelope_with_arrow:</key>
	<string>📩</string>
	<key>:euro:</key>
	<string>💶</string>
	<key>:european_castle:</key>
	<string>🏰</string>
	<key>:european_post_office:</key>
	<string>🏤</string>
	<key>:evergreen_tree:</key>
	<string>🌲</string>
	<key>:exclamation:</key>
	<string>❗</string>
	<key>:expressionless:</key>
	<string>😑</string>
	<key>:eyeglasses:</key>
	<string>👓</string>
	<key>:eyes:</key>
	<string>👀</string>
	<key>:facepunch:</key>
	<string>👊</string>
	<key>:factory:</key>
	<string>🏭</string>
	<key>:fallen_leaf:</key>
	<string>🍂</string>
	<key>:family:</key>
	<string>👪</string>
	<key>:fast_forward:</key>
	<string>⏩</string>
	<key>:fax:</key>
	<string>📠</string>
	<key>:fearful:</key>
	<string>😨</string>
	<key>:feet:</key>
	<string>🐾</string>
	<key>:ferris_wheel:</key>
	<string>🎡</string>
	<key>:file_folder:</key>
	<string>📁</string>
	<key>:fire:</key>
	<string>🔥</string>
	<key>:fire_engine:</key>
	<string>🚒</string>
	<key>:fireworks:</key>
	<string>🎆</string>
	<key>:first_quarter_moon:</key>
	<string>🌓</string>
	<key>:first_quarter_moon_with_face:</key>
	<string>🌛</string>
	<key>:fish:</key>
	<string>🐟</string>
	<key>:fish_cake:</key>
	<string>🍥</string>
	<key>:fishing_pole_and_fish:</key>
	<string>🎣</string>
	<key>:fist:</key>
	<string>✊</string>
	<key>:flags:</key>
	<string>🎏</string>
	<key>:flashlight:</key>
	<string>🔦</string>
	<key>:flipper:</key>
	<string>🐬</string>
	<key>:floppy_disk:</key>
	<string>💾</string>
	<key>:flower_playing_cards:</key>
	<string>🎴</string>
	<key>:flushed:</key>
	<string>😳</string>
	<key>:foggy:</key>
	<string>🌁</string>
	<key>:football:</key>
	<string>🏈</string>
	<key>:footprints:</key>
	<string>👣</string>
	<key>:fork_and_knife:</key>
	<string>🍴</string>
	<key>:fountain:</key>
	<string>⛲</string>
	<key>:four_leaf_clover:</key>
	<string>🍀</string>
	<key>:free:</key>
	<string>🆓</string>
	<key>:fried_shrimp:</key>
	<string>🍤</string>
	<key>:fries:</key>
	<string>🍟</string>
	<key>:frog:</key>
	<string>🐸</string>
	<key>:frowning:</key>
	<string>😦</string>
	<key>:fuelpump:</key>
	<string>⛽</string>
	<key>:full_moon:</key>
	<string>🌕</string>
	<key>:full_moon_with_face:</key>
	<string>🌝</string>
	<key>:game_die:</key>
	<string>🎲</string>
	<key>:gem:</key>
	<string>💎</string>
	<key>:gemini:</key>
	<string>♊</string>
	<key>:ghost:</key>
	<string>👻</string>
	<key>:gift:</key>
	<string>🎁</string>
	<key>:gift_heart:</key>
	<string>💝</string>
	<key>:girl:</key>
	<string>👧</string>
	<key>:globe_with_meridians:</key>
	<string>🌐</string>
	<key>:goat:</key>
	<string>🐐</string>
	<key>:golf:</key>
	<string>⛳</string>
	<key>:grapes:</key>
	<string>🍇</string>
	<key>:green_apple:</key>
	<string>🍏</string>
	<key>:green_book:</key>
	<string>📗</string>
	<key>:green_heart:</key>
	<string>💚</string>
	<key>:grey_exclamation:</key>
	<string>❕</string>
	<key>:grey_question:</key>
	<string>❔</string>
	<key>:grimacing:</key>
	<string>😬</string>
	<key>:grin:</key>
	<string>😁</string>
	<key>:grinning:</key>
	<string>😀</string>
	<key>:guardsman:</key>
	<string>💂</string>
	<key>:guitar:</key>
	<string>🎸</string>
	<key>:gun:</key>
	<string>🔫</string>
	<key>:haircut:</key>
	<string>💇</string>
	<key>:hamburger:</key>
	<string>🍔</string>
	<key>:hammer:</key>
	<string>🔨</string>
	<key>:hamster:</key>
	<string>🐹</string>
	<key>:hand:</key>
	<string>✋</string>
	<key>:handbag:</key>
	<string>👜</string>
	<key>:hankey:</key>
	<string>💩</string>
	<key>:hatched_chick:</key>
	<string>🐥</string>
	<key>:hatching_chick:</key>
	<string>🐣</string>
	<key>:headphones:</key>
	<string>🎧</string>
	<key>:hear_no_evil:</key>
	<string>🙉</string>
	<key>:heart:</key>
	<string>❤</string>
	<key>:heart_decoration:</key>
	<string>💟</string>
	<key>:heart_eyes:</key>
	<string>😍</string>
	<key>:heart_eyes_cat:</key>
	<string>😻</string>
	<key>:heartbeat:</key>
	<string>💓</string>
	<key>:heartpulse:</key>
	<string>💗</string>
	<key>:hearts:</key>
	<string>♥</string>
	<key>:heavy_check_mark:</key>
	<string>✔</string>
	<key>:heavy_division_sign:</key>
	<string>➗</string>
	<key>:heavy_dollar_sign:</key>
	<string>💲</string>
	<key>:heavy_exclamation_mark:</key>
	<string>❗</string>
	<key>:heavy_minus_sign:</key>
	<string>➖</string>
	<key>:heavy_multiplication_x:</key>
	<string>✖</string>
	<key>:heavy_plus_sign:</key>
	<string>➕</string>
	<key>:helicopter:</key>
	<string>🚁</string>
	<key>:herb:</key>
	<string>🌿</string>
	<key>:hibiscus:</key>
	<string>🌺</string>
	<key>:high_brightness:</key>
	<string>🔆</string>
	<key>:high_heel:</key>
	<string>👠</string>
	<key>:hocho:</key>
	<string>🔪</string>
	<key>:honey_pot:</key>
	<string>🍯</string>
	<key>:honeybee:</key>
	<string>🐝</string>
	<key>:horse:</key>
	<string>🐴</string>
	<key>:horse_racing:</key>
	<string>🏇</string>
	<key>:hospital:</key>
	<string>🏥</string>
	<key>:hotel:</key>
	<string>🏨</string>
	<key>:hotsprings:</key>
	<string>♨</string>
	<key>:hourglass:</key>
	<string>⌛</string>
	<key>:hourglass_flowing_sand:</key>
	<string>⏳</string>
	<key>:house:</key>
	<string>🏠</string>
	<key>:house_with_garden:</key>
	<string>🏡</string>
	<key>:hushed:</key>
	<string>😯</string>
	<key>:ice_cream:</key>
	<string>🍨</string>
	<key>:icecream:</key>
	<string>🍦</string>
	<key>:id:</key>
	<string>🆔</string>
	<key>:ideograph_advantage:</key>
	<string>🉐</string>
	<key>:imp:</key>
	<string>👿</string>
	<key>:inbox_tray:</key>
	<string>📥</string>
	<key>:incoming_envelope:</key>
	<string>📨</string>
	<key>:information_desk_person:</key>
	<string>💁</string>
	<key>:information_source:</key>
	<string>ℹ</string>
	<key>:innocent:</key>
	<string>😇</string>
	<key>:interrobang:</key>
	<string>⁉</string>
	<key>:iphone:</key>
	<string>📱</string>
	<key>:izakaya_lantern:</key>
	<string>🏮</string>
	<key>:jack_o_lantern:</key>
	<string>🎃</string>
	<key>:japan:</key>
	<string>🗾</string>
	<key>:japanese_castle:</key>
	<string>🏯</string>
	<key>:japanese_goblin:</key>
	<string>👺</string>
	<key>:japanese_ogre:</key>
	<string>👹</string>
	<key>:jeans:</key>
	<string>👖</string>
	<key>:joy:</key>
	<string>😂</string>
	<key>:joy_cat:</key>
	<string>😹</string>
	<key>:key:</key>
	<string>🔑</string>
	<key>:keycap_ten:</key>
	<string>🔟</string>
	<key>:kimono:</key>
	<string>👘</string>
	<key>:kiss:</key>
	<string>💋</string>
	<key>:kissing:</key>
	<string>😗</string>
	<key>:kissing_cat:</key>
	<string>😽</string>
	<key>:kissing_closed_eyes:</key>
	<string>😚</string>
	<key>:kissing_heart:</key>
	<string>😘</string>
	<key>:kissing_smiling_eyes:</key>
	<string>😙</string>
	<key>:koala:</key>
	<string>🐨</string>
	<key>:koko:</key>
	<string>🈁</string>
	<key>:lantern:</key>
	<string>🏮</string>
	<key>:large_blue_circle:</key>
	<string>🔵</string>
	<key>:large_blue_diamond:</key>
	<string>🔷</string>
	<key>:large_orange_diamond:</key>
	<string>🔶</string>
	<key>:last_quarter_moon:</key>
	<string>🌗</string>
	<key>:last_quarter_moon_with_face:</key>
	<string>🌜</string>
	<key>:laughing:</key>
	<string>😆</string>
	<key>:leaves:</key>
	<string>🍃</string>
	<key>:ledger:</key>
	<string>📒</string>
	<key>:left_luggage:</key>
	<string>🛅</string>
	<key>:left_right_arrow:</key>
	<string>↔</string>
	<key>:leftwards_arrow_with_hook:</key>
	<string>↩</string>
	<key>:lemon:</key>
	<string>🍋</string>
	<key>:leo:</key>
	<string>♌</string>
	<key>:leopard:</key>
	<string>🐆</string>
	<key>:libra:</key>
	<string>♎</string>
	<key>:light_rail:</key>
	<string>🚈</string>
	<key>:link:</key>
	<string>🔗</string>
	<key>:lips:</key>
	<string>👄</string>
	<key>:lipstick:</key>
	<string>💄</string>
	<key>:lock:</key>
	<string>🔒</string>
	<key>:lock_with_ink_pen:</key>
	<string>🔏</string>
	<key>:lollipop:</key>
	<string>🍭</string>
	<key>:loop:</key>
	<string>➿</string>
	<key>:loudspeaker:</key>
	<string>📢</string>
	<key>:love_hotel:</key>
	<string>🏩</string>
	<key>:love_letter:</key>
	<string>💌</string>
	<key>:low_brightness:</key>
	<string>🔅</string>
	<key>:m:</key>
	<string>Ⓜ</string>
	<key>:mag:</key>
	<string>🔍</string>
	<key>:mag_right:</key>
	<string>🔎</string>
	<key>:mahjong:</key>
	<string>🀄</string>
	<key>:mailbox:</key>
	<string>📫</string>
	<key>:mailbox_closed:</key>
	<string>📪</string>
	<key>:mailbox_with_mail:</key>
	<string>📬</string>
	<key>:mailbox_with_no_mail:</key>
	<string>📭</string>
	<key>:man:</key>
	<string>👨</string>
	<key>:man_with_gua_pi_mao:</key>
	<string>👲</string>
	<key>:man_with_turban:</key>
	<string>👳</string>
	<key>:mans_shoe:</key>
	<string>👞</string>
	<key>:maple_leaf:</key>
	<string>🍁</string>
	<key>:mask:</key>
	<string>😷</string>
	<key>:massage:</key>
	<string>💆</string>
	<key>:meat_on_bone:</key>
	<string>🍖</string>
	<key>:mega:</key>
	<string>📣</string>
	<key>:melon:</key>
	<string>🍈</string>
	<key>:memo:</key>
	<string>📝</string>
	<key>:mens:</key>
	<string>🚹</string>
	<key>:metro:</key>
	<string>🚇</string>
	<key>:microphone:</key>
	<string>🎤</string>
	<key>:microscope:</key>
	<string>🔬</string>
	<key>:milky_way:</key>
	<string>🌌</string>
	<key>:minibus:</key>
	<string>🚐</string>
	<key>:minidisc:</key>
	<string>💽</string>
	<key>:mobile_phone_off:</key>
	<string>📴</string>
	<key>:money_with_wings:</key>
	<string>💸</string>
	<key>:moneybag:</key>
	<string>💰</string>
	<key>:monkey:</key>
	<string>🐒</string>
	<key>:monkey_face:</key>
	<string>🐵</string>
	<key>:monorail:</key>
	<string>🚝</string>
	<key>:moon:</key>
	<string>🌔</string>
	<key>:mortar_board:</key>
	<string>🎓</string>
	<key>:mount_fuji:</key>
	<string>🗻</string>
	<key>:mountain_bicyclist:</key>
	<string>🚵</string>
	<key>:mountain_cableway:</key>
	<string>🚠</string>
	<key>:mountain_railway:</key>
	<string>🚞</string>
	<key>:mouse2:</key>
	<string>🐁</string>
	<key>:mouse:</key>
	<string>🐭</string>
	<key>:movie_camera:</key>
	<string>🎥</string>
	<key>:moyai:</key>
	<string>🗿</string>
	<key>:muscle:</key>
	<string>💪</string>
	<key>:mushroom:</key>
	<string>🍄</string>
	<key>:musical_keyboard:</key>
	<string>🎹</string>
	<key>:musical_note:</key>
	<string>🎵</string>
	<key>:musical_score:</key>
	<string>🎼</string>
	<key>:mute:</key>
	<string>🔇</string>
	<key>:nail_care:</key>
	<string>💅</string>
	<key>:name_badge:</key>
	<string>📛</string>
	<key>:necktie:</key>
	<string>👔</string>
	<key>:negative_squared_cross_mark:</key>
	<string>❎</string>
	<key>:neutral_face:</key>
	<string>😐</string>
	<key>:new:</key>
	<string>🆕</string>
	<key>:new_moon:</key>
	<string>🌑</string>
	<key>:new_moon_with_face:</key>
	<string>🌚</string>
	<key>:newspaper:</key>
	<string>📰</string>
	<key>:ng:</key>
	<string>🆖</string>
	<key>:no_bell:</key>
	<string>🔕</string>
	<key>:no_bicycles:</key>
	<string>🚳</string>
	<key>:no_entry:</key>
	<string>⛔</string>
	<key>:no_entry_sign:</key>
	<string>🚫</string>
	<key>:no_good:</key>
	<string>🙅</string>
	<key>:no_mobile_phones:</key>
	<string>📵</string>
	<key>:no_mouth:</key>
	<string>😶</string>
	<key>:no_pedestrians:</key>
	<string>🚷</string>
	<key>:no_smoking:</key>
	<string>🚭</string>
	<key>:non-potable_water:</key>
	<string>🚱</string>
	<key>:nose:</key>
	<string>👃</string>
	<key>:notebook:</key>
	<string>📓</string>
	<key>:notebook_with_decorative_cover:</key>
	<string>📔</string>
	<key>:notes:</key>
	<string>🎶</string>
	<key>:nut_and_bolt:</key>
	<string>🔩</string>
	<key>:o2:</key>
	<string>🅾</string>
	<key>:o:</key>
	<string>⭕</string>
	<key>:ocean:</key>
	<string>🌊</string>
	<key>:octopus:</key>
	<string>🐙</string>
	<key>:oden:</key>
	<string>🍢</string>
	<key>:office:</key>
	<string>🏢</string>
	<key>:ok:</key>
	<string>🆗</string>
	<key>:ok_hand:</key>
	<string>👌</string>
	<key>:ok_woman:</key>
	<string>🙆</string>
	<key>:older_man:</key>
	<string>👴</string>
	<key>:older_woman:</key>
	<string>👵</string>
	<key>:on:</key>
	<string>🔛</string>
	<key>:oncoming_automobile:</key>
	<string>🚘</string>
	<key>:oncoming_bus:</key>
	<string>🚍</string>
	<key>:oncoming_police_car:</key>
	<string>🚔</string>
	<key>:oncoming_taxi:</key>
	<string>🚖</string>
	<key>:open_book:</key>
	<string>📖</string>
	<key>:open_file_folder:</key>
	<string>📂</string>
	<key>:open_hands:</key>
	<string>👐</string>
	<key>:open_mouth:</key>
	<string>😮</string>
	<key>:ophiuchus:</key>
	<string>⛎</string>
	<key>:orange_book:</key>
	<string>📙</string>
	<key>:outbox_tray:</key>
	<string>📤</string>
	<key>:ox:</key>
	<string>🐂</string>
	<key>:package:</key>
	<string>📦</string>
	<key>:page_facing_up:</key>
	<string>📄</string>
	<key>:page_with_curl:</key>
	<string>📃</string>
	<key>:pager:</key>
	<string>📟</string>
	<key>:palm_tree:</key>
	<string>🌴</string>
	<key>:panda_face:</key>
	<string>🐼</string>
	<key>:paperclip:</key>
	<string>📎</string>
	<key>:parking:</key>
	<string>🅿</string>
	<key>:part_alternation_mark:</key>
	<string>〽</string>
	<key>:partly_sunny:</key>
	<string>⛅</string>
	<key>:passport_control:</key>
	<string>🛂</string>
	<key>:paw_prints:</key>
	<string>🐾</string>
	<key>:peach:</key>
	<string>🍑</string>
	<key>:pear:</key>
	<string>🍐</string>
	<key>:pencil2:</key>
	<string>✏</string>
	<key>:pencil:</key>
	<string>📝</string>
	<key>:penguin:</key>
	<string>🐧</string>
	<key>:pensive:</key>
	<string>😔</string>
	<key>:performing_arts:</key>
	<string>🎭</string>
	<key>:persevere:</key>
	<string>😣</string>
	<key>:person_frowning:</key>
	<string>🙍</string>
	<key>:person_with_blond_hair:</key>
	<string>👱</string>
	<key>:person_with_pouting_face:</key>
	<string>🙎</string>
	<key>:phone:</key>
	<string>☎</string>
	<key>:pig2:</key>
	<string>🐖</string>
	<key>:pig:</key>
	<string>🐷</string>
	<key>:pig_nose:</key>
	<string>🐽</string>
	<key>:pill:</key>
	<string>💊</string>
	<key>:pineapple:</key>
	<string>🍍</string>
	<key>:pisces:</key>
	<string>♓</string>
	<key>:pizza:</key>
	<string>🍕</string>
	<key>:point_down:</key>
	<string>👇</string>
	<key>:point_left:</key>
	<string>👈</string>
	<key>:point_right:</key>
	<string>👉</string>
	<key>:point_up:</key>
	<string>☝</string>
	<key>:point_up_2:</key>
	<string>👆</string>
	<key>:police_car:</key>
	<string>🚓</string>
	<key>:poodle:</key>
	<string>🐩</string>
	<key>:poop:</key>
	<string>💩</string>
	<key>:post_office:</key>
	<string>🏣</string>
	<key>:postal_horn:</key>
	<string>📯</string>
	<key>:postbox:</key>
	<string>📮</string>
	<key>:potable_water:</key>
	<string>🚰</string>
	<key>:pouch:</key>
	<string>👝</string>
	<key>:poultry_leg:</key>
	<string>🍗</string>
	<key>:pound:</key>
	<string>💷</string>
	<key>:pouting_cat:</key>
	<string>😾</string>
	<key>:pray:</key>
	<string>🙏</string>
	<key>:princess:</key>
	<string>👸</string>
	<key>:punch:</key>
	<string>👊</string>
	<key>:purple_heart:</key>
	<string>💜</string>
	<key>:purse:</key>
	<string>👛</string>
	<key>:pushpin:</key>
	<string>📌</string>
	<key>:put_litter_in_its_place:</key>
	<string>🚮</string>
	<key>:question:</key>
	<string>❓</string>
	<key>:rabbit2:</key>
	<string>🐇</string>
	<key>:rabbit:</key>
	<string>🐰</string>
	<key>:racehorse:</key>
	<string>🐎</string>
	<key>:radio:</key>
	<string>📻</string>
	<key>:radio_button:</key>
	<string>🔘</string>
	<key>:rage:</key>
	<string>😡</string>
	<key>:railway_car:</key>
	<string>🚃</string>
	<key>:rainbow:</key>
	<string>🌈</string>
	<key>:raised_hand:</key>
	<string>✋</string>
	<key>:raised_hands:</key>
	<string>🙌</string>
	<key>:raising_hand:</key>
	<string>🙋</string>
	<key>:ram:</key>
	<string>🐏</string>
	<key>:ramen:</key>
	<string>🍜</string>
	<key>:rat:</key>
	<string>🐀</string>
	<key>:recycle:</key>
	<string>♻</string>
	<key>:red_car:</key>
	<string>🚗</string>
	<key>:red_circle:</key>
	<string>🔴</string>
	<key>:registered:</key>
	<string>®</string>
	<key>:relaxed:</key>
	<string>☺</string>
	<key>:relieved:</key>
	<string>😌</string>
	<key>:repeat:</key>
	<string>🔁</string>
	<key>:repeat_one:</key>
	<string>🔂</string>
	<key>:restroom:</key>
	<string>🚻</string>
	<key>:revolving_hearts:</key>
	<string>💞</string>
	<key>:rewind:</key>
	<string>⏪</string>
	<key>:ribbon:</key>
	<string>🎀</string>
	<key>:rice:</key>
	<string>🍚</string>
	<key>:rice_ball:</key>
	<string>🍙</string>
	<key>:rice_cracker:</key>
	<string>🍘</string>
	<key>:rice_scene:</key>
	<string>🎑</string>
	<key>:ring:</key>
	<string>💍</string>
	<key>:rocket:</key>
	<string>🚀</string>
	<key>:roller_coaster:</key>
	<string>🎢</string>
	<key>:rooster:</key>
	<string>🐓</string>
	<key>:rose:</key>
	<string>🌹</string>
	<key>:rotating_light:</key>
	<string>🚨</string>
	<key>:round_pushpin:</key>
	<string>📍</string>
	<key>:rowboat:</key>
	<string>🚣</string>
	<key>:rugby_football:</key>
	<string>🏉</string>
	<key>:runner:</key>
	<string>🏃</string>
	<key>:running:</key>
	<string>🏃</string>
	<key>:running_shirt_with_sash:</key>
	<string>🎽</string>
	<key>:sa:</key>
	<string>🈂</string>
	<key>:sagittarius:</key>
	<string>♐</string>
	<key>:sailboat:</key>
	<string>⛵</string>
	<key>:sake:</key>
	<string>🍶</string>
	<key>:sandal:</key>
	<string>👡</string>
	<key>:santa:</key>
	<string>🎅</string>
	<key>:satellite:</key>
	<string>📡</string>
	<key>:satisfied:</key>
	<string>😆</string>
	<key>:saxophone:</key>
	<string>🎷</string>
	<key>:school:</key>
	<string>🏫</string>
	<key>:school_satchel:</key>
	<string>🎒</string>
	<key>:scissors:</key>
	<string>✂</string>
	<key>:scorpius:</key>
	<string>♏</string>
	<key>:scream:</key>
	<string>😱</string>
	<key>:scream_cat:</key>
	<string>🙀</string>
	<key>:scroll:</key>
	<string>📜</string>
	<key>:seat:</key>
	<string>💺</string>
	<key>:secret:</key>
	<string>㊙</string>
	<key>:see_no_evil:</key>
	<string>🙈</string>
	<key>:seedling:</key>
	<string>🌱</string>
	<key>:shaved_ice:</key>
	<string>🍧</string>
	<key>:sheep:</key>
	<string>🐑</string>
	<key>:shell:</key>
	<string>🐚</string>
	<key>:ship:</key>
	<string>🚢</string>
	<key>:shirt:</key>
	<string>👕</string>
	<key>:shit:</key>
	<string>💩</string>
	<key>:shoe:</key>
	<string>👞</string>
	<key>:shower:</key>
	<string>🚿</string>
	<key>:signal_strength:</key>
	<string>📶</string>
	<key>:six_pointed_star:</key>
	<string>🔯</string>
	<key>:ski:</key>
	<string>🎿</string>
	<key>:skull:</key>
	<string>💀</string>
	<key>:sleeping:</key>
	<string>😴</string>
	<key>:sleepy:</key>
	<string>😪</string>
	<key>:slot_machine:</key>
	<string>🎰</string>
	<key>:small_blue_diamond:</key>
	<string>🔹</string>
	<key>:small_orange_diamond:</key>
	<string>🔸</string>
	<key>:small_red_triangle:</key>
	<string>🔺</string>
	<key>:small_red_triangle_down:</key>
	<string>🔻</string>
	<key>:smile:</key>
	<string>😄</string>
	<key>:smile_cat:</key>
	<string>😸</string>
	<key>:smiley:</key>
	<string>😃</string>
	<key>:smiley_cat:</key>
	<string>😺</string>
	<key>:smiling_imp:</key>
	<string>😈</string>
	<key>:smirk:</key>
	<string>😏</string>
	<key>:smirk_cat:</key>
	<string>😼</string>
	<key>:smoking:</key>
	<string>🚬</string>
	<key>:snail:</key>
	<string>🐌</string>
	<key>:snake:</key>
	<string>🐍</string>
	<key>:snowboarder:</key>
	<string>🏂</string>
	<key>:snowflake:</key>
	<string>❄</string>
	<key>:snowman:</key>
	<string>⛄</string>
	<key>:sob:</key>
	<string>😭</string>
	<key>:soccer:</key>
	<string>⚽</string>
	<key>:soon:</key>
	<string>🔜</string>
	<key>:sos:</key>
	<string>🆘</string>
	<key>:sound:</key>
	<string>🔉</string>
	<key>:space_invader:</key>
	<string>👾</string>
	<key>:spades:</key>
	<string>♠</string>
	<key>:spaghetti:</key>
	<string>🍝</string>
	<key>:sparkle:</key>
	<string>❇</string>
	<key>:sparkler:</key>
	<string>🎇</string>
	<key>:sparkles:</key>
	<string>✨</string>
	<key>:sparkling_heart:</key>
	<string>💖</string>
	<key>:speak_no_evil:</key>
	<string>🙊</string>
	<key>:speaker:</key>
	<string>🔊</string>
	<key>:speech_balloon:</key>
	<string>💬</string>
	<key>:speedboat:</key>
	<string>🚤</string>
	<key>:star2:</key>
	<string>🌟</string>
	<key>:star:</key>
	<string>⭐</string>
	<key>:stars:</key>
	<string>🌃</string>
	<key>:station:</key>
	<string>🚉</string>
	<key>:statue_of_liberty:</key>
	<string>🗽</string>
	<key>:steam_locomotive:</key>
	<string>🚂</string>
	<key>:stew:</key>
	<string>🍲</string>
	<key>:straight_ruler:</key>
	<string>📏</string>
	<key>:strawberry:</key>
	<string>🍓</string>
	<key>:stuck_out_tongue:</key>
	<string>😛</string>
	<key>:stuck_out_tongue_closed_eyes:</key>
	<string>😝</string>
	<key>:stuck_out_tongue_winking_eye:</key>
	<string>😜</string>
	<key>:sun_with_face:</key>
	<string>🌞</string>
	<key>:sunflower:</key>
	<string>🌻</string>
	<key>:sunglasses:</key>
	<string>😎</string>
	<key>:sunny:</key>
	<string>☀</string>
	<key>:sunrise:</key>
	<string>🌅</string>
	<key>:sunrise_over_mountains:</key>
	<string>🌄</string>
	<key>:surfer:</key>
	<string>🏄</string>
	<key>:sushi:</key>
	<string>🍣</string>
	<key>:suspension_railway:</key>
	<string>🚟</string>
	<key>:sweat:</key>
	<string>😓</string>
	<key>:sweat_drops:</key>
	<string>💦</string>
	<key>:sweat_smile:</key>
	<string>😅</string>
	<key>:sweet_potato:</key>
	<string>🍠</string>
	<key>:swimmer:</key>
	<string>🏊</string>
	<key>:symbols:</key>
	<string>🔣</string>
	<key>:syringe:</key>
	<string>💉</string>
	<key>:tada:</key>
	<string>🎉</string>
	<key>:tanabata_tree:</key>
	<string>🎋</string>
	<key>:tangerine:</key>
	<string>🍊</string>
	<key>:taurus:</key>
	<string>♉</string>
	<key>:taxi:</key>
	<string>🚕</string>
	<key>:tea:</key>
	<string>🍵</string>
	<key>:telephone:</key>
	<string>☎</string>
	<key>:telephone_receiver:</key>
	<string>📞</string>
	<key>:telescope:</key>
	<string>🔭</string>
	<key>:tennis:</key>
	<string>🎾</string>
	<key>:tent:</key>
	<string>⛺</string>
	<key>:thought_balloon:</key>
	<string>💭</string>
	<key>:thumbsdown:</key>
	<string>👎</string>
	<key>:thumbsup:</key>
	<string>👍</string>
	<key>:ticket:</key>
	<string>🎫</string>
	<key>:tiger2:</key>
	<string>🐅</string>
	<key>:tiger:</key>
	<string>🐯</string>
	<key>:tired_face:</key>
	<string>😫</string>
	<key>:tm:</key>
	<string>™</string>
	<key>:toilet:</key>
	<string>🚽</string>
	<key>:tokyo_tower:</key>
	<string>🗼</string>
	<key>:tomato:</key>
	<string>🍅</string>
	<key>:tongue:</key>
	<string>👅</string>
	<key>:top:</key>
	<string>🔝</string>
	<key>:tophat:</key>
	<string>🎩</string>
	<key>:tractor:</key>
	<string>🚜</string>
	<key>:traffic_light:</key>
	<string>🚥</string>
	<key>:train2:</key>
	<string>🚆</string>
	<key>:train:</key>
	<string>🚃</string>
	<key>:tram:</key>
	<string>🚊</string>
	<key>:triangular_flag_on_post:</key>
	<string>🚩</string>
	<key>:triangular_ruler:</key>
	<string>📐</string>
	<key>:trident:</key>
	<string>🔱</string>
	<key>:triumph:</key>
	<string>😤</string>
	<key>:trolleybus:</key>
	<string>🚎</string>
	<key>:trophy:</key>
	<string>🏆</string>
	<key>:tropical_drink:</key>
	<string>🍹</string>
	<key>:tropical_fish:</key>
	<string>🐠</string>
	<key>:truck:</key>
	<string>🚚</string>
	<key>:trumpet:</key>
	<string>🎺</string>
	<key>:tshirt:</key>
	<string>👕</string>
	<key>:tulip:</key>
	<string>🌷</string>
	<key>:turtle:</key>
	<string>🐢</string>
	<key>:tv:</key>
	<string>📺</string>
	<key>:twisted_rightwards_arrows:</key>
	<string>🔀</string>
	<key>:two_hearts:</key>
	<string>💕</string>
	<key>:two_men_holding_hands:</key>
	<string>👬</string>
	<key>:two_women_holding_hands:</key>
	<string>👭</string>
	<key>:u5272:</key>
	<string>🈹</string>
	<key>:u5408:</key>
	<string>🈴</string>
	<key>:u55b6:</key>
	<string>🈺</string>
	<key>:u6307:</key>
	<string>🈯</string>
	<key>:u6708:</key>
	<string>🈷</string>
	<key>:u6709:</key>
	<string>🈶</string>
	<key>:u6e80:</key>
	<string>🈵</string>
	<key>:u7121:</key>
	<string>🈚</string>
	<key>:u7533:</key>
	<string>🈸</string>
	<key>:u7981:</key>
	<string>🈲</string>
	<key>:u7a7a:</key>
	<string>🈳</string>
	<key>:umbrella:</key>
	<string>☔</string>
	<key>:unamused:</key>
	<string>😒</string>
	<key>:underage:</key>
	<string>🔞</string>
	<key>:unlock:</key>
	<string>🔓</string>
	<key>:up:</key>
	<string>🆙</string>
	<key>:v:</key>
	<string>✌</string>
	<key>:vertical_traffic_light:</key>
	<string>🚦</string>
	<key>:vhs:</key>
	<string>📼</string>
	<key>:vibration_mode:</key>
	<string>📳</string>
	<key>:video_camera:</key>
	<string>📹</string>
	<key>:video_game:</key>
	<string>🎮</string>
	<key>:violin:</key>
	<string>🎻</string>
	<key>:virgo:</key>
	<string>♍</string>
	<key>:volcano:</key>
	<string>🌋</string>
	<key>:vs:</key>
	<string>🆚</string>
	<key>:walking:</key>
	<string>🚶</string>
	<key>:waning_crescent_moon:</key>
	<string>🌘</string>
	<key>:waning_gibbous_moon:</key>
	<string>🌖</string>
	<key>:warning:</key>
	<string>⚠</string>
	<key>:watch:</key>
	<string>⌚</string>
	<key>:water_buffalo:</key>
	<string>🐃</string>
	<key>:watermelon:</key>
	<string>🍉</string>
	<key>:wave:</key>
	<string>👋</string>
	<key>:wavy_dash:</key>
	<string>〰</string>
	<key>:waxing_crescent_moon:</key>
	<string>🌒</string>
	<key>:waxing_gibbous_moon:</key>
	<string>🌔</string>
	<key>:wc:</key>
	<string>🚾</string>
	<key>:weary:</key>
	<string>😩</string>
	<key>:wedding:</key>
	<string>💒</string>
	<key>:whale2:</key>
	<string>🐋</string>
	<key>:whale:</key>
	<string>🐳</string>
	<key>:wheelchair:</key>
	<string>♿</string>
	<key>:white_check_mark:</key>
	<string>✅</string>
	<key>:white_circle:</key>
	<string>⚪</string>
	<key>:white_flower:</key>
	<string>💮</string>
	<key>:white_large_square:</key>
	<string>⬜</string>
	<key>:white_medium_small_square:</key>
	<string>◽</string>
	<key>:white_medium_square:</key>
	<string>◻</string>
	<key>:white_small_square:</key>
	<string>▫</string>
	<key>:white_square_button:</key>
	<string>🔳</string>
	<key>:wind_chime:</key>
	<string>🎐</string>
	<key>:wine_glass:</key>
	<string>🍷</string>
	<key>:wink:</key>
	<string>😉</string>
	<key>:wolf:</key>
	<string>🐺</string>
	<key>:woman:</key>
	<string>👩</string>
	<key>:womans_clothes:</key>
	<string>👚</string>
	<key>:womans_hat:</key>
	<string>👒</string>
	<key>:womens:</key>
	<string>🚺</string>
	<key>:worried:</key>
	<string>😟</string>
	<key>:wrench:</key>
	<string>🔧</string>
	<key>:x:</key>
	<string>❌</string>
	<key>:yellow_heart:</key>
	<string>💛</string>
	<key>:yen:</key>
	<string>💴</string>
	<key>:yum:</key>
	<string>😋</string>
	<key>:zap:</key>
	<string>⚡</string>
	<key>:zzz:</key>
	<string>💤</string>
</dict>
</plist>
