<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>local build-Jul 28 2010</string>
	<string>local build-Nov 15 2011</string>
	<string>5A167</string>
	<string>local build-Oct 16 2012</string>
	<string>M6.0.1-1486-1</string>
</array>
</plist>
