
<span class="inlineVideoService inlineYouTube" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMYouTube.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/{{videoIdentifier}}?enablejsapi=1"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
