<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input Box</key>
	<dict>
		<key>Background Color</key>
		<string>#fff</string>
		<key>Text Color</key>
		<string>#000</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>13</integer>
	</dict>
	<key>Member List</key>
	<dict>
		<key>Background Color</key>
		<string>#dee4ea</string>
		<key>Gradient</key>
		<dict>
			<key>Bottom Color</key>
			<string>#8599bc</string>
			<key>Bottom Line Color</key>
			<string>#8196b9</string>
			<key>Top Color</key>
			<string>#b0bfd8</string>
			<key>Top Line Color</key>
			<string>#a2b0cc</string>
		</dict>
		<key>Op Text Color</key>
		<string>#000</string>
		<key>Text Color</key>
		<string>#000</string>
		<key>Text Color (Selected)</key>
		<string>#fff</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>11</integer>
	</dict>
	<key>Server List</key>
	<dict>
		<key>Active Color</key>
		<string>#000</string>
		<key>Active Color (Selected)</key>
		<string>#fff</string>
		<key>Background Color</key>
		<string>#dee4ea</string>
		<key>Gradient</key>
		<dict>
			<key>Bottom Color</key>
			<string>#8599bc</string>
			<key>Bottom Line Color</key>
			<string>#8196b9</string>
			<key>Top Color</key>
			<string>#b0bfd8</string>
			<key>Top Line Color</key>
			<string>#a2b0cc</string>
		</dict>
		<key>Highlight Color</key>
		<string>#78b142</string>
		<key>Inactive Color</key>
		<string>#585858</string>
		<key>Inactive Color (Selected)</key>
		<string>#e7e7e7</string>
		<key>New Private Message Color</key>
		<string>#d33b54</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>11</integer>
		<key>Unread Color</key>
		<string>#0a53eb</string>
	</dict>
	<key>Underlying Window Color</key>
	<string>#cbcbcb</string>
</dict>
</plist>
