<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nickname Format</key>
	<string></string>
	<key>Nickname Format Fixed Width</key>
	<integer>0</integer>
	<key>Timestamp Format</key>
	<string></string>
	<key>Indent Wrapped Messages</key>
	<dict>
		<key>Override Setting</key>
		<false/>
		<key>New Value</key>
		<false/>
	</dict>
	<key>Override Channel Font</key>
	<dict>
		<key>Font Name</key>
		<string></string>
		<key>Font Size</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
