<html viewtype="{{viewTypeToken}}"

		{{#isChannelView}}
			channelname="{{channelName}}" 
		{{/isChannelView}}

		{{#isPrivateMessageView}}
			channelname="{{channelName}}"
		{{/isPrivateMessageView}}

		{{#isUtilityView}}
			channelname="{{channelName}}"
		{{/isUtilityView}}

		{{! The operating system version declaration allows CSS selectors to target specific versions. }}
		systemversion="{{operatingSystemVersion}}"

		dir="{{textDirectionToken}}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset={{userConfiguredTextEncoding}}">

		<link rel="stylesheet" type="text/css" href="{{activeStyleAbsolutePath}}/design.css?{{cacheToken}}" charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="{{applicationTemplatesPath}}/baseLayout.css?{{cacheToken}}" charset="UTF-8">

		<script src="{{applicationResourcePath}}/JavaScript/API/core.js" type="text/javascript" charset="UTF-8"></script>
		<script src="{{applicationResourcePath}}/JavaScript/API/corePrivate.js" type="text/javascript" charset="UTF-8"></script>

		<script type="text/javascript">
			Textual.initializeCore("{{applicationResourcePath}}");
		</script>

		<script src="{{activeStyleAbsolutePath}}/scripts.js?{{cacheToken}}" type="text/javascript" charset="UTF-8"></script>

		<style type="text/css">
			html, body {
				font-family: '{{userConfiguredFontName}}';
				font-size: {{userConfiguredFontSize}}pt;
			}

			{{#nicknameIndentationAvailable}}
				body div#body_home p {
					margin-left: {{predefinedTimestampWidth}}px;
					text-indent: -{{predefinedTimestampWidth}}px;
				}

				body .time {
					width: {{predefinedTimestampWidth}}px;
				}
			{{/nicknameIndentationAvailable}}
		</style>
	</head>

	<body viewtype="{{viewTypeToken}}"

		onload="_Textual.viewBodyDidLoad()"

		{{#usesCustomScrollers}}
			customscroller="true"
		{{/usesCustomScrollers}}

		{{#isChannelView}}
			channelname="{{channelName}}"
		{{/isChannelView}}

		{{#isPrivateMessageView}}
			channelname="{{channelName}}"
		{{/isPrivateMessageView}}

		{{#isUtilityView}}
			channelname="{{channelName}}"
		{{/isUtilityView}}

		dir="{{textDirectionToken}}">
			{{! The elements "body_home," "message_buffer," "loading_screen,"
			"topic_bar," and "mark" must always remain the same id= as these
			elements are used internally by Textual. }}

			<div id="loading_screen">View is Loading…</div>

			{{#isChannelView}}
				<div id="topic_bar" ondblclick="Textual.topicBarDoubleClicked()">(No Topic)</div>
			{{/isChannelView}}

			<div id="body_home">
				<div id="message_buffer">
				</div>
			</div>
	</body>
</html>
