{{#fragmentIsBoldClosed}}</b>{{/fragmentIsBoldClosed}}
{{#fragmentIsItalicizedClosed}}</i>{{/fragmentIsItalicizedClosed}}
{{#fragmentIsMonospaceClosed}}</tt>{{/fragmentIsMonospaceClosed}}
{{#fragmentIsStruckthroughClosed}}</del>{{/fragmentIsStruckthroughClosed}}
{{#fragmentIsUnderlinedClosed}}</u>{{/fragmentIsUnderlinedClosed}}
{{#fragmentTextColorClosed}}
</span>
{{/fragmentTextColorClosed}}

{{#fragmentTextColorOpened}}
<span class="effect"
	{{#fragmentTextColorUsesStyleTag}}
		style="
			{{#fragmentForegroundColorIsSet}}
				color: {{fragmentForegroundColor}};
			{{/fragmentForegroundColorIsSet}}

			{{#fragmentBackgroundColorIsSet}}
				background-color: {{fragmentBackgroundColor}};
			{{/fragmentBackgroundColorIsSet}}
		"
	{{^fragmentTextColorUsesStyleTag}}
		{{#fragmentForegroundColorIsSet}}
			color-number="{{fragmentForegroundColor}}"
		{{/fragmentForegroundColorIsSet}}

		{{#fragmentBackgroundColorIsSet}}
			bgcolor-number="{{fragmentBackgroundColor}}"
		{{/fragmentBackgroundColorIsSet}}
	{{/fragmentTextColorUsesStyleTag}}
>
{{/fragmentTextColorOpened}}
{{#fragmentIsBoldOpened}}<b>{{/fragmentIsBoldOpened}}
{{#fragmentIsItalicizedOpened}}<i>{{/fragmentIsItalicizedOpened}}
{{#fragmentIsMonospaceOpened}}<tt>{{/fragmentIsMonospaceOpened}}
{{#fragmentIsStruckthroughOpened}}<del>{{/fragmentIsStruckthroughOpened}}
{{#fragmentIsUnderlinedOpened}}<u>{{/fragmentIsUnderlinedOpened}}
{{#inlineNicknameMatchFound}}

<span class="inline_nickname" ondblclick="Textual.inlineNicknameDoubleClicked()" oncontextmenu="Textual.openInlineNicknameContextualMenu()" mode="{{inlineNicknameUserModeSymbol}}"
	{{#nicknameColorHashingIsStyleBased}}
		{{#nicknameColorStyleOverride}}
			coloroverride="true"
		{{/nicknameColorStyleOverride}}

		{{^ isEmpty(inlineNicknameColorStyle) }}
		style="color: {{inlineNicknameColorStyle}};"
		{{/ isEmpty(inlineNicknameColorStyle) }}
	{{^nicknameColorHashingIsStyleBased}}
		colornumber="{{inlineNicknameColorNumber}}"
	{{/nicknameColorHashingIsStyleBased}}>{{inlineNicknameUserModeSymbol}}
{{/inlineNicknameMatchFound}}
{{{messageFragment}}}
{{#inlineNicknameMatchFound}}
</span>
{{/inlineNicknameMatchFound}}
