{{#inlineNicknameMatchFound}}
<span class="inline_nickname" ondblclick="Textual.inlineNicknameDoubleClicked()" oncontextmenu="Textual.openInlineNicknameContextualMenu()" mode="{{inlineNicknameUserModeSymbol}}"
	{{#nicknameColorHashingIsStyleBased}}
		style="color: {{inlineNicknameColorStyle}};"
	{{^nicknameColorHashingIsStyleBased}}
		colornumber="{{inlineNicknameColorNumber}}"
	{{/nicknameColorHashingIsStyleBased}}>
{{/inlineNicknameMatchFound}}
{{#fragmentTextColorIsSet}}
<span class="effect"
	color-number="{{fragmentTextColor}}" 

	{{#fragmentBackgroundColorIsSet}}
		bgcolor-number="{{fragmentBackgroundColor}}" 
	{{/fragmentBackgroundColorIsSet}}
>
{{/fragmentTextColorIsSet}}
{{#fragmentIsBold}}<b>{{/fragmentIsBold}}
{{#fragmentIsItalicized}}<i>{{/fragmentIsItalicized}}
{{#fragmentIsStruckthrough}}<del>{{/fragmentIsStruckthrough}}
{{#fragmentIsUnderlined}}<u>{{/fragmentIsUnderlined}}
{{#inlineNicknameMatchFound}}{{inlineNicknameUserModeSymbol}}{{/inlineNicknameMatchFound}}
{{{messageFragment}}}
{{#fragmentIsBold}}</b>{{/fragmentIsBold}}
{{#fragmentIsItalicized}}</i>{{/fragmentIsItalicized}}
{{#fragmentIsStruckthrough}}</del>{{/fragmentIsStruckthrough}}
{{#fragmentIsUnderlined}}</u>{{/fragmentIsUnderlined}}
{{#fragmentTextColorIsSet}}
</span>
{{/fragmentTextColorIsSet}}
{{#inlineNicknameMatchFound}}
</span>
{{/inlineNicknameMatchFound}}