
<div 	ltype="{{lineType}}" 

{{^isRemoteMessage}}
		mtype="{{nicknameType}}"
{{/isRemoteMessage}}

{{#isEncrypted}}
		encrypted="true"
{{/isEncrypted}}

		command="{{command}}"
		highlight="{{highlightAttributeRepresentation}}" 
		class="line {{lineClassAttributeRepresentation}}" 
		id="line-{{lineNumber}}"
		timestamp="{{timestamp}}">

	<p>
		<span class="time"

		{{^ isEmpty(localizedTimestamp) }}
			title="{{localizedTimestamp}}"
		{{/ isEmpty(localizedTimestamp) }}>{{formattedTimestamp}} </span>

{{#isEncrypted}}
	{{{encryptedMessageLockTemplate}}}
{{/isEncrypted}}

		<span class="message" ltype="{{lineType}}">
			<span class="senderContainer">
				<span class="sender"
					onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
					oncontextmenu="Textual.openStandardNicknameContextualMenu()"
					mtype="{{nicknameType}}"
					nickname="{{nickname}}"
					{{#nicknameColorHashingEnabled}}
						{{#nicknameColorHashingIsStyleBased}}
							{{#nicknameColorStyleOverride}}
								coloroverride="true"
							{{/nicknameColorStyleOverride}}

							{{^ isEmpty(nicknameColorStyle) }}
							style="color: {{nicknameColorStyle}};"
							{{/ isEmpty(nicknameColorStyle) }}
						{{^nicknameColorHashingIsStyleBased}}
							colornumber="{{nicknameColorNumber}}"
						{{/nicknameColorHashingIsStyleBased}}
					{{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span>
			</span>

			<span class="innerMessage">
				{{{formattedMessage}}}

				{{#inlineMediaEnabled}}
					<span class="inlineMediaContainer"></span>
				{{/inlineMediaEnabled}}
			</span>
		</span>
	</p>
</div>
