
<div 	ltype="{{lineType}}" 

{{^isRemoteMessage}}
		mtype="{{nicknameType}}"
{{/isRemoteMessage}}

		command="{{command}}"
		class="line {{lineClassAttributeRepresentation}}" 
		id="line-{{lineNumber}}"
		timestamp="{{timestamp}}">
	
	<p>
		<span class="time" title="{{localizedTimestamp}}">{{formattedTimestamp}} </span>
		<span class="message" ltype="{{lineType}}">
			{{{formattedMessage}}}
		</span>
	</p>
</div>
