<a href="{{anchorLocation}}" class="url" oncontextmenu="Textual.openURLManagementContextualMenu()" {{#anchorInlineImageAvailable}} onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}', true)" {{/anchorInlineImageAvailable}} >{{{anchorTitle}}}</a>