<a href="{{anchorLocation}}" class="url" oncontextmenu="Textual.openURLManagementContextualMenu()" {{#anchorInlineMediaAvailable}} onclick="return Textual.toggleInlineMedia('{{anchorInlineMediaUniqueID}}', true)" {{/anchorInlineMediaAvailable}} >{{{anchorTitle}}}</a>
