<a href="{{anchorLocation}}" class="url" oncontextmenu="Textual.openURLManagementContextualMenu()" {{#anchorInlineMediaAvailable}} onclick="return InlineMedia.toggleOnClick('{{anchorInlineMediaUniqueID}}')" inlineanchor="{{anchorInlineMediaUniqueID}}"" {{/anchorInlineMediaAvailable}} >{{{anchorTitle}}}</a>
