/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}   

body {
	color: #000;
	height: 100%;
	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #dee4ea;
	color: #000000;
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[type=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute; 
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	color: #616161;
	background: #becad5;
	border: 1px solid #98acbf;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: #666666;
	white-space: nowrap; 
}

body[dir=rtl] .time {
	color: #666666;
	white-space: nowrap; 
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #0033CC;
	border-color: #0033CC;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #385FD4;
	border-color: #385FD4;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #FFFFFF;
	position: fixed;
	padding: 2px 0.5em 3px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #61778F;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
	background: -webkit-linear-gradient(top, #A2B0D0 0%, #7385AD 100%);
	-webkit-transition: opacity 0.8s linear;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a, 
#topic_bar span.channel {
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
}

/* Images */

body a img {
	border: 0;
}

body img {
	display: block;
	max-width: 95%;
	margin: 15px 15px 12px 15px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic 
{
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[type*=ctcp],
body div.line[type*=notice],
body div.line[type*=wallops] {
	color: #f00;
	z-index: 191;
	background: #fcc;
	position: relative;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div[type*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* PRIVMSG */

body div.line[type*=privmsg][highlight=false] {
	padding: 3px 5px 3px 5px;
}

body div.line[type*=privmsg][highlight=true],
body div.line[type*=action][highlight=true] {
	font-weight: normal;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #FFDB99;
	border-bottom: 1px solid #FFDB99;
	background-color: #FFE5B5 !important;
}

body div[type*="privmsg"] .message {
	color: #000;
}

body div[type*=privmsg] p[type*=myself] .message {
	color: #000;
}

body div[type*=privmsg] .sender {
	font-weight: 700;
}

/* ACTION */

body div.line[type*=action] {
	padding: 3px 5px 3px 5px;
}

body div[type*="action"] .message {
	color: #000;
}

body div[type*=action] .sender {
	font-weight: 700;
}

body div[type*=action] p[type*=myself] .sender,
body div[type*=action] p[type*=myself] .message {
	color: #B52CF6;
}

body[dir=ltr] div[type*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[type*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[type*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[type*=invite],
body div.line[type*=debug],
body div.line[type*=rawhtml] {
	color: #777;
	z-index: 190;
	background: #eee;
	position: relative;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	margin-bottom: 1px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-top: 1px solid #ddd;
	border-bottom: none;
	margin-bottom: 1px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[type*=join],
body div.line[type*=part],
body div.line[type*=kick],
body div.line[type*=quit],
body div.line[type*=kill],
body div.line[type*=nick],
body div.line[type*=mode],
body div.line[type*=topic],
body div.line[type*=website] {
	padding: 3px 5px 3px 5px;
	color: #666666;
}

body[dir=ltr] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=kick] .message:before,
body[dir=ltr] div[type*=part] .message:before,
body[dir=ltr] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=kick] .message:before,
body[dir=rtl] div[type*=part] .message:before,
body[dir=rtl] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body div[type*=privmsg] .sender[type*=myself] { 
	color: #ea0d68; 
}

body .sender[type*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #0080ff; 
}

body .sender[type*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #059005; 
}

body .sender[type*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #a80054; 
}

body .sender[type*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #9b0db1; 
}

body .sender[type*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #108860; 
}

body .sender[type*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #7F4FFF; 
}

body .sender[type*=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #58701a; 
}

body .sender[type*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
	color: #620a8e; 
}

body .sender[type*=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #BB0008; 
}

body .sender[type*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #44345f; 
}

body .sender[type*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #2f5353; 
}

body .sender[type*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #904000; 
}

body .sender[type*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #808000; 
}

body .sender[type*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #57797e; 
}

body .sender[type*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #3333dd; 
}

body .sender[type*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #5f4d22; 
}

body .sender[type*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #706616;
}

body .sender[type*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #46799c;
}

body .sender[type*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #80372e;
}

body .sender[type*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #8F478E;
}

body .sender[type*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #5b9e4c;
}

body .sender[type*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #13826c;
}

body .sender[type*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #b13637;
}

body .sender[type*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #e45d59;
}

body .sender[type*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #1b51ae;
}

body .sender[type*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #4855ac;
}

body .sender[type*=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #7f1d86;
}

body .sender[type*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #73643f;
}

body .sender[type*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #0b9578;
}

body .sender[type*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #569c96;
}

body .sender[type*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #08465f;
}
