
<span class="inlineVideoService inlineYouTube" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineVideo.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/{{videoIdentifier}}?start={{videoStartTime}}"
		frameborder="0"
		allowfullscreen
		class="content"></iframe>
</span>
