<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input Box</key>
	<dict>
		<key>Background Color</key>
		<string>#000000</string>
		<key>Text Color</key>
		<string>#ccc</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>13</integer>
	</dict>
	<key>Member List</key>
	<dict>
		<key>Background Color</key>
		<string>#000</string>
		<key>Gradient</key>
		<dict>
			<key>Bottom Color</key>
			<string>#201f27</string>
			<key>Bottom Line Color</key>
			<string>#3f3e4c</string>
			<key>Top Color</key>
			<string>#3f3e4c</string>
			<key>Top Line Color</key>
			<string>#3f3e4c</string>
		</dict>
		<key>Op Text Color</key>
		<string>#dedede</string>
		<key>Text Color</key>
		<string>#ccc</string>
		<key>Text Color (Selected)</key>
		<string>#6a93d9</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>11</integer>
	</dict>
	<key>Server List</key>
	<dict>
		<key>Active Color</key>
		<string>#fff</string>
		<key>Active Color (Selected)</key>
		<string>#fff</string>
		<key>Background Color</key>
		<string>#000</string>
		<key>Gradient</key>
		<dict>
			<key>Bottom Color</key>
			<string>#201f27</string>
			<key>Bottom Line Color</key>
			<string>#3f3e4c</string>
			<key>Top Color</key>
			<string>#3f3e4c</string>
			<key>Top Line Color</key>
			<string>#3f3e4c</string>
		</dict>
		<key>Highlight Color</key>
		<string>#ffd200</string>
		<key>Inactive Color</key>
		<string>#ccc</string>
		<key>Inactive Color (Selected)</key>
		<string>#eee</string>
		<key>New Private Message Color</key>
		<string>#ffd200</string>
		<key>Text Font Style</key>
		<string>Lucida Grande</string>
		<key>Text Font Size</key>
		<integer>11</integer>
		<key>Unread Color</key>
		<string>#6a93d9</string>
	</dict>
	<key>Underlying Window Color</key>
	<string>#1f1f1f</string>
</dict>
</plist>
