
#include "../Common/Foundation.xcconfig"
#include "Enabled Features.xcconfig"
#include "../Common/Textual.xcconfig"

//
// If you change TEXTUAL_BUILT_INSIDE_SANDBOX to 1:
//
// When sandbox is enabled, perform the following change:
//
// TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual;
// TEXTUAL_GROUP_CONTAINER_IDENTIFIER = com.codeux.apps.textual
//
// Changes to:
//
// TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual-mas
// TEXTUAL_GROUP_CONTAINER_IDENTIFIER = 8482Q6EPL6.com.codeux.irc.textual
//

// It is not recommended that you modify these values unless advised to.
TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_GROUP_CONTAINER_IDENTIFIER = com.codeux.apps.textual
TEXTUAL_BUILD_SCHEME_TOKEN = devid

TEXTUAL_EXTENSION_BUILD_SCHEME = Release
TEXTUAL_FRAMEWORK_BUILD_SCHEME = Release
TEXTUAL_XPC_SERVICE_BUILD_SCHEME = Release
