
{{#showDateIndicator}}
	{{> dateIndicator}}
{{/showDateIndicator}}

<div
	class="line {{lineClassAttribute}}"
	id="line-{{lineNumber}}"

	data-command="{{command}}"

{{#isEncrypted}}
	data-encrypted="true"
{{/isEncrypted}}

	data-highlight="{{highlightAttribute}}"
	data-line-type="{{lineType}}"

{{^isRemoteMessage}}
	data-member-type="{{nicknameType}}"
{{/isRemoteMessage}}

	data-timestamp="{{timestamp}}">

	<p>
		<span class="time"

		{{^ isEmpty(localizedTimestamp) }}
			title="{{localizedTimestamp}}"
		{{/ isEmpty(localizedTimestamp) }}>{{formattedTimestamp}} </span>

{{#isEncrypted}}
	{{> encryptedMessageLock}}
{{/isEncrypted}}

		<span class="message">
			<span class="senderContainer">
				<span class="sender"
					onclick="Textual.nicknameMaybeWasDoubleClicked(this)"
					oncontextmenu="Textual.openStandardNicknameContextualMenu()"
					data-member-type="{{nicknameType}}"
					data-nickname="{{nickname}}"

					{{#nicknameColorHashingEnabled}}
						{{#nicknameColorStyleOverride}}
						data-override-color="true"
						{{/nicknameColorStyleOverride}}

						{{^ isEmpty(nicknameColorStyle) }}
						style="color: {{nicknameColorStyle}};"
						{{/ isEmpty(nicknameColorStyle) }}
					{{/nicknameColorHashingEnabled}}>{{formattedNickname}}</span>
			</span>

			<span class="innerMessage">
				{{{formattedMessage}}}

				{{#inlineMediaEnabled}}
					<span class="inlineMediaContainer"></span>
				{{/inlineMediaEnabled}}
			</span>
		</span>
	</p>
</div>

{{#showSessionIndicator}}
	{{> sessionIndicator}}
{{/showSessionIndicator}}
