
<a href="{{anchorLocation}}" class="url" oncontextmenu="Textual.openURLManagementContextualMenu()" {{#anchorInlineMediaAvailable}} onclick="return InlineMedia.toggleOnClick('{{anchorInlineMediaUniqueID}}')" data-ilm-anchor="{{anchorInlineMediaUniqueID}}" {{/anchorInlineMediaAvailable}} >{{{anchorTitle}}}</a>
