
{{! "message_buffer_session_indicator" is kept for backwards compatibility (<=7.0.10) }}

<div class="session_indicator message_buffer_session_indicator">
	<hr />
	<span>{{sessionIndicatorMessage}}</span>
	<hr />
</div>
