
/* Inline media */
@import "inlineMedia.css";

/* Basic Body Structure */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  word-break: break-word;
}

body {
  color: #f2f2f2;
  z-index: 100;
  font-size: 12px;
  background-color: #1d1d1d;
  font-family: "Helvetica Neue";
  font-weight: 200;
  overflow-y: auto;
}

p {
  overflow: visible !important;
}

body .line {
  clear: both;
}

#body {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  max-height: 99.99%;
  opacity: 0; /* Set by JavaScript */
  -webkit-transition: opacity 0.8s linear;
}

#body {
  max-height: 100%;
}

body[dir=rtl] .senderContainer {
  display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
  display: none;
}

/* Scrolling */

body[data-custom-scroller="true"]::-webkit-scrollbar {
  width: 17px;
}

body[data-custom-scroller="true"]::-webkit-scrollbar:horizontal {
  height: 0;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-track {
  background: #393939;
  box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border: 4px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

/* Loading Screen */

#loadingScreen {
  position: fixed;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 210px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  background: #363636;
  padding: 5px;
  padding-left: 10px;
  opacity: 1; /* Set by JavaScript */
  -webkit-transition: opacity 0.8s linear;
}

#loadingScreen progress {
  margin-top: 5px;
}

/* Time */
body[dir=ltr] .time {
  font-size: .91em !important;
  white-space: nowrap;
  float: right;
  color: #999;
  -webkit-user-select: none;
  /*  font-weight: bold; */
  margin-right: 10px;
  padding-left: 25px;
  line-height: 22px;
  font-style: normal;
  text-align: right;
}

/* Encryption Lock */
.encryptionLock {
}

.encryptionLock img {
  z-index: 100;
  position:absolute;
  top:0;
  left: 5px;
  bottom:0;
  margin:auto;
  height: 12px;
  width: auto;
}

/* Links */

a {
  color: #ccc;
  border-color: #ccc;
  text-decoration: none;
  border-bottom: dotted 1px;

}

a:hover {
  color: #64a5ff;
  border-color: #64a5ff;
}

/* Topic Bar */
#topicBar {
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  opacity: 0; /* Set by JavaScript */
  z-index: 400;
  color: #dddddd;
  overflow: hidden;
  position: fixed;
  padding: 7px 0.5em 7px;
  box-shadow: 0 1px 5px #777;
  border-bottom: 1px solid #404040;
  -webkit-transition: opacity 0.8s linear;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  background: rgba(60, 60, 60, 0.91);
}

#topicBar a,
#topicBar .channel {
  color: #64a5ff;
  border-color: #64a5ff;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

/* Hidden scrollback history bar */
#scrolling_history {
  z-index: 400;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  box-shadow: 0 1px 5px #777;
  border-top: 1px solid #404040;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  background: rgba(31, 51, 81, 0.95);
  display: none;
  overflow: hidden;
}

#scrolling_history .senderContainer {
  background: rgba(31, 51, 81, .95);
}

/* Remember Line */
#mark {
  position: relative;
  z-index: 295;
  margin-top: -1px;
  border-bottom: 1px solid;
  border-color: #444;
  -webkit-transition: 0.2s linear;
}

body[dir=ltr] div[data-line-type=action] .sender:before {
  margin-right: 0.6em;
  font-weight: bold;
  font-size: 80% !important;
  content: "●";
}

/* Message buffer loading animation */
.message_buffer_loading_indicator {
  text-align: center;
  height: 42px;
}

.message_buffer_loading_indicator span {
  font-family: Optima !important;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 43px;
  color: #5a5a5a;
  -webkit-animation: ellipsis-period 1.5s infinite;
  animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@keyframes ellipsis-period {
  0% { opacity: 0.2; }
  20% { opacity: 1.0; }
  100% { opacity: 0.2; }
}

/* Message buffer session indicator */
.date_indicator ,
.session_indicator {
  display: flex;
  display: -webkit-flex;
  padding: .5em 0;
}

.date_indicator > hr,
.session_indicator > hr {
  background: #444;
  border: 0;
  height: 1px;
  margin-top: 0.6em;
  flex: 1;
  -webkit-flex: 1;
}

.date_indicator > span,
.session_indicator > span {
  font-style: oblique;
  margin: 0 1em;
}

.date_indicator + #mark,
.session_indicator + #mark {
  display: none;
}

/* NOTICE/CTCP/WALLOPS */
body div.line[data-line-type=ctcp],
body div.line[data-line-type=notice],
body div.line[data-line-type=wallops] {
  z-index: 191;
  position: relative;
  border-bottom: none;
  border-top: none;
  border-left: none;
  background-color: #1d2734;
}

body div[data-line-type=ctcp] .senderContainer,
body div[data-line-type=notice] .senderContainer {
  color: #f00;
  font-weight: 700;
  min-height:23px;
  width: 134px;
  padding-right:7px;
  text-align:right;
  display:inline-block;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
  background-color: #161616;
}

body div[data-line-type=notice] .message {
  color: #f2f2f2;
}

/* PRIVMSG */
body div.line[data-line-type=privmsg][data-highlight=false] {
  padding: 0;
  position: relative;
  min-height: 23px;
}

body div[data-line-type=privmsg] .senderContainer {
  /*  font-weight: 700; */
  min-height:23px;
  width: 134px;
  border-right: 1px solid rgb(64, 64, 64);
  padding-right:7px;
  background-color: #161616;
  text-align:right;
  display:inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
}

body .senderContainer .swrapper {
  font-size: 0px !important;
  opacity: 0;
}

body div[data-line-type="privmsg"] .message {
  color: #f2f2f2;
}

body div[data-line-type="privmsg"][data-encrypted="true"] {
  background: repeating-linear-gradient(-45deg, rgba(79, 79, 79, 0.1), rgba(79, 79, 79, 0.1) 20px, rgba(68, 89, 63, 0.3) 20px, rgba(68, 89, 63, 0.3) 40px) !important;
}

body div[data-line-type="privmsg"][data-encrypted="failed"] {
  background: repeating-linear-gradient(-45deg, rgba(45, 6, 6, 0.2), rgba(45, 6, 6, 0.2) 20px, rgba(104, 15, 15, 0.2) 20px, rgba(104, 15, 15, 0.2) 40px) !important;
}

body div[data-line-type="privmsg"][data-highlight=true][data-encrypted="true"] {
  background: repeating-linear-gradient(-45deg, #30473a, #30473a 20px, rgba(68, 89, 63, 0.3) 20px, rgba(68, 89, 63, 0.3) 40px) !important;
}

body div[data-line-type=privmsg][data-line-type=myself] .message {
  color: #f2f2f2;
}

body div[data-line-type=privmsg] span.effect[data-foreground-color=1]:not([data-background-color]) {
  color: #f2f2f2; /* make black text with no bg white for readability */
}

/* ACTION */
body div[data-line-type=action] .senderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 134px;
  /*  font-weight: 700;*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #1d1d1d;
  height:22px;
  padding-right: 7px;
  text-align:right;
  display:inline-block;
  overflow: hidden;
}

body div.line[data-line-type=action] .message {
  padding-top: 1px;
}

body div.line[data-line-type=action][data-highlight=true] .message {
  color: #f2f2f2 !important;
}

/* DEBUG/INVITE */
body div.line[data-line-type=invite],
body div.line[data-line-type=debug],
body div.line[data-line-type=dcc-file-transfer],
body div.line[data-line-type=off-the-record-encryption-status] {
  color: #f2f2f2;
  z-index: 190;
  background: #2f2f2f;
  position: relative;
  padding: 2px 0 2px 0;
  border-top: 1px solid #393939;
  border-bottom: 1px solid #393939;
}

body div.line[data-line-type=ctcp] .message,
body div.line[data-line-type=invite] .message,
body div.line[data-line-type=debug] .message,
body div.line[data-line-type=dcc-file-transfer] .message,
body div.line[data-line-type=off-the-record-encryption-status] .message {
  text-indent: 0;
  padding-left: 145px !important;
}

/* off-the-record-encryption-status Message Event */
body div.line[data-line-type=off-the-record-encryption-status]  .message {
  color: #ff0000;
  font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */
body div.line[data-command="372"],
body div.line[data-command="721"] {
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

body div.line[data-command="375"],
body div.line[data-command="720"] { /* Start. */
  border-bottom: none;
  padding-top: 2px;
  padding-bottom: 3px;
}

body div.line[data-command="376"],
body div.line[data-command="722"] { /* End. */
  border-top: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

body div.line[data-command="372"] .message,
body div.line[data-command="375"] .message,
body div.line[data-command="376"] .message
body div.line[data-command="720"] .message,
body div.line[data-command="721"] .message,
body div.line[data-command="722"] .message {
  font-family: "Menlo" !important;
}

/* GENERAL EVENT */
body span.message {
  position: relative;
  padding-left: 150px;
  /* padding-right: 25px; */
  display: table-cell;
  min-height: 22px;
  line-height: 22px;
  overflow: visible !important;
}

body div.event span.time {
  color: #999;
  line-height: 19px;
  display: table-cell;
}

body div.event span.message {
  min-height: 19px;
  line-height: 19px;
  text-indent: -20px;
  padding-left: 0;
}

body div.line[data-line-type=join],
body div.line[data-line-type=part],
body div.line[data-line-type=quit],
body div.line[data-line-type=mode],
body div.line[data-line-type=nick],
body div.line[data-line-type=topic],
body div.line[data-line-type=kill],
body div.line[data-line-type=kick],
body div.line[data-line-type=website] {
  font-size: 85%;
  min-height: 19px;
  padding-left: 145px;
  color: #a5b6ce;
  background: #1d1d1d;
}

body div.line[data-line-type=topic] span.message {
  text-indent: 0;
}

body div.line[data-line-type=nick] {
  color: #529567;
}
body div.line[data-line-type=kill],
body div.line[data-line-type=kick] {
  color: #ec5151;
}

body[dir=ltr] div[data-line-type=join] .message:before {
  content: "→";
  color: #0c0;
  margin-left:3px;
  margin-right: 5px;
}

body[dir=ltr] div[data-line-type=kick] .message:before,
body[dir=ltr] div[data-line-type=part] .message:before,
body[dir=ltr] div[data-line-type=quit] .message:before {
  content: "←";
  color: #e00;
  margin-left:3px;
  margin-right: 5px;
}

body[dir=ltr] div[data-line-type=nick] .message:before {
  content: "\2022";
  color: #37be34;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 5px;
}

body[dir=ltr] div[data-line-type=mode] .message:before {
  content: "\2022";
  color: #2cb6f6;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 5px;
}

body[dir=rtl] div[data-line-type=join] .message:before {
  content: "→";
  color: #0c0;
  margin-left:3px;
  margin-right: 5px;
}

body[dir=rtl] div[data-line-type=kick] .message:before,
body[dir=rtl] div[data-line-type=part] .message:before,
body[dir=rtl] div[data-line-type=quit] .message:before {
  content: "←";
  color: #e00;
  margin-left:3px;
  margin-right: 5px;
}

/* Nickname Colors */
body .sender[data-member-type=myself] {
  color: #9A60FF;
}

body .sender {
  margin-right: -.25em;

}

body .f {  /* fade out */
  -webkit-transition: color .75s;
  color: rgb(22, 22, 22) !important;
}

/* SELECTED USER MESSAGES */

.senderContainer {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

body div.line[data-line-type=privmsg]:not(.selectedUser),
body div.line[data-line-type=action]:not(.selectedUser) {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[data-line-type=privmsg] .time:not(.selectedUser),
body div.line[data-line-type=action] .time:not(.selectedUser) {
  transition: color 0.5s;
}

body div.line.selectedUser[data-highlight=false] .time {
  transition: color 0.5s ease-in;
  color: #aaa;
}

body div.line.selectedUser[data-highlight=false] {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
  z-index: 190;
  position: relative;
  background-color: #2f3e53;
}

body div.line[data-line-type=privmsg][data-highlight=true],
body div.line[data-line-type=action][data-highlight=true] {
  z-index: 191;
  position: relative;
  font-weight: normal;
  background-color: #30473a;
}

/* Date changes */
body div.date {
  display: flex;
  display: -webkit-flex;
  padding: .5em 0;
}

body div.date > hr {
  background: #444;
  border: 0;
  flex: 1;
  height: 1px;
  margin-top: .6em;
  -webkit-flex: 1;
}

body div.date > span {
  font-style: oblique;
  margin: 0 1em;
}

body div.date + div#mark {
  display: none;
}

/* Shamelessly steal the background colors from Tomorrow Night */
.effect[data-foreground-color='0'] {
  color: #EAEAEA !important;
}

.effect[data-foreground-color='1'] {
  color: #515151 !important;
}

.effect[data-foreground-color='2'] {
  color: #6699CC !important;
}

.effect[data-foreground-color='3'] {
  color: #99CC99 !important;
}

.effect[data-foreground-color='4'] {
  color: #F2777A !important;
}

.effect[data-foreground-color='5'] {
  color: #FF9DA4 !important;
}

.effect[data-foreground-color='6'] {
  color: #CC99CC !important;
}

.effect[data-foreground-color='7'] {
  color: #F99157 !important;
}

.effect[data-foreground-color='8'] {
  color: #FFCC66 !important;
}

.effect[data-foreground-color='9'] {
  color: #B9CA4A !important;
}

.effect[data-foreground-color='10'] {
  color: #66CCCC !important;
}

.effect[data-foreground-color='11'] {
  color: #99FFFF !important;
}

.effect[data-foreground-color='12'] {
  color: #7AA6DA !important;
}

.effect[data-foreground-color='13'] {
  color: #C397D8 !important;
}

.effect[data-foreground-color='14'] {
  color: #999999 !important;
}

.effect[data-foreground-color='15'] {
  color: #CCCCCC !important;
}
