
// The main project of Textual, its extensions, and its XPC services
// all inherit one of these configuration files to allow them to
// selectively disable code based on which features are enabled.

GCC_PREPROCESSOR_DEFINITIONS = ${inherited} TEXTUAL_BUILT_WITH_ADVANCED_ENCRYPTION=1 TEXTUAL_BUILT_WITH_LICENSE_MANAGER=1
