
<span class="inlineImage {{classAttribute}}" id="inlineMedia-{{uniqueIdentifier}}" style="display: none;">
	<span class="closeButton" href="#" onclick="_ICMInlineImage.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<a href="{{anchorLink}}" onclick="return InlineImageLiveResize.negateAnchorOpen()">
		<img src="{{imageURL}}" class="content" style="max-width: {{preferredMaximumWidth}}px;" />
	</a>
</span>
