
<span class="inlineHTML {{classAttribute}}" id="inlineMedia-{{uniqueIdentifier}}">
	<span class="closeButton" href="#" onclick="_ICMInlineHTML.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<span class="content">
		{{{unescapedHTML}}}
	</span>
</span>
