/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
  	word-wrap: break-word;
}	

body {
	color: #000;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #fff;
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute; 
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: #aaa;
	white-space: nowrap; 
}

body[dir=rtl] .time {
	color: #aaa;
	white-space: nowrap; 
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #00e;
	border-color: #00e;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #0080FF;
	border-color: #0080FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #FFFFFF;
	position: fixed;
	padding: 2px 0.5em 3px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #61778F;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
	background: -webkit-linear-gradient(top, #A2B0D0 0%, #7385AD 100%);
	-webkit-transition: opacity 0.8s linear;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a, 
#topic_bar span.channel {
	color: #FFFFFF;
	border-color: #FFFFFF;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
}

/* Images */

body a img {
	border: 0;
}

body img {
	display: block;
	max-width: 95%;
	margin: 15px 15px 12px 15px;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic 
{
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #fcc;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div[ltype*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* SELECTED USER MESSAGES */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
    transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
    transition: color 0.5s ease-in;
	color: #000;
}

body div.line.selectedUser[highlight=false] {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-top: 1px solid #FC5AF8 !important;
	border-bottom: 1px solid #FC5AF8 !important;
  	background-color: rgba(246, 70, 255, 0.2) !important;
}

/* PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #F6E73F;
	border-bottom: 1px solid #F6E73F;
  	background-color: #FAF4AF !important;
}

body div[ltype*="privmsg"] .message {
	color: #000;
}

body div[ltype*=privmsg][mtype*=myself] .message {
	color: #000;
}

body div[ltype*=privmsg] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* ACTION */

body div.line[ltype*=action] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div[ltype*="action"] .message {
	color: #000;
}

body div[ltype*=action] .sender {
	font-weight: 700;
}

body div[ltype*=action][mtype*=myself] .sender,
body div[ltype*=action][mtype*=myself] .message {
	color: #B52CF6;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=rawhtml],
body div.line[ltype*=dccfiletransfer] {
	color: #777;
  	z-index: 190;
	background: #eee;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=topic],
body div.line[ltype*=website] {
 	padding: 3px 5px 3px 5px;
	color: #aaa;
}

body[dir=ltr] div[ltype*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=kick] .message:before,
body[dir=ltr] div[ltype*=part] .message:before,
body[dir=ltr] div[ltype*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=kick] .message:before,
body[dir=rtl] div[ltype*=part] .message:before,
body[dir=rtl] div[ltype*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body div[ltype*=privmsg] .sender[mtype*=myself] { 
	color: #ea0d68; 
}

body .sender[mtype*=normal][colornumber='0'], 
body .inline_nickname[colornumber='0'] {
	color: #0080ff; 
}

body .sender[mtype*=normal][colornumber='1'], 
body .inline_nickname[colornumber='1'] {
	color: #059005; 
}

body .sender[mtype*=normal][colornumber='2'], 
body .inline_nickname[colornumber='2'] {
	color: #a80054; 
}

body .sender[mtype*=normal][colornumber='3'], 
body .inline_nickname[colornumber='3'] {
	color: #9b0db1; 
}

body .sender[mtype*=normal][colornumber='4'], 
body .inline_nickname[colornumber='4'] {
	color: #108860; 
}

body .sender[mtype*=normal][colornumber='5'], 
body .inline_nickname[colornumber='5'] {
	color: #7F4FFF; 
}

body .sender[mtype*=normal][colornumber='6'], 
body .inline_nickname[colornumber='6'] {
	color: #58701a; 
}

body .sender[mtype*=normal][colornumber='7'], 
body .inline_nickname[colornumber='7'] {
	color: #620a8e; 
}

body .sender[mtype*=normal][colornumber='8'], 
body .inline_nickname[colornumber='8'] {
	color: #BB0008; 
}

body .sender[mtype*=normal][colornumber='9'], 
body .inline_nickname[colornumber='9'] {
	color: #44345f; 
}

body .sender[mtype*=normal][colornumber='10'], 
body .inline_nickname[colornumber='10'] {
	color: #2f5353; 
}

body .sender[mtype*=normal][colornumber='11'], 
body .inline_nickname[colornumber='11'] {
	color: #904000; 
}

body .sender[mtype*=normal][colornumber='12'], 
body .inline_nickname[colornumber='12'] {
	color: #808000; 
}

body .sender[mtype*=normal][colornumber='13'], 
body .inline_nickname[colornumber='13'] {
	color: #57797e; 
}

body .sender[mtype*=normal][colornumber='14'], 
body .inline_nickname[colornumber='14'] {
	color: #3333dd; 
}

body .sender[mtype*=normal][colornumber='15'], 
body .inline_nickname[colornumber='15'] {
	color: #5f4d22; 
}

body .sender[mtype*=normal][colornumber='16'], 
body .inline_nickname[colornumber='16'] { 
	color: #706616;
}

body .sender[mtype*=normal][colornumber='17'], 
body .inline_nickname[colornumber='17'] { 
	color: #46799c;
}

body .sender[mtype*=normal][colornumber='18'], 
body .inline_nickname[colornumber='18'] { 
	color: #80372e;
}

body .sender[mtype*=normal][colornumber='19'], 
body .inline_nickname[colornumber='19'] { 
	color: #8F478E;
}

body .sender[mtype*=normal][colornumber='20'], 
body .inline_nickname[colornumber='20'] { 
	color: #5b9e4c;
}

body .sender[mtype*=normal][colornumber='21'], 
body .inline_nickname[colornumber='21'] { 
	color: #13826c;
}

body .sender[mtype*=normal][colornumber='22'], 
body .inline_nickname[colornumber='22'] { 
	color: #b13637;
}

body .sender[mtype*=normal][colornumber='23'], 
body .inline_nickname[colornumber='23'] { 
	color: #e45d59;
}

body .sender[mtype*=normal][colornumber='24'], 
body .inline_nickname[colornumber='24'] { 
	color: #1b51ae;
}

body .sender[mtype*=normal][colornumber='25'], 
body .inline_nickname[colornumber='25'] { 
	color: #4855ac;
}

body .sender[mtype*=normal][colornumber='26'], 
body .inline_nickname[colornumber='26'] { 
	color: #7f1d86;
}

body .sender[mtype*=normal][colornumber='27'], 
body .inline_nickname[colornumber='27'] { 
	color: #73643f;
}

body .sender[mtype*=normal][colornumber='28'], 
body .inline_nickname[colornumber='28'] { 
	color: #0b9578;
}

body .sender[mtype*=normal][colornumber='29'], 
body .inline_nickname[colornumber='29'] { 
	color: #569c96;
}

body .sender[mtype*=normal][colornumber='30'], 
body .inline_nickname[colornumber='30'] { 
	color: #08465f;
}
