
// TEXTUAL_PROJECT_DIR is replaced by the build script
TEXTUAL_PROJECT_DIR = ${PROJECT_DIR}/../../../../

// TEXTUAL_PRODUCT_LOCATION is replaced by the build script
TEXTUAL_PRODUCT_LOCATION = /Applications/Textual.app

// ICL_PRODUCT_LOCATION is replaced by the build script
ICL_PRODUCT_LOCATION = ${TEXTUAL_PRODUCT_LOCATION}/Contents/XPCServices/InlineContentLoader.xpc

// ICL_PRODUCT_BINARY is replaced by the build script
ICL_PRODUCT_BINARY = ${ICL_PRODUCT_LOCATION}/Contents/MacOS/InlineContentLoader

OBJROOT = ${TEXTUAL_PROJECT_DIR}/.tmp/SharedBuildResults-ICLExtension

SYMROOT = ${OBJROOT}
BUILD_DIR = ${OBJROOT}
TARGET_TEMP_DIR = ${OBJROOT}
SHARED_PRECOMPS_DIR = ${TEXTUAL_PROJECT_DIR}/.tmp/SharedBuildPCH
CONFIGURATION_BUILD_DIR = ${TEXTUAL_PROJECT_DIR}/.tmp/SharedBuildProducts-ICLExtension

CODE_SIGN_ENTITLEMENTS = ${TEXTUAL_PROJECT_DIR}/Resources/Sandbox/Entitlements/Auxiliary.entitlements

HEADER_SEARCH_PATHS = ${inherited} "${ICL_PRODUCT_LOCATION}/Contents/Headers/**"
LIBRARY_SEARCH_PATHS = ${inherited} "${TEXTUAL_PRODUCT_LOCATION}/Contents/Frameworks/**"
FRAMEWORK_SEARCH_PATHS = ${inherited} "${TEXTUAL_PRODUCT_LOCATION}/Contents/Frameworks/**"

WRAPPER_EXTENSION = bundle

PROVISIONING_PROFILE =
PROVISIONING_PROFILE_SPECIFIER =

BUNDLE_LOADER = ${ICL_PRODUCT_BINARY}
