/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}	

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	font-size: 10px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #000;
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[type=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Loading Screen */

body div#loading_screen {
	position:absolute; 
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: #666;
	font-size: 90%;
	white-space: nowrap; 
}

body[dir=rtl] .time {
	color: #666;
	font-size: 90%;
	white-space: nowrap; 
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #00ff00;
	position: fixed;
	text-align: center;
	font-family: Monaco;
	background: #003300;
	padding: 2px 0.5em 3px;
	border-bottom: 0px solid #000;
	-webkit-box-shadow: 0 1px 5px #00ff00;
	background: -webkit-gradient(linear, left top, left bottom, from(#003300), to(#003300));
	-webkit-transition: opacity 0.8s linear;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a {
	color: #0080FF;
	border-color: #0080FF;
}

#topic_bar a:hover {
	color: #0080FF;
	border-color: #0080FF;
}

/* Images */

body a img {
	border: 0;
}

body img {
	display: block;
	max-width: 95%;
	margin: 15px 15px 12px 15px;
}

/* Remember Line */

div[id=mark] {
  	position: relative;
  	z-index: 295;
  	margin-top: -1px;
  	border-bottom: 1px dotted;
  	border-color: #aaa;
  	-webkit-transition: 0.2s linear;
}

/* Historic Line */

.historic 
{
	opacity: 0.6;
}

/* NOTICE/CTCP/WALLOPS */

body div.line[type*=ctcp],
body div.line[type*=notice],
body div.line[type*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

body div[type*=notice] .sender {
	color: #f00;
	font-weight: normal;
}

/* PRIVMSG */

body div.line[type*=privmsg][highlight=false] {
 	padding: 3px 5px 3px 5px;
}

body div.line[type*=privmsg][highlight=true],
body div.line[type*=action][highlight=true] {
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
  	background-color: #400 !important;
}

body div[type="privmsg"] .message {
	color: #aaa;
}

body div[type*=privmsg] p[type*=myself] .message {
	color: #fff;
}

body div[type*=privmsg] .sender {
	font-weight: normal;
}

/* ACTION */

body div.line[type*=action] {
 	padding: 3px 5px 3px 5px;
}

body div[type="action"] .message {
	color: #aaa;
}

body div[type*=action] .sender {
	font-weight: normal;
}

body[dir=ltr] div[type*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[type*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[type*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[type*=invite],
body div.line[type*=debug],
body div.line[type*=rawhtml] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
 	font-weight: normal;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */ 

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	margin-bottom: 1px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-top: 1px solid #444;
	border-bottom: none;
	margin-bottom: 1px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	border-bottom: 1px solid #444;
	margin-bottom: 1px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message 
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[type*=join],
body div.line[type*=part],
body div.line[type*=kick],
body div.line[type*=quit],
body div.line[type*=kill],
body div.line[type*=nick],
body div.line[type*=mode],
body div.line[type*=topic],
body div.line[type*=website] {
	padding: 3px 5px 3px 5px;
	color: #666;
	font-weight: normal;
}

body[dir=ltr] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=kick] .message:before,
body[dir=ltr] div[type*=part] .message:before,
body[dir=ltr] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[type*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=kick] .message:before,
body[dir=rtl] div[type*=part] .message:before,
body[dir=rtl] div[type*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[type*=nick] .message:before {
	content:"•";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

/* Nickname Colors */

body .inline_nickname { color: #21DB00; }

body div[type*=privmsg] .sender[type*=myself],
body div[type*=action] .sender[type*=myself] { 
	color: #aaa; 
}

body .sender[type*=normal] { color: #FFFFFF; }
