<div 	type="{{lineType}}" 
		highlight="{{highlightAttributeRepresentation}}" 
		class="line {{lineClassAttributeRepresentation}}" 
		id="line{{lineNumber}}">
		
{{#isRemoteMessage}}
	<p>
{{/isRemoteMessage}}

{{^isRemoteMessage}}
	<p type="{{nicknameType}}">
{{/isRemoteMessage}}

		<span class="time">{{formattedTimestamp}} </span>
		<span class="message" type="{{lineType}}">
			<span class="sender"
				ondblclick="Textual.nicknameDoubleClicked()" 
				oncontextmenu="Textual.openStandardNicknameContextualMenu()" 
				type="{{nicknameType}}" 
				nick="{{nickname}}" 
				{{#nicknameColorHashingEnabled}} 
					colornumber="{{nicknameColorNumber}}"
				{{/nicknameColorHashingEnabled}}>{{formattedNickname}} </span>{{{formattedMessage}}}</span>
	</p>
</div>