<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reserved Information</key>
	<dict>
		<key>Next Index Value</key>
		<real>1057</real>
	</dict>
	<key>action</key>
	<dict>
		<key>command</key>
		<string>ACTION</string>
		<key>indexValue</key>
		<integer>1002</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>adchat</key>
	<dict>
		<key>command</key>
		<string>ADCHAT</string>
		<key>indexValue</key>
		<integer>1003</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>away</key>
	<dict>
		<key>command</key>
		<string>AWAY</string>
		<key>indexValue</key>
		<integer>1050</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>batch</key>
	<dict>
		<key>command</key>
		<string>BATCH</string>
		<key>indexValue</key>
		<real>1054</real>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>cap</key>
	<dict>
		<key>command</key>
		<string>CAP</string>
		<key>indexValue</key>
		<integer>1004</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>cap_authenticate</key>
	<dict>
		<key>command</key>
		<string>AUTHENTICATE</string>
		<key>indexValue</key>
		<integer>1005</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>certinfo</key>
	<dict>
		<key>command</key>
		<string>CERTINFO</string>
		<key>indexValue</key>
		<real>1055</real>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>chatops</key>
	<dict>
		<key>command</key>
		<string>CHATOPS</string>
		<key>indexValue</key>
		<integer>1006</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>ctcp</key>
	<dict>
		<key>command</key>
		<string>CTCP</string>
		<key>indexValue</key>
		<integer>1007</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_clientinfo</key>
	<dict>
		<key>command</key>
		<string>CLIENTINFO</string>
		<key>indexValue</key>
		<integer>1008</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_ctcpreply</key>
	<dict>
		<key>command</key>
		<string>CTCPREPLY</string>
		<key>indexValue</key>
		<integer>1009</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_finger</key>
	<dict>
		<key>command</key>
		<string>FINGER</string>
		<key>indexValue</key>
		<integer>1051</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_lagcheck</key>
	<dict>
		<key>command</key>
		<string>LAGCHECK</string>
		<key>indexValue</key>
		<integer>1010</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_ping</key>
	<dict>
		<key>command</key>
		<string>PING</string>
		<key>indexValue</key>
		<integer>1011</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_time</key>
	<dict>
		<key>command</key>
		<string>TIME</string>
		<key>indexValue</key>
		<integer>1012</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_userinfo</key>
	<dict>
		<key>command</key>
		<string>USERINFO</string>
		<key>indexValue</key>
		<integer>1013</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ctcp_version</key>
	<dict>
		<key>command</key>
		<string>VERSION</string>
		<key>indexValue</key>
		<integer>1014</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>dcc</key>
	<dict>
		<key>command</key>
		<string>DCC</string>
		<key>indexValue</key>
		<integer>1015</integer>
		<key>isStandalone</key>
		<false/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>error</key>
	<dict>
		<key>command</key>
		<string>ERROR</string>
		<key>indexValue</key>
		<integer>1016</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>gline</key>
	<dict>
		<key>command</key>
		<string>GLINE</string>
		<key>indexValue</key>
		<integer>1047</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>2</integer>
	</dict>
	<key>globops</key>
	<dict>
		<key>command</key>
		<string>GLOBOPS</string>
		<key>indexValue</key>
		<integer>1017</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>gzline</key>
	<dict>
		<key>command</key>
		<string>GZLINE</string>
		<key>indexValue</key>
		<integer>1048</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>2</integer>
	</dict>
	<key>invite</key>
	<dict>
		<key>command</key>
		<string>INVITE</string>
		<key>indexValue</key>
		<integer>1018</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>ison</key>
	<dict>
		<key>command</key>
		<string>ISON</string>
		<key>indexValue</key>
		<integer>1019</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>join</key>
	<dict>
		<key>command</key>
		<string>JOIN</string>
		<key>indexValue</key>
		<integer>1020</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>kick</key>
	<dict>
		<key>command</key>
		<string>KICK</string>
		<key>indexValue</key>
		<integer>1021</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>2</integer>
	</dict>
	<key>kill</key>
	<dict>
		<key>command</key>
		<string>KILL</string>
		<key>indexValue</key>
		<integer>1022</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>list</key>
	<dict>
		<key>command</key>
		<string>LIST</string>
		<key>indexValue</key>
		<integer>1023</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>locops</key>
	<dict>
		<key>command</key>
		<string>LOCOPS</string>
		<key>indexValue</key>
		<integer>1024</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>mode</key>
	<dict>
		<key>command</key>
		<string>MODE</string>
		<key>indexValue</key>
		<integer>1026</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>monitor</key>
	<dict>
		<key>command</key>
		<string>MONITOR</string>
		<key>indexValue</key>
		<real>1056</real>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>nachat</key>
	<dict>
		<key>command</key>
		<string>NACHAT</string>
		<key>indexValue</key>
		<integer>1027</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>names</key>
	<dict>
		<key>command</key>
		<string>NAMES</string>
		<key>indexValue</key>
		<integer>1028</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>nick</key>
	<dict>
		<key>command</key>
		<string>NICK</string>
		<key>indexValue</key>
		<integer>1029</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>notice</key>
	<dict>
		<key>command</key>
		<string>NOTICE</string>
		<key>indexValue</key>
		<integer>1030</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>part</key>
	<dict>
		<key>command</key>
		<string>PART</string>
		<key>indexValue</key>
		<integer>1031</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>pass</key>
	<dict>
		<key>command</key>
		<string>PASS</string>
		<key>indexValue</key>
		<integer>1032</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>-1</integer>
	</dict>
	<key>ping</key>
	<dict>
		<key>command</key>
		<string>PING</string>
		<key>indexValue</key>
		<integer>1033</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>pong</key>
	<dict>
		<key>command</key>
		<string>PONG</string>
		<key>indexValue</key>
		<integer>1034</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>privmsg</key>
	<dict>
		<key>command</key>
		<string>PRIVMSG</string>
		<key>indexValue</key>
		<integer>1035</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>quit</key>
	<dict>
		<key>command</key>
		<string>QUIT</string>
		<key>indexValue</key>
		<integer>1036</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>shun</key>
	<dict>
		<key>command</key>
		<string>SHUN</string>
		<key>indexValue</key>
		<integer>1045</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>2</integer>
	</dict>
	<key>tempshun</key>
	<dict>
		<key>command</key>
		<string>TEMPSHUN</string>
		<key>indexValue</key>
		<integer>1046</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>topic</key>
	<dict>
		<key>command</key>
		<string>TOPIC</string>
		<key>indexValue</key>
		<integer>1039</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>1</integer>
	</dict>
	<key>user</key>
	<dict>
		<key>command</key>
		<string>USER</string>
		<key>indexValue</key>
		<integer>1037</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>3</integer>
	</dict>
	<key>wallops</key>
	<dict>
		<key>command</key>
		<string>WALLOPS</string>
		<key>indexValue</key>
		<integer>1038</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>0</integer>
	</dict>
	<key>watch</key>
	<dict>
		<key>command</key>
		<string>WATCH</string>
		<key>indexValue</key>
		<integer>1053</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>who</key>
	<dict>
		<key>command</key>
		<string>WHO</string>
		<key>indexValue</key>
		<integer>1040</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>whois</key>
	<dict>
		<key>command</key>
		<string>WHOIS</string>
		<key>indexValue</key>
		<integer>1042</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>whowas</key>
	<dict>
		<key>command</key>
		<string>WHOWAS</string>
		<key>indexValue</key>
		<integer>1041</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>999</integer>
	</dict>
	<key>zline</key>
	<dict>
		<key>command</key>
		<string>ZLINE</string>
		<key>indexValue</key>
		<integer>1049</integer>
		<key>isStandalone</key>
		<true/>
		<key>outgoingColonIndex</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
