<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reserved Information</key>
	<dict>
		<key>Next Index Value</key>
		<real>5117</real>
	</dict>
	<key>adchat</key>
	<dict>
		<key>command</key>
		<string>ADCHAT</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5001</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>ame</key>
	<dict>
		<key>command</key>
		<string>AME</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5002</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>amsg</key>
	<dict>
		<key>command</key>
		<string>AMSG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5003</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>aquote</key>
	<dict>
		<key>command</key>
		<string>AQUOTE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5095</integer>
		<key>arguments</key>
		<string>&lt;input&gt;</string>
	</dict>
	<key>araw</key>
	<dict>
		<key>command</key>
		<string>ARAW</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5096</integer>
		<key>arguments</key>
		<string>&lt;input&gt;</string>
	</dict>
	<key>autojoin</key>
	<dict>
		<key>command</key>
		<string>AUTOJOIN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5101</real>
	</dict>
	<key>away</key>
	<dict>
		<key>command</key>
		<string>AWAY</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5004</integer>
		<key>arguments</key>
		<string>[comment]</string>
	</dict>
	<key>back</key>
	<dict>
		<key>command</key>
		<string>BACK</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5105</integer>
	</dict>
	<key>ban</key>
	<dict>
		<key>command</key>
		<string>BAN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5005</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>bufferdebug</key>
	<dict>
		<key>command</key>
		<string>BUFFERDEBUG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5116</real>
	</dict>
	<key>cap</key>
	<dict>
		<key>command</key>
		<string>CAP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5006</integer>
	</dict>
	<key>caps</key>
	<dict>
		<key>command</key>
		<string>CAPS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5007</integer>
	</dict>
	<key>ccbadge</key>
	<dict>
		<key>command</key>
		<string>CCBADGE</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<integer>5008</integer>
		<key>arguments</key>
		<string>&lt;channel&gt; &lt;count&gt; [-h]</string>
	</dict>
	<key>chatops</key>
	<dict>
		<key>command</key>
		<string>CHATOPS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5009</integer>
	</dict>
	<key>clear</key>
	<dict>
		<key>command</key>
		<string>CLEAR</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5010</integer>
	</dict>
	<key>clearall</key>
	<dict>
		<key>command</key>
		<string>CLEARALL</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5011</integer>
	</dict>
	<key>close</key>
	<dict>
		<key>command</key>
		<string>CLOSE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5012</integer>
		<key>arguments</key>
		<string>[target]</string>
	</dict>
	<key>conn</key>
	<dict>
		<key>command</key>
		<string>CONN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5013</integer>
		<key>arguments</key>
		<string>[server]</string>
	</dict>
	<key>ctcp</key>
	<dict>
		<key>command</key>
		<string>CTCP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5014</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt; &lt;command&gt; [extra]</string>
	</dict>
	<key>ctcpreply</key>
	<dict>
		<key>command</key>
		<string>CTCPREPLY</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5015</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt; &lt;command&gt; [extra]</string>
	</dict>
	<key>cycle</key>
	<dict>
		<key>command</key>
		<string>CYCLE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5016</integer>
	</dict>
	<key>dcc</key>
	<dict>
		<key>command</key>
		<string>DCC</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5017</integer>
	</dict>
	<key>debug</key>
	<dict>
		<key>command</key>
		<string>DEBUG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5018</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>defaults</key>
	<dict>
		<key>command</key>
		<string>DEFAULTS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5092</integer>
		<key>New item</key>
		<string>&lt;enable | disable&gt; [-a] &lt;feature&gt;</string>
	</dict>
	<key>dehalfop</key>
	<dict>
		<key>command</key>
		<string>DEHALFOP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5019</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>deop</key>
	<dict>
		<key>command</key>
		<string>DEOP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5020</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>devoice</key>
	<dict>
		<key>command</key>
		<string>DEVOICE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5021</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>echo</key>
	<dict>
		<key>command</key>
		<string>ECHO</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5022</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>empty_caches</key>
	<dict>
		<key>command</key>
		<string>EMPTY_CACHES</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<integer>5110</integer>
	</dict>
	<key>fakerawdata</key>
	<dict>
		<key>command</key>
		<string>FAKERAWDATA</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<integer>5087</integer>
		<key>arguments</key>
		<string>&lt;input&gt;</string>
	</dict>
	<key>getscripts</key>
	<dict>
		<key>command</key>
		<string>GETSCRIPTS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5098</integer>
	</dict>
	<key>gline</key>
	<dict>
		<key>command</key>
		<string>GLINE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5023</integer>
		<key>arguments</key>
		<string>&lt;+ | -&gt;&lt;hostmask | nickname&gt; [duration] [comment]</string>
	</dict>
	<key>globops</key>
	<dict>
		<key>command</key>
		<string>GLOBOPS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5024</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>goto</key>
	<dict>
		<key>command</key>
		<string>GOTO</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5099</integer>
		<key>arguments</key>
		<string>&lt;needle&gt;</string>
	</dict>
	<key>gzline</key>
	<dict>
		<key>command</key>
		<string>GZLINE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5025</integer>
		<key>arguments</key>
		<string>&lt;+ | -&gt;&lt;hostmask | nickname&gt; [duration] [comment]</string>
	</dict>
	<key>halfop</key>
	<dict>
		<key>command</key>
		<string>HALFOP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5026</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>hop</key>
	<dict>
		<key>command</key>
		<string>HOP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5027</integer>
	</dict>
	<key>icbadge</key>
	<dict>
		<key>command</key>
		<string>ICBADGE</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<integer>5028</integer>
		<key>arguments</key>
		<string>&lt;highlight count&gt; &lt;message count&gt;</string>
	</dict>
	<key>ignore</key>
	<dict>
		<key>command</key>
		<string>IGNORE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5029</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>invite</key>
	<dict>
		<key>command</key>
		<string>INVITE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5030</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt; [channel]</string>
	</dict>
	<key>ison</key>
	<dict>
		<key>command</key>
		<string>ISON</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5100</real>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>j</key>
	<dict>
		<key>command</key>
		<string>J</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5031</integer>
		<key>arguments</key>
		<string>&lt;channel[,channel]]&gt; [key[,key]]</string>
	</dict>
	<key>join</key>
	<dict>
		<key>command</key>
		<string>JOIN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5032</integer>
		<key>arguments</key>
		<string>&lt;channel[,channel]]&gt; [key[,key]]</string>
	</dict>
	<key>join_random</key>
	<dict>
		<key>command</key>
		<string>JOIN_RANDOM</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<real>5109</real>
		<key>arguments</key>
		<string>[count]</string>
	</dict>
	<key>kb</key>
	<dict>
		<key>command</key>
		<string>KB</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5083</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt; [comment]</string>
	</dict>
	<key>kick</key>
	<dict>
		<key>command</key>
		<string>KICK</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5033</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt; [comment]</string>
	</dict>
	<key>kickban</key>
	<dict>
		<key>command</key>
		<string>KICKBAN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5034</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt; [comment]</string>
	</dict>
	<key>kill</key>
	<dict>
		<key>command</key>
		<string>KILL</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5035</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt; [comment]</string>
	</dict>
	<key>lagcheck</key>
	<dict>
		<key>command</key>
		<string>LAGCHECK</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5084</integer>
	</dict>
	<key>leave</key>
	<dict>
		<key>command</key>
		<string>LEAVE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5036</integer>
		<key>arguments</key>
		<string>[comment]</string>
	</dict>
	<key>list</key>
	<dict>
		<key>command</key>
		<string>LIST</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5037</integer>
	</dict>
	<key>locops</key>
	<dict>
		<key>command</key>
		<string>LOCOPS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5039</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>m</key>
	<dict>
		<key>command</key>
		<string>M</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5040</integer>
		<key>arguments</key>
		<string>&lt;target&gt; [flags] [arguments]</string>
	</dict>
	<key>me</key>
	<dict>
		<key>command</key>
		<string>ME</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5041</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>mode</key>
	<dict>
		<key>command</key>
		<string>MODE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5042</integer>
		<key>arguments</key>
		<string>&lt;target&gt; [flags] [arguments]</string>
	</dict>
	<key>monitor</key>
	<dict>
		<key>command</key>
		<string>MONITOR</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5106</real>
	</dict>
	<key>msg</key>
	<dict>
		<key>command</key>
		<string>MSG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5043</integer>
		<key>arguments</key>
		<string>&lt;target[,target]]&gt; &lt;message&gt;</string>
	</dict>
	<key>mute</key>
	<dict>
		<key>command</key>
		<string>MUTE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5044</integer>
	</dict>
	<key>mylag</key>
	<dict>
		<key>command</key>
		<string>MYLAG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5045</integer>
	</dict>
	<key>myversion</key>
	<dict>
		<key>command</key>
		<string>MYVERSION</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5046</integer>
	</dict>
	<key>nachat</key>
	<dict>
		<key>command</key>
		<string>NACHAT</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5047</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>names</key>
	<dict>
		<key>command</key>
		<string>NAMES</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5094</integer>
		<key>arguments</key>
		<string>&lt;channel&gt;</string>
	</dict>
	<key>nick</key>
	<dict>
		<key>command</key>
		<string>NICK</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5048</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>notice</key>
	<dict>
		<key>command</key>
		<string>NOTICE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5050</integer>
		<key>arguments</key>
		<string>&lt;target[,target]]&gt; &lt;message&gt;</string>
	</dict>
	<key>notifybubble</key>
	<dict>
		<key>command</key>
		<string>NOTIFYBUBBLE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5112</real>
		<key>arguments</key>
		<string>[target] &lt;message&gt;</string>
	</dict>
	<key>notifysound</key>
	<dict>
		<key>command</key>
		<string>NOTIFYSOUND</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5113</real>
		<key>arguments</key>
		<string>&lt;sound&gt;</string>
	</dict>
	<key>notifyspeak</key>
	<dict>
		<key>command</key>
		<string>NOTIFYSPEAK</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5114</real>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>omsg</key>
	<dict>
		<key>command</key>
		<string>OMSG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5051</integer>
		<key>arguments</key>
		<string>&lt;channel&gt; &lt;message&gt;</string>
	</dict>
	<key>onotice</key>
	<dict>
		<key>command</key>
		<string>ONOTICE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5052</integer>
		<key>arguments</key>
		<string>&lt;channel&gt; &lt;message&gt;</string>
	</dict>
	<key>op</key>
	<dict>
		<key>command</key>
		<string>OP</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5053</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>part</key>
	<dict>
		<key>command</key>
		<string>PART</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5054</integer>
		<key>arguments</key>
		<string>[comment]</string>
	</dict>
	<key>pass</key>
	<dict>
		<key>command</key>
		<string>PASS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5055</integer>
		<key>arguments</key>
		<string>&lt;password&gt;</string>
	</dict>
	<key>query</key>
	<dict>
		<key>command</key>
		<string>QUERY</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5056</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>quit</key>
	<dict>
		<key>command</key>
		<string>QUIT</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5057</integer>
		<key>arguments</key>
		<string>[comment]</string>
	</dict>
	<key>quiet</key>
	<dict>
		<key>command</key>
		<string>QUIET</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5107</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>quote</key>
	<dict>
		<key>command</key>
		<string>QUOTE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5058</integer>
		<key>arguments</key>
		<string>&lt;input&gt;</string>
	</dict>
	<key>raw</key>
	<dict>
		<key>command</key>
		<string>RAW</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5059</integer>
		<key>arguments</key>
		<string>&lt;input&gt;</string>
	</dict>
	<key>rejoin</key>
	<dict>
		<key>command</key>
		<string>REJOIN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5060</integer>
	</dict>
	<key>reloadicl</key>
	<dict>
		<key>command</key>
		<string>RELOADICL</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<real>5115</real>
	</dict>
	<key>remove</key>
	<dict>
		<key>command</key>
		<string>REMOVE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5061</integer>
		<key>arguments</key>
		<string>[target]</string>
	</dict>
	<key>server</key>
	<dict>
		<key>command</key>
		<string>SERVER</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5062</integer>
		<key>arguments</key>
		<string>&lt;address&gt; [[+] port] [password]</string>
	</dict>
	<key>setcolor</key>
	<dict>
		<key>command</key>
		<string>SETCOLOR</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<real>5103</real>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>shun</key>
	<dict>
		<key>command</key>
		<string>SHUN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5063</integer>
		<key>arguments</key>
		<string>&lt;+ | -&gt;&lt;hostmask | nickname&gt; [duration] [comment]</string>
	</dict>
	<key>sme</key>
	<dict>
		<key>command</key>
		<string>SME</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5064</integer>
		<key>arguments</key>
		<string>&lt;target[,target]]&gt; &lt;message&gt;</string>
	</dict>
	<key>smsg</key>
	<dict>
		<key>command</key>
		<string>SMSG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5065</integer>
		<key>arguments</key>
		<string>&lt;target[,target]]&gt; &lt;message&gt;</string>
	</dict>
	<key>sslcontext</key>
	<dict>
		<key>command</key>
		<string>SSLCONTEXT</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5066</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>command</key>
		<string>T</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5067</integer>
		<key>arguments</key>
		<string>&lt;channel&gt; [topic]</string>
	</dict>
	<key>tage</key>
	<dict>
		<key>command</key>
		<string>TAGE</string>
		<key>developerModeOnly</key>
		<true/>
		<key>indexValue</key>
		<integer>5093</integer>
	</dict>
	<key>tempshun</key>
	<dict>
		<key>command</key>
		<string>TEMPSHUN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5068</integer>
		<key>arguments</key>
		<string>&lt;+ | -&gt;&lt;hostmask | nickname&gt; [comment]</string>
	</dict>
	<key>timer</key>
	<dict>
		<key>command</key>
		<string>TIMER</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5069</integer>
		<key>arguments</key>
		<string>&lt;seconds&gt; &lt;command&gt;</string>
	</dict>
	<key>topic</key>
	<dict>
		<key>command</key>
		<string>TOPIC</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5070</integer>
		<key>arguments</key>
		<string>&lt;channel&gt; [topic]</string>
	</dict>
	<key>ume</key>
	<dict>
		<key>command</key>
		<string>UME</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5089</integer>
		<key>arguments</key>
		<string>&lt;target&gt; &lt;message&gt;</string>
	</dict>
	<key>umode</key>
	<dict>
		<key>command</key>
		<string>UMODE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5071</integer>
		<key>arguments</key>
		<string>[flags] [arguments]</string>
	</dict>
	<key>umsg</key>
	<dict>
		<key>command</key>
		<string>UMSG</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5088</integer>
		<key>arguments</key>
		<string>&lt;target&gt; &lt;message&gt;</string>
	</dict>
	<key>unban</key>
	<dict>
		<key>command</key>
		<string>UNBAN</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5072</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>unignore</key>
	<dict>
		<key>command</key>
		<string>UNIGNORE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5073</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>unmute</key>
	<dict>
		<key>command</key>
		<string>UNMUTE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5075</integer>
	</dict>
	<key>unotice</key>
	<dict>
		<key>command</key>
		<string>UNOTICE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5090</integer>
		<key>arguments</key>
		<string>&lt;target&gt; &lt;message&gt;</string>
	</dict>
	<key>unquiet</key>
	<dict>
		<key>command</key>
		<string>UNQUIET</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5108</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>voice</key>
	<dict>
		<key>command</key>
		<string>VOICE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5076</integer>
		<key>arguments</key>
		<string>[channel] &lt;nickname&gt;</string>
	</dict>
	<key>wallops</key>
	<dict>
		<key>command</key>
		<string>WALLOPS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5077</integer>
		<key>arguments</key>
		<string>&lt;message&gt;</string>
	</dict>
	<key>watch</key>
	<dict>
		<key>command</key>
		<string>WATCH</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5097</integer>
	</dict>
	<key>who</key>
	<dict>
		<key>command</key>
		<string>WHO</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5079</integer>
		<key>arguments</key>
		<string>&lt;channel&gt;</string>
	</dict>
	<key>whois</key>
	<dict>
		<key>command</key>
		<string>WHOIS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5080</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>whowas</key>
	<dict>
		<key>command</key>
		<string>WHOWAS</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5081</integer>
		<key>arguments</key>
		<string>&lt;nickname&gt;</string>
	</dict>
	<key>zline</key>
	<dict>
		<key>command</key>
		<string>ZLINE</string>
		<key>developerModeOnly</key>
		<false/>
		<key>indexValue</key>
		<integer>5082</integer>
		<key>arguments</key>
		<string>&lt;+ | -&gt;&lt;hostmask | nickname&gt; [duration] [comment]</string>
	</dict>
</dict>
</plist>
