<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlphaChat</key>
	<string>irc.alphachat.net</string>
	<key>btrIRC</key>
	<string>irc.btri.x10.bz</string>
	<key>DALnet</key>
	<string>irc.dal.net</string>
	<key>EFnet</key>
	<string>irc.efnet.org</string>
	<key>EsperNet</key>
	<string>irc.esper.net</string>
	<key>Ewnix</key>
	<string>irc.ewnix.net</string>
	<key>Flux.cd</key>
	<string>irc.flux.cd</string>
	<key>GameSurge</key>
	<string>irc.gamesurge.net</string>
	<key>GeeksIRC</key>
	<string>irc.geeksirc.net</string>
	<key>German-Elite</key>
	<string>irc.german-elite.net</string>
	<key>Global Gamers</key>
	<string>irc.globalgamers.net</string>
	<key>IRCHighWay</key>
	<string>irc.irchighway.net</string>
	<key>IRCNode</key>
	<string>irc.ircnode.org</string>
	<key>Interlinked</key>
	<string>irc.interlinked.me</string>
	<key>Mibbit</key>
	<string>irc.mibbit.com</string>
	<key>MindForge</key>
	<string>irc.mindforge.org</string>
	<key>Mozilla</key>
	<string>irc.mozilla.org</string>
	<key>Mozor</key>
	<string>irc.mozor.net</string>
	<key>NixtrixIRC</key>
	<string>irc.nixtrixirc.net</string>
	<key>OFTC</key>
	<string>irc.oftc.net</string>
	<key>PonyChat</key>
	<string>irc.ponychat.net</string>
	<key>QuakeNet</key>
	<string>irc.quakenet.org</string>
	<key>Rizon</key>
	<string>irc.rizon.net</string>
	<key>Snoonet</key>
	<string>irc.snoonet.org</string>
	<key>Snyde</key>
	<string>irc.snyde.net</string>
	<key>StormBit</key>
	<string>irc.stormbit.net</string>
	<key>TWiT</key>
	<string>irc.twit.tv</string>
	<key>Thinkstack</key>
	<string>irc.thinstack.net</string>
	<key>TinyCrab</key>
	<string>irc.tinycrab.net</string>
	<key>Undernet</key>
	<string>irc.undernet.org</string>
	<key>ValleyNode</key>
	<string>irc.valleynode.net</string>
	<key>freenode</key>
	<string>chat.freenode.net</string>
</dict>
</plist>
