<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplyCommandToAllConnections -&gt; amsg</key>
	<false/>
	<key>ApplyCommandToAllConnections -&gt; away</key>
	<false/>
	<key>ApplyCommandToAllConnections -&gt; clearall</key>
	<true/>
	<key>ApplyCommandToAllConnections -&gt; nick</key>
	<false/>
	<key>AutojoinChannelOnInvite</key>
	<false/>
	<key>AutojoinDelayBetweenChannelJoins</key>
	<real>2.2</real>
	<key>AutojoinMaximumChannelJoinCount</key>
	<integer>2</integer>
	<key>AutojoinWaitsForNickservIdentification</key>
	<false/>
	<key>AutomaticallyAddScrollbackMarker</key>
	<true/>
	<key>AutomaticallyDisconnectForSleepMode</key>
	<true/>
	<key>AutomaticallyDetectHighlightSpam</key>
	<true/>
	<key>AutomaticallyFilterUnicodeTextSpam</key>
	<false/>
	<key>AutomaticallyReloadCustomThemesWhenTheyChange</key>
	<false/>
	<key>ChannelNavigationIsServerSpecific</key>
	<true/>
	<key>ChannelOperatorDefaultLocalization -&gt; Kick Reason</key>
	<string>Your behavior is not conducive to the desired environment.</string>
	<key>ChannelViewArrangement</key>
	<integer>0</integer>
	<key>CommandReturnSendsMessageAsAction</key>
	<true/>
	<key>ConfirmApplicationQuit</key>
	<true/>
	<key>ControlEnterSendsMessage</key>
	<false/>
	<key>ConversationTrackingIncludesUserModeSymbol</key>
	<false/>
	<key>CopyTextSelectionOnMouseUp</key>
	<false/>
	<key>DefaultBanCommandHostmaskFormat</key>
	<integer>1</integer>
	<key>DefaultIdentity -&gt; AwayNickname</key>
	<string></string>
	<key>DefaultIdentity -&gt; Nickname</key>
	<string>Guest</string>
	<key>DefaultIdentity -&gt; Realname</key>
	<string>Textual User</string>
	<key>DefaultIdentity -&gt; Username</key>
	<string>textual</string>
	<key>DestinationOfNonserverNotices</key>
	<integer>0</integer>
	<key>DisableMainWindowSegmentedController</key>
	<false/>
	<key>DisableRemoteNicknameColorHashing</key>
	<false/>
	<key>DisableSidebarTranslucency</key>
	<false/>
	<key>DisplayDockBadges</key>
	<true/>
	<key>DisplayEventInLogView -&gt; Inline Media</key>
	<false/>
	<key>DisplayEventInLogView -&gt; Join, Part, Quit</key>
	<true/>
	<key>DisplayPublicMessageCountInDockBadge</key>
	<false/>
	<key>DisplayServerMessageOfTheDayOnConnect</key>
	<true/>
	<key>DisplayUserListNoModeSymbol</key>
	<true/>
	<key>File Transfers -&gt; File Transfer IP Address Detection Method</key>
	<integer>1</integer>
	<key>File Transfers -&gt; File Transfer Port Range End</key>
	<integer>1130</integer>
	<key>File Transfers -&gt; File Transfer Port Range Start</key>
	<integer>1115</integer>
	<key>File Transfers -&gt; File Transfer Request Reply Action</key>
	<integer>2</integer>
	<key>File Transfers -&gt; File Transfer Requests Use Reverse DCC</key>
	<false/>
	<key>File Transfers -&gt; Idle System Sleep Prevented During File Transfer</key>
	<true/>
	<key>FocusSelectionOnMessageCommandExecution</key>
	<true/>
	<key>GenerateLocalizedTimestampTemplateToken</key>
	<true/>
	<key>GCDAsyncSocket Cipher List Includes Deprecated Ciphers</key>
	<true/>
	<key>IRCopDefaultLocalizaiton -&gt; G:Line Reason</key>
	<string>35d Your behavior is not conducive to the desired environment.</string>
	<key>IRCopDefaultLocalizaiton -&gt; Kill Reason</key>
	<string>Your behavior is not conducive to the desired environment.</string>
	<key>IRCopDefaultLocalizaiton -&gt; Shun Reason</key>
	<string>1d Shunned.</string>
	<key>InlineMediaCheckEverything</key>
	<false/>
	<key>InlineMediaLimitToBasics</key>
	<false/>
	<key>InlineMediaLimitNaughtyContent</key>
	<true/>
	<key>InlineMediaLimitUnsafeContent</key>
	<true/>
	<key>InlineMediaMaximumFilesize</key>
	<integer>2</integer>
	<key>InlineMediaMaximumHeight</key>
	<integer>0</integer>
	<key>InlineMediaScalingWidth</key>
	<integer>300</integer>
	<key>InvertSidebarColors</key>
	<false/>
	<key>IRC -&gt; Enable echo-message Capability</key>
	<false/>
	<key>Keyboard -&gt; Command+W Key Action</key>
	<integer>0</integer>
	<key>Keyboard -&gt; Tab Key Action</key>
	<integer>0</integer>
	<key>LogHighlights</key>
	<true/>
	<key>LogTranscript</key>
	<false/>
	<key>MemberListSortFavorsServerStaff</key>
	<false/>
	<key>MemberListUpdatesUserInfoPopoverOnScroll</key>
	<true/>
	<key>Main Input Text Field -&gt; Font Size</key>
	<integer>1</integer>
	<key>Main Input Text Field -&gt; Focus When Changing Views</key>
	<true/>
	<key>MainWindowTransparencyLevel</key>
	<real>1</real>
	<key>NicknameHighlightMatchingType</key>
	<integer>1</integer>
	<key>NotificationType -&gt; Address Book Match -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Receiving) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Receiving) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Sending) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Failed File Transfer (Sending) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; File Transfer Request -&gt; Sound</key>
	<string>Blow</string>
	<key>NotificationType -&gt; Highlight -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Highlight -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Highlight -&gt; Sound</key>
	<string>Glass</string>
	<key>NotificationType -&gt; Private Message (New) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Private Message (New) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Private Message (New) -&gt; Sound</key>
	<string>Submarine</string>
	<key>NotificationType -&gt; Private Message -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Private Message -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Private Message -&gt; Sound</key>
	<string>Submarine</string>
	<key>NotificationType -&gt; Public Message -&gt; Speak Channel Name</key>
	<true/>
	<key>NotificationType -&gt; Public Message -&gt; Speak Nickname</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Receiving) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Receiving) -&gt; Enabled</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Sending) -&gt; Bounce Dock Icon</key>
	<true/>
	<key>NotificationType -&gt; Successful File Transfer (Sending) -&gt; Enabled</key>
	<true/>
	<key>Off-the-Record Messaging -&gt; Automatically Enable Service</key>
	<false/>
	<key>Off-the-Record Messaging -&gt; Enable Encryption</key>
	<true/>
	<key>Off-the-Record Messaging -&gt; Require Encryption</key>
	<false/>
	<key>OnlySpeakNotificationsForSelection</key>
	<true/>
	<key>OpenClickedLinksInBackgroundBrowser</key>
	<false/>
	<key>Optimizations -&gt; Load History Lazily</key>
	<true/>
	<key>PostNotificationsWhileInFocus</key>
	<true/>
	<key>ReceiveBetaUpdates</key>
	<false/>
	<key>RejoinChannelOnLocalKick</key>
	<false/>
	<key>ReloadScrollbackOnLaunch</key>
	<true/>
	<key>RightToLeftTextFormatting</key>
	<false/>
	<key>RemoveIRCTextFormatting</key>
	<false/>
	<key>ReplyUnignoredExternalCTCPRequests</key>
	<true/>
	<key>SaveInputHistoryPerSelection</key>
	<false/>
	<key>ServerListDoubleClickConnectServer</key>
	<false/>
	<key>ServerListDoubleClickDisconnectServer</key>
	<false/>
	<key>ServerListDoubleClickJoinChannel</key>
	<false/>
	<key>ServerListDoubleClickLeaveChannel</key>
	<false/>
	<key>ServerListRetainsQueriesBetweenRestarts</key>
	<false/>
	<key>SetAwayOnScreenSleep</key>
	<false/>
	<key>ScrollbackMaximumSavedLineCount</key>
	<real>15000</real>
	<key>ScrollbackMaximumVisibleLineCount</key>
	<integer>0</integer>
	<key>Socket -&gt; Secured Connection -&gt; Enforce Allowed Cipher Suites</key>
	<false/>
	<key>SwipeMinimumLength</key>
	<integer>30</integer>
	<key>SyncPreferencesToTheCloud</key>
	<false/>
	<key>SyncPreferencesToTheCloudIncludesKeychainItems</key>
	<false/>
	<key>SyncPreferencesToTheCloudLimitedToServers</key>
	<false/>
	<key>Tab Completion -&gt; Completion Suffix Cut Forward Until Space</key>
	<false/>
	<key>Tab Completion -&gt; Do Not Use Whitespace for Missing Completion Suffix</key>
	<false/>
	<key>TextFieldAutomaticGrammarCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCorrection</key>
	<false/>
	<key>TextFieldSmartCopyPaste</key>
	<true/>
	<key>TextFieldSmartDashes</key>
	<false/>
	<key>TextFieldDataDetectors</key>
	<false/>
	<key>TextFieldSmartLinks</key>
	<false/>
	<key>TextFieldSmartQuotes</key>
	<false/>
	<key>TextFieldTextReplacement</key>
	<true/>
	<key>TextualDeveloperEnvironment</key>
	<false/>
	<key>Theme -&gt; Font Name</key>
	<string>Lucida Grande</string>
	<key>Theme -&gt; Font Size</key>
	<real>12</real>
	<key>Theme -&gt; Name</key>
	<string>resource:Simplified Light</string>
	<key>Theme -&gt; Nickname Format</key>
	<string>&lt;%@%n&gt;</string>
	<key>Theme -&gt; Timestamp Format</key>
	<string>[%H:%M:%S]</string>
	<key>TrackNicknameHighlightsOfLocalUser</key>
	<true/>
	<key>TrackUserAwayStatusMaximumChannelSize</key>
	<integer>300</integer>
	<key>User List Mode Badge Colors -&gt; +a</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg5HtHD8Ag/ypsT4Bhg==</data>
	<key>User List Mode Badge Colors -&gt; +h</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgwIrhz2DI9v5PoNQjZc9AYY=</data>
	<key>User List Mode Badge Colors -&gt; +o</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg0a2sz6DqMZLPoNt5xs/AYY=</data>
	<key>User List Mode Badge Colors -&gt; +q</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgyPbOT8AAAGG</data>
	<key>User List Mode Badge Colors -&gt; +v</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg6jGSz6Dj8L1PoNt5xs/AYY=</data>
	<key>User List Mode Badge Colors -&gt; +y</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg8HKIT+DH4WrPoOLbGc+AYY=</data>
	<key>UserListDoubleClickAction</key>
	<integer>200</integer>
	<key>UsesWebKit2WhenAvailable</key>
	<false/>
	<key>WebViewDoNotUsesCustomScrollers</key>
	<false/>
	<key>WebViewPreviewLinks</key>
	<false/>
	<key>WebViewProcessPoolSizeIsLimited</key>
	<true/>
</dict>
</plist>
