<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindowAutosaveFrameMovesToActiveDisplay</key>
	<false/>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>__WebInspectorPageGroupLevel1__.WebKit2InspectorStartsAttached</key>
	<false/>
</dict>
</plist>
