<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBookAir3,1</key>
	<string>MacBook Air</string>
	<key>MacBookAir3,2</key>
	<string>MacBook Air</string>
	<key>Xserve3,1</key>
	<string>Xserve</string>
	<key>Xserve2,1</key>
	<string>Xserve</string>
	<key>Xserve1,1</key>
	<string>Xserve</string>
	<key>RackMac3,1</key>
	<string>Xserve</string>
	<key>RackMac1,2</key>
	<string>Xserve</string>
	<key>RackMac1,1</key>
	<string>Xserve</string>
	<key>AppleTV1,1</key>
	<string>TV</string>
	<key>PowerBook5,9</key>
	<string>PowerBook</string>
	<key>PowerBook5,8</key>
	<string>PowerBook</string>
	<key>PowerBook5,7</key>
	<string>PowerBook</string>
	<key>PowerBook5,6</key>
	<string>PowerBook</string>
	<key>PowerBook6,8</key>
	<string>PowerBook</string>
	<key>PowerBook5,5</key>
	<string>PowerBook</string>
	<key>PowerBook5,4</key>
	<string>PowerBook</string>
	<key>PowerBook6,4</key>
	<string>PowerBook</string>
	<key>PowerBook5,3</key>
	<string>PowerBook</string>
	<key>PowerBook5,2</key>
	<string>PowerBook</string>
	<key>PowerBook6,2</key>
	<string>PowerBook</string>
	<key>PowerBook5,1</key>
	<string>PowerBook</string>
	<key>PowerBook6,1</key>
	<string>PowerBook</string>
	<key>PowerBook3,5</key>
	<string>PowerBook</string>
	<key>PowerBook3,4</key>
	<string>PowerBook</string>
	<key>PowerBook3,3</key>
	<string>PowerBook</string>
	<key>PowerBook3,2</key>
	<string>PowerBook</string>
	<key>PowerBook3,1</key>
	<string>PowerBook</string>
	<key>PowerBook1,1</key>
	<string>PowerBook</string>
	<key>PowerMac11,2</key>
	<string>Power Macintosh</string>
	<key>PowerMac7,3</key>
	<string>Power Macintosh</string>
	<key>PowerMac9,1</key>
	<string>Power Macintosh</string>
	<key>PowerMac7,2</key>
	<string>Power Macintosh</string>
	<key>PowerMac3,6</key>
	<string>Mac Server</string>
	<key>PowerMac3,5</key>
	<string>Mac Server</string>
	<key>PowerMac3,4</key>
	<string>Mac Server</string>
	<key>PowerMac5,1</key>
	<string>Power Macintosh</string>
	<key>PowerMac3,3</key>
	<string>Mac Server</string>
	<key>PowerMac3,1</key>
	<string>Mac Server</string>
	<key>PowerMac1,2</key>
	<string>Power Macintosh</string>
	<key>PowerMac1,1</key>
	<string>Mac Server</string>
	<key>MacBookPro6,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro6,2</key>
	<string>MacBook Pro</string>
	<key>MacBookPro7,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro5,2</key>
	<string>MacBook Pro</string>
	<key>MacBookPro5,3</key>
	<string>MacBook Pro</string>
	<key>MacBookPro5,4</key>
	<string>MacBook Pro</string>
	<key>MacBookPro5,5</key>
	<string>MacBook Pro</string>
	<key>MacBookPro5,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro4,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro3,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro2,1</key>
	<string>MacBook Pro</string>
	<key>MacBookPro2,2</key>
	<string>MacBook Pro</string>
	<key>MacBookPro1,2</key>
	<string>MacBook Pro</string>
	<key>MacBookPro1,1</key>
	<string>MacBook Pro</string>
	<key>MacBookAir2,1</key>
	<string>MacBook Air</string>
	<key>MacBookAir1,1</key>
	<string>MacBook Air</string>
	<key>MacBook7,1</key>
	<string>MacBook</string>
	<key>MacBook6,1</key>
	<string>MacBook</string>
	<key>MacBook5,2</key>
	<string>MacBook</string>
	<key>MacBook5,1</key>
	<string>MacBook</string>
	<key>MacBook4,1</key>
	<string>MacBook</string>
	<key>MacBook3,1</key>
	<string>MacBook</string>
	<key>MacBook2,1</key>
	<string>MacBook</string>
	<key>MacBook1,1</key>
	<string>MacBook</string>
	<key>MacPro4,1</key>
	<string>Mac Pro</string>
	<key>MacPro3,1</key>
	<string>Mac Pro</string>
	<key>MacPro1,1*</key>
	<string>Mac Pro</string>
	<key>Macmini3,1</key>
	<string>Mac mini</string>
	<key>Macmini2,1</key>
	<string>Mac mini</string>
	<key>Macmini1,1</key>
	<string>Mac mini</string>
	<key>PowerMac10,2</key>
	<string>Mac mini</string>
	<key>PowerMac10,1</key>
	<string>Mac mini</string>
	<key>iMac11,1</key>
	<string>iMac</string>
	<key>iMac10,1</key>
	<string>iMac</string>
	<key>iMac9,1</key>
	<string>iMac</string>
	<key>iMac8,1</key>
	<string>iMac</string>
	<key>iMac7,1</key>
	<string>iMac</string>
	<key>iMac6,1</key>
	<string>iMac</string>
	<key>iMac5,1</key>
	<string>iMac</string>
	<key>iMac5,2</key>
	<string>iMac</string>
	<key>iMac4,2</key>
	<string>iMac</string>
	<key>iMac4,1</key>
	<string>iMac</string>
	<key>PowerMac12,1</key>
	<string>iMac</string>
	<key>PowerMac8,2</key>
	<string>iMac</string>
	<key>PowerMac8,1</key>
	<string>iMac</string>
	<key>PowerMac6,3</key>
	<string>iMac</string>
	<key>PowerMac6,1</key>
	<string>iMac</string>
	<key>PowerMac4,2</key>
	<string>iMac</string>
	<key>PowerMac4,5</key>
	<string>iMac</string>
	<key>PowerMac4,1</key>
	<string>iMac</string>
	<key>PowerMac2,2</key>
	<string>iMac</string>
	<key>PowerMac2,1</key>
	<string>iMac</string>
	<key>iMac,1</key>
	<string>iMac</string>
	<key>PowerBook6,7</key>
	<string>iBook</string>
	<key>PowerBook6,5</key>
	<string>iBook</string>
	<key>PowerBook6,3</key>
	<string>iBook</string>
	<key>PowerBook4,3</key>
	<string>iBook</string>
	<key>PowerBook4,2</key>
	<string>iBook</string>
	<key>PowerBook4,1</key>
	<string>iBook</string>
	<key>PowerBook2,2</key>
	<string>iBook</string>
	<key>PowerBook2,1</key>
	<string>iBook</string>
	<key>PowerMac6,4</key>
	<string>eMac</string>
	<key>PowerMac4,4</key>
	<string>eMac</string>
</dict>
</plist>
