<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eb2dc862342c6c653e29d7363f6d421e</key>
	<string>User List Mode Badge Colors -> +y</string>
	<key>0d6b24b13a7e43211762da51815b2064</key>
	<string>User List Mode Badge Colors -> +q</string>
	<key>74f61fa09dce30a57fd7c1331cd99ddb</key>
	<string>User List Mode Badge Colors -> +a</string>
	<key>1ceffaa7b5291aa3b15e7e229a50e272</key>
	<string>User List Mode Badge Colors -> +o</string>
	<key>4f8e8414604e9ccb757d980991d576a1</key>
	<string>User List Mode Badge Colors -> +h</string>
	<key>76248ae19d477d639cb821f1e0a6dae2</key>
	<string>User List Mode Badge Colors -> +v</string>
	<key>051baac72009cc4914d1815916e1ed49</key>
	<string>Server List Unread Message Count Badge Colors -> Highlight</string>
</dict>
</plist>
