<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keyboard -&gt; Command+W Action</key>
	<string>Keyboard -&gt; Command+W Key Action</string>
	<key>inlineImageMaxFilesize</key>
	<string>InlineMediaMaximumFilesize</string>
	<key>User List Mode Badge Colors —&gt; +a</key>
	<string>User List Mode Badge Colors -&gt; +a</string>
	<key>User List Mode Badge Colors —&gt; +h</key>
	<string>User List Mode Badge Colors -&gt; +h</string>
	<key>User List Mode Badge Colors —&gt; +o</key>
	<string>User List Mode Badge Colors -&gt; +o</string>
	<key>User List Mode Badge Colors —&gt; +q</key>
	<string>User List Mode Badge Colors -&gt; +q</string>
	<key>User List Mode Badge Colors —&gt; +v</key>
	<string>User List Mode Badge Colors -&gt; +v</string>
	<key>User List Mode Badge Colors —&gt; +v</key>
	<string>User List Mode Badge Colors -&gt; +v</string>
</dict>
</plist>
