<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextFieldAutomaticGrammarCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCheck</key>
	<true/>
	<key>TextFieldAutomaticSpellCorrection</key>
	<false/>
	<key>TextFieldSmartCopyPaste</key>
	<true/>
	<key>TextFieldTextReplacement</key>
	<true/>
	<key>WebKitDeveloperExtras</key>
	<true/>
</dict>
</plist>
