<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mac13,1</key>
	<string>Mac Studio (20-inch, 2022)</string>
	<key>Mac13,2</key>
	<string>Mac Studio (20-inch, 2022)</string>
	<key>Mac14,2</key>
	<string>MacBook Air (13-inch, 2022)</string>
	<key>Mac14,3</key>
	<string>Mac mini (2013)</string>
	<key>Mac14,5</key>
	<string>MacBook Pro (14-inch, 2023)</string>
	<key>Mac14,6</key>
	<string>MacBook Pro (16-inch, 2023)</string>
	<key>Mac14,7</key>
	<string>MacBook Pro (13-inch, 2022)</string>
	<key>Mac14,9</key>
	<string>MacBook Pro (14-inch, 2023)</string>
	<key>Mac14,10</key>
	<string>MacBook Pro (16-inch, 2023)</string>
	<key>Mac14,12</key>
	<string>Mac mini (2023)</string>
	<key>MacBook6,1</key>
	<string>MacBook (13-inch, Late 2009)</string>
	<key>MacBook7,1</key>
	<string>MacBook (13-inch, 2010)</string>
	<key>MacBook8,1</key>
	<string>MacBook (12-inch, 2015)</string>
	<key>MacBook9,1</key>
	<string>MacBook (12-inch, Early 2016)</string>
	<key>MacBook10,1</key>
	<string>MacBook (12-inch, 2017)</string>
	<key>MacBookAir3,1</key>
	<string>MacBook Air (11-inch, 2010)</string>
	<key>MacBookAir3,2</key>
	<string>MacBook Air (13-inch, 2010)</string>
	<key>MacBookAir4,1</key>
	<string>MacBook Air (11-inch, 2011)</string>
	<key>MacBookAir4,2</key>
	<string>MacBook Air (13-inch, 2011)</string>
	<key>MacBookAir5,1</key>
	<string>MacBook Air (11-inch, 2012)</string>
	<key>MacBookAir5,2</key>
	<string>MacBook Air (13-inch, 2012)</string>
	<key>MacBookAir6,1</key>
	<string>MacBook Air (11-inch, 2013)</string>
	<key>MacBookAir6,2</key>
	<string>MacBook Air (13-inch, 2013)</string>
	<key>MacBookAir7,1</key>
	<string>MacBook Air (11-inch, 2015)</string>
	<key>MacBookAir7,2</key>
	<string>MacBook Air (13-inch, 2015)</string>
	<key>MacBookAir8,1</key>
	<string>MacBook Air (13-inch, 2018)</string>
	<key>MacBookAir9,1</key>
	<string>MacBook Air (13-inch, Early 2020)</string>
	<key>MacBookAir10,1</key>
	<string>MacBook Air (13-inch, Late 2020)</string>
	<key>MacBookPro6,1</key>
	<string>MacBook Pro (17-inch, Mid-2010)</string>
	<key>MacBookPro6,2</key>
	<string>MacBook Pro (15-inch, Mid-2010)</string>
	<key>MacBookPro7,1</key>
	<string>MacBook Pro (13-inch, Mid-2010)</string>
	<key>MacBookPro8,1</key>
	<string>MacBook Pro (13-inch, 2011)</string>
	<key>MacBookPro8,2</key>
	<string>MacBook Pro (15-inch, 2011)</string>
	<key>MacBookPro8,3</key>
	<string>MacBook Pro (17-inch, 2011)</string>
	<key>MacBookPro9,2</key>
	<string>MacBook Pro (13-inch, 2012)</string>
	<key>MacBookPro9,1</key>
	<string>MacBook Pro (15-inch, 2012)</string>
	<key>MacBookPro10,1</key>
	<string>MacBook Pro (15-inch, 2012)</string>
	<key>MacBookPro10,2</key>
	<string>MacBook Pro (13-inch, 2012)</string>
	<key>MacBookPro11,1</key>
	<string>MacBook Pro (13-inch, 2013)</string>
	<key>MacBookPro11,2</key>
	<string>MacBook Pro (15-inch, 2013)</string>
	<key>MacBookPro11,3</key>
	<string>MacBook Pro (15-inch, 2013)</string>
	<key>MacBookPro11,4</key>
	<string>MacBook Pro (15-inch, Mid-2015)</string>
	<key>MacBookPro11,5</key>
	<string>MacBook Pro (15-inch, Mid-2015)</string>
	<key>MacBookPro12,1</key>
	<string>MacBook Pro (13-inch, Early 2015)</string>
	<key>MacBookPro13,1</key>
	<string>MacBook Pro (13-inch, 2016)</string>
	<key>MacBookPro13,2</key>
	<string>MacBook Pro (13-inch, 2016)</string>
	<key>MacBookPro13,3</key>
	<string>MacBook Pro (15-inch, 2016)</string>
	<key>MacBookPro14,1</key>
	<string>MacBook Pro (13-inch, 2017)</string>
	<key>MacBookPro14,2</key>
	<string>MacBook Pro (13-inch, 2017)</string>
	<key>MacBookPro14,3</key>
	<string>MacBook Pro (15-inch, 2017)</string>
	<key>MacBookPro15,1</key>
	<string>MacBook Pro (15-inch, 2018)</string>
	<key>MacBookPro15,2</key>
	<string>MacBook Pro (13-inch, 2018)</string>
	<key>MacBookPro15,3</key>
	<string>MacBook Pro (15-inch, 2019)</string>
	<key>MacBookPro16,1</key>
	<string>MacBook Pro (16-inch, 2019)</string>
	<key>MacBookPro16,2</key>
	<string>MacBook Pro (13-inch, 2020)</string>
	<key>MacBookPro16,3</key>
	<string>MacBook Pro (13-inch, 2020)</string>
	<key>MacBookPro17,1</key>
	<string>MacBook Pro (13-inch, 2020)</string>
	<key>MacBookPro18,1</key>
	<string>MacBook Pro (16-inch, 2021)</string>
	<key>MacBookPro18,2</key>
	<string>MacBook Pro (16-inch, 2021)</string>
	<key>MacBookPro18,3</key>
	<string>MacBook Pro (14-inch, 2021)</string>
	<key>MacBookPro18,4</key>
	<string>MacBook Pro (14-inch, 2021)</string>
	<key>MacPro5,1</key>
	<string>Mac Pro (2010)</string>
	<key>MacPro6,1</key>
	<string>Mac Pro (2013)</string>
	<key>MacPro7,1</key>
	<string>Mac Pro (2019)</string>
	<key>Macmini4,1</key>
	<string>Mac Mini (2010)</string>
	<key>Macmini5,1</key>
	<string>Mac Mini (2011)</string>
	<key>Macmini5,2</key>
	<string>Mac Mini (2011)</string>
	<key>Macmini5,3</key>
	<string>Mac Mini Server (2011)</string>
	<key>Macmini6,1</key>
	<string>Mac Mini (2012)</string>
	<key>Macmini6,2</key>
	<string>Mac Mini (2012)</string>
	<key>Macmini7,1</key>
	<string>Mac Mini (2014)</string>
	<key>Macmini8,1</key>
	<string>Mac Mini (2018)</string>
	<key>Macmini9,1</key>
	<string>Mac Mini (2020)</string>
	<key>iMac10,1</key>
	<string>iMac (Late 2009)</string>
	<key>iMac11,1</key>
	<string>iMac (Late 2009)</string>
	<key>iMac11,2</key>
	<string>iMac (21.5-inch, 2010)</string>
	<key>iMac11,3</key>
	<string>iMac (27-inch, 2010)</string>
	<key>iMac12,1</key>
	<string>iMac (21.5-inch, 2011)</string>
	<key>iMac12,2</key>
	<string>iMac (27-inch, 2011)</string>
	<key>iMac13,1</key>
	<string>iMac (21.5-inch, 2012)</string>
	<key>iMac13,2</key>
	<string>iMac (27-inch, 2012)</string>
	<key>iMac14,1</key>
	<string>iMac (21.5-inch, 2013)</string>
	<key>iMac14,2</key>
	<string>iMac (27-inch, 2013)</string>
	<key>iMac14,3</key>
	<string>iMac (21.5-inch, 2013)</string>
	<key>iMac14,4</key>
	<string>iMac (21.5-inch, 2014)</string>
	<key>iMac15,1</key>
	<string>iMac (27-inch, 2014)</string>
	<key>iMac16,1</key>
	<string>iMac (21.5-Inch, 2015)</string>
	<key>iMac16,2</key>
	<string>iMac (21.5-Inch, 2015)</string>
	<key>iMac17,1</key>
	<string>iMac (27-inch, 2015)</string>
	<key>iMac18,1</key>
	<string>iMac (21.5-Inch, 2017)</string>
	<key>iMac18,2</key>
	<string>iMac (21.5-Inch, 2017)</string>
	<key>iMac18,3</key>
	<string>iMac (27-inch, 2017)</string>
	<key>iMac19,1</key>
	<string>iMac (27-inch, 2019)</string>
	<key>iMac19,2</key>
	<string>iMac (21.5-inch, 2019)</string>
	<key>iMac20,1</key>
	<string>iMac (27-inch, 2020)</string>
	<key>iMac20,2</key>
	<string>iMac (27-inch, 2020)</string>
	<key>iMac21,1</key>
	<string>iMac (24-inch, 2021)</string>
	<key>iMac21,2</key>
	<string>iMac (24-inch, 2021)</string>
	<key>iMacPro1,1</key>
	<string>iMac (27-inch, 2017)</string>
	<key>Parallels</key>
	<string>Parallels Desktop Virtual Machine</string>
	<key>VMware</key>
	<string>VMware Fusion Virtual Machine</string>
</dict>
</plist>
