
/* Inline media */

@import "inlineMedia.css";

/* Basic Structure */

body {
	background: #222;
	color: #cfcfcf;
	font-family: 'Myriad Pro';
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
}

a {
	border-bottom: dotted 1px #8cb3ff;
	color: #8cb3ff;
	text-decoration: none;
}

a:hover {
	border: none;
	border-bottom: solid 1px #8cb3ff;
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	/* overflow: none is added here, even though it is already
	 declared by body {} because on OS X Mavericks, there is a
	 weird quirk that causes the horizontal slider to appear
	 even though we only ask for the vertical one. */
	overflow: none;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

.message,
.sender,
.time {
	padding: 4px 8px 3px;
}

.message {
	width: 100%;
}

.sender,
.time {
	flex-shrink: 0;
	background: #333;
}

.sender {
	font-weight: 600;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 10em;
}

body[viewtype="sender"] .sender {
	display: none;
}

.time {
	color: #888;
	font-size: 0.8em;
	line-height: 1.8;
	white-space: nowrap;
}

.line {
	display: flex;
	display: -webkit-flex;
	flex-flow: row;
	-webkit-flex-flow: row;
}

.line[mtype="myself"] .message {
	background: #2e2e2e;
}

div.line[ltype="action"] .message,
div.line[ltype="action"] .sender {
	background: none;
	font-style: italic;
}

div.line[ltype="action"] .sender {
	padding-right: 2px;
}

body[viewtype="channel"] .event .message {
	color: #666;
}

.event .message:before {
	content: '» ';
}

body[viewtype="server"] .event .message {
	color: #999;
	font-size: inherit;
	padding-left: 1em;
	padding-right: 2em;
}

body[viewtype="server"] .event .message:before {
	content: '';
}

.event .sender {
	background: inherit;
}

div.line.text:hover,
body[viewtype="server"] .line:hover {
	outline: 1px solid #666;
}

div.line.text:hover .message,
div.line.text:hover .sender,
div.line.text:hover .time,
body[viewtype="server"] .line:hover .message,
body[viewtype="server"] .line:hover .time {
	background-color: #444;
	color: #fff;
}

div.line.text[highlight="true"],
div.line.text[highlight="true"] .time {
	color: #fff;
}

div.line.text[highlight="true"] {
	border: 1px solid #284e84;
	border-left: none;
	border-right: none;
	outline: none;
}

div.line.text[highlight="true"]:hover {
	border-color: #3069ab;
}

div.line.text[highlight="true"] + div.line.text[highlight="true"] {
	border-top: none;
}

div.line.text[highlight="true"] .message,
div.line.text[highlight="true"] .sender,
div.line.text[highlight="true"] .time {
	background-color: #1b3458;
}

div.line.text[highlight="true"]:hover .message,
div.line.text[highlight="true"]:hover .sender,
div.line.text[highlight="true"]:hover .time {
	background-color: #204571;
}

/* Selected User */
.sender {
	cursor: pointer;
}

div.line[ltype="privmsg"]:not(.selectedUser),
div.line[ltype="action"]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

div.line[ltype="privmsg"] .time:not(.selectedUser),
div.line[ltype="action"] .time:not(.selectedUser) {
	transition: color 0.5s;
}

div.line.selectedUser[highlight="false"] .time {
	transition: color 0.5s ease-in;
	color: #fff;
}

div.line.selectedUser[highlight="false"] {
	transition-property: color, border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;

	color: #fff;
	border: 1px solid #942f25;
	border-left: none;
	border-right: none;
	outline: none;
}

div.line.selectedUser[highlight="false"]:hover {
	border-color: #aa362b;
}

div.line.selectedUser[highlight="false"] + div.line.selectedUser[highlight="false"] {
	border-top: none;
}

div.line.selectedUser[highlight="false"] .message,
div.line.selectedUser[highlight="false"] .sender,
div.line.selectedUser[highlight="false"] .time {
	background-color: #521e17;
}

div.line.selectedUser[highlight="false"]:hover .message,
div.line.selectedUser[highlight="false"]:hover .sender,
div.line.selectedUser[highlight="false"]:hover .time {
	background-color: #68271d;
}

/* Remember Line */
#mark {
	border-bottom: 1px dotted #9f9f9f;
	margin: 1px 0;
	-webkit-transition: 0.2s linear;
}

/* Loading Screen */
#loading_screen {
	position: absolute;
	top: 45%;
	left: calc(50% - (320px / 2)); /* half of width + padding */
	width: 300px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px 10px;
	opacity: 1;
	-webkit-transition: opacity 0.8s linear;
}

/* Topic Bar */
#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #efefef;
	position: fixed;
	padding: 4px 12px 2px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #404040;
	text-shadow: 1px 1px rgba(83, 86, 94, 0.7);
	background: #333;
	font-weight: 600;
	text-align: center;
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
}

#topic_bar a,
#topic_bar span.channel {
	color: #f5f5f5;
	border-color: #f5f5f5;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

/* Scrolling */
body[customscroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[customscroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[customscroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[customscroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[customscroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Message buffer loading animation */
.message_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.message_buffer_loading_indicator span {
	font-family: Optima !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #797979;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* Message buffer session indicator */
.message_buffer_session_indicator {
	display: flex;
	display: -webkit-flex;
	padding: 0.5em 0;
}

.message_buffer_session_indicator > hr {
	background: #444;
	border: 0;
	height: 1px;
	margin-top: 0.6em;
	flex: 1;
	-webkit-flex: 1;
}

.message_buffer_session_indicator > span {
	font-style: oblique;
	margin: 0 1em;
	color: #919191;
}

.message_buffer_session_indicator + #mark {
	display: none;
}

/* Nickname Colors */
.text .sender[mtype="myself"] { 
	color: #ff8c00;
}

.sender[mtype="normal"][colornumber="0"],
.inline_nickname[colornumber="0"] {
	color: #7cfc00;
}

.sender[mtype="normal"][colornumber="1"],
.inline_nickname[colornumber="1"] {
	color: #c2ff40;
}

.sender[mtype="normal"][colornumber="2"],
.inline_nickname[colornumber="2"] {
	color: #87ceeb;
}

.sender[mtype="normal"][colornumber="3"],
.inline_nickname[colornumber="3"] {
	color: #e1c4ff;
}

.sender[mtype="normal"][colornumber="4"],
.inline_nickname[colornumber="4"] {
	color: #6495ed;
}

.sender[mtype="normal"][colornumber="5"],
.inline_nickname[colornumber="5"] {
	color: #ff69b4;
}

.sender[mtype="normal"][colornumber="6"],
.inline_nickname[colornumber="6"] {
	color: #ffb6c1;
}

.sender[mtype="normal"][colornumber="7"],
.inline_nickname[colornumber="7"] {
	color: #48d1cc;
}

.sender[mtype="normal"][colornumber="8"],
.inline_nickname[colornumber="8"] {
	color: #ee82ee;
}

.sender[mtype="normal"][colornumber="9"],
.inline_nickname[colornumber="9"] {
	color: #f66e72;
}

.sender[mtype="normal"][colornumber="10"],
.inline_nickname[colornumber="10"] {
	color: #69ff89;
}

.sender[mtype="normal"][colornumber="11"],
.inline_nickname[colornumber="11"] {
	color: #ffe170;
}

.sender[mtype="normal"][colornumber="12"],
.inline_nickname[colornumber="12"] {
	color: #95d38f;
}

.sender[mtype="normal"][colornumber="13"],
.inline_nickname[colornumber="13"] {
	color: #7eb6be;
}

.sender[mtype="normal"][colornumber="14"],
.inline_nickname[colornumber="14"] {
	color: #f3d8e2;
}

.sender[mtype="normal"][colornumber="15"],
.inline_nickname[colornumber="15"] {
	color: #f66e72;
}

.sender[mtype="normal"][colornumber="16"],
.inline_nickname[colornumber="16"] {
	color: #faa4a6;
}

.sender[mtype="normal"][colornumber="17"],
.inline_nickname[colornumber="17"] {
	color: #ffd4a8;
}

.sender[mtype="normal"][colornumber="18"],
.inline_nickname[colornumber="18"] {
	color: #ffeba5;
}

.sender[mtype="normal"][colornumber="19"],
.inline_nickname[colornumber="19"] {
	color: #bae2b6;
}

.sender[mtype="normal"][colornumber="20"],
.inline_nickname[colornumber="20"] {
	color: #aad0d4;
}

.sender[mtype="normal"][colornumber="21"],
.inline_nickname[colornumber="21"] {
	color: #a8d0ef;
}

.sender[mtype="normal"][colornumber="22"],
.inline_nickname[colornumber="22"] {
	color: #98a3ff;
}

.sender[mtype="normal"][colornumber="23"],
.inline_nickname[colornumber="23"] {
	color: #c09bc3;
}

.sender[mtype="normal"][colornumber="24"],
.inline_nickname[colornumber="24"] {
	color: #c38074;
}

.sender[mtype="normal"][colornumber="25"],
.inline_nickname[colornumber="25"] {
	color: #a6e1a4;
}

.sender[mtype="normal"][colornumber="26"],
.inline_nickname[colornumber="26"] {
	color: #7f99e1;
}

.sender[mtype="normal"][colornumber="27"],
.inline_nickname[colornumber="27"] {
	color: #5ba2e1;
}

.sender[mtype="normal"][colornumber="28"],
.inline_nickname[colornumber="28"] {
	color: #e1de7d;
}

.sender[mtype="normal"][colornumber="29"],
.inline_nickname[colornumber="29"] {
	color: #e199a8;
}

.sender[mtype="normal"][colornumber="30"],
.inline_nickname[colornumber="30"] {
	color: #b5a0e1;
}
