<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html ; charset=utf-8">
<style type="text/css">
@import "CSS/toc.css";
</style>
<link rel="stylesheet" type="text/css" href="CSS/print.css" media="print">
<title>RegexKit Framework Table Of Contents</title>
<noscript> <meta http-equiv="Refresh" content="0; URL=toc_opened.html"> </noscript>
</head>
<body>
<div class="toc outerBorder" id="tocOuterID">
<div class="toc" id="tocID">

<div class="masthead">
<div class="title"></div>
<a class="framework" href="content.html" target="doc">RegexKit Framework Reference</a>
<div class="subtitle">Regular Expressions for <span class="hardNobr">Objective-C</span></div>
</div>


<div class="bar">&nbsp;</div>

<div class="section first closed guide" id="tocID_RegexKitProgrammingGuide">
<div class="header">
<span class="indicator large">&nbsp;</span>
<span class="title"><a href="RegexKitProgrammingGuide.html" target="doc">RegexKit Programming Guide</a></span>
</div>

<div class="contents">
<div class="entries">
        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_Introduction">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#Introduction" target="doc">Introduction</a></span>
          </div> 
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#Introduction_Highlights" target="doc">Highlights</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#Introduction_Prerequisites" target="doc">Prerequisites</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#Introduction_DocumentationOverview" target="doc">Documentation Overview</a></div>
            </div>
          </div>
        </div>            

        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_RegularExpressions">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#RegularExpressions" target="doc">Regular Expressions</a></span>
          </div> 
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_TheBasics" target="doc">The Basics</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_ExtractingPartofaMatch" target="doc">Extracting Part of a Match</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_CaptureSubpatterns" target="doc">Capture Subpatterns</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_NamedCaptureSubpatterns" target="doc">Named Capture Subpatterns</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_NestedCaptureSubpatterns" target="doc">Nested Capture Subpatterns</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#RegularExpressions_ItOnlyGetsMoreComplicatedfromHere" target="doc">It Only Gets More Complicated from Here</a></div>
            </div>
          </div>
        </div>            


        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_TheRegexKitClasses">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#TheRegexKitClasses" target="doc">The RegexKit Classes</a></span>
          </div> 
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#TheRegexKitClasses_RKRegex" target="doc">RKRegex</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#TheRegexKitClasses_RKCache" target="doc">RKCache</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#TheRegexKitClasses_RKEnumerator" target="doc">RKEnumerator</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#TheRegexKitClasses_FoundationExtensions" target="doc">Foundation Extensions</a></div>
            </div>
          </div>
        </div>

        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_NSStringAdditions">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#NSStringAdditions" target="doc">NSString Additions</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_CaptureExtraction" target="doc">Capture Extraction</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_CaptureTypeConversions" target="doc">Capture Type Conversion</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_DeterminingifaStringisMatchedbyaRegularExpression" target="doc">Determining if a String is Matched by a Regular Expression</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_FindingtheRangeofaMatch" target="doc">Finding the Range of a Match</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_CreatingaNewStringUsingtheResultsofaMatch" target="doc">Creating a New String Using the Results of a Match</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_SearchandReplace" target="doc">Search and Replace</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#NSStringAdditions_EnumeratingalltheMatchesinaStringbyaRegularExpression" target="doc">Enumerating all the Matches in a String by a Regular Expression</a></div>
            </div>
          </div>
        </div>

        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_DTraceProbePointsinRegexKit">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit" target="doc">DTrace Probe Points in RegexKit</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_RegexKitProviderDTraceProbePoints" target="doc">RegexKit Provider DTrace Probe Points</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_PerformanceNotificationRelatedProbes" target="doc">Performance Notification Related Probes</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_RegularExpressionRelatedProbes" target="doc">Regular Expression Related Probes</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_CacheRelatedProbes" target="doc">Cache Related Probes</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_MultithreadedLocksRelatedProbes" target="doc">Multithreaded Locks Related Probes</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_AccessingProbesFromtheShell" target="doc">Accessing Probes From the Shell</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#DTraceProbePointsinRegexKit_AccessingProbesWithInstruments_app" target="doc">Accessing Probes With Instruments.app</a></div>
            </div>
          </div>
        </div>

        <div class="section closed sub" id="tocID_RegexKitProgrammingGuide_AddingtheRegexKitframeworktoyourProject">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject" target="doc">Adding the RegexKit.framework to your Project</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject_OutlineofRequiredSteps" target="doc">Outline of Required Steps</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject_LinkingtotheFramework" target="doc">Linking to the Framework</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject_CopyingtheFrameworktoyourApplicationsBundle" target="doc">Copying the Framework to your Applications Bundle</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject_ImportingtheRegexKithHeader" target="doc">Importing the RegexKit.h Header</a></div>
              <div class="entry"><a href="RegexKitProgrammingGuide.html#AddingtheRegexKitframeworktoyourProject_Finished" target="doc">Finished</a></div>
            </div>
          </div>
        </div>

        <div class="header">
          <span class="spacer small">&nbsp;</span>
          <span class="label"><a href="RegexKitProgrammingGuide.html#LicenseInformation" target="doc">License Information</a></span>
        </div>
<span class="rightEdge"><img alt="Overflow fade" src="Images/grad_18_1.png"></span>
</div>
</div>
</div>

<div class="section closed guide" id="tocID_RegexKitImplementationTopics">
<div class="header">
<span class="indicator large">&nbsp;</span>
<span class="title"><a href="RegexKitImplementationTopics.html" target="doc">RegexKit Implementation Topics</a></span>
</div>

<div class="contents">
<div class="entries">
        <div class="section closed sub" id="tocID_RegexKitImplementationTopics_PCREVersionandFeatureSupport">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitImplementationTopics.html#PCREVersionandFeatureSupport" target="doc">PCRE Version and Feature Support</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitImplementationTopics.html#PCREVersionandFeatureSupport_PCREVersionsSupported" target="doc">PCRE Versions Supported</a></div>
              <div class="entry"><a href="RegexKitImplementationTopics.html#PCREVersionandFeatureSupport_FeaturesSupported" target="doc">Features Supported</a></div>
              <div class="entry"><a href="RegexKitImplementationTopics.html#PCREVersionandFeatureSupport_FeaturesNotSupported" target="doc">Features Not Supported</a></div>
            </div>
          </div>
        </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#MultithreadingSafety" target="doc" title="Multithreading Safety">Multithreading Safety</a></div>-->
        <div class="section closed sub" id="tocID_RegexKitImplementationTopics_MultithreadingSafety">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitImplementationTopics.html#MultithreadingSafety" target="doc">Multithreading Safety</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitImplementationTopics.html#MultithreadingSafety_threadLocalData" target="doc">Thread Local Data</a></div>
              <div class="entry"><a href="RegexKitImplementationTopics.html#MultithreadingSafety_AtomicPrimitives" target="doc">Atomic Primitives</a></div>
              <div class="entry"><a href="RegexKitImplementationTopics.html#MultithreadingSafety_SinglethreadedvsMultithreaded" target="doc">Single threaded vs. Multithreaded</a></div>
              <div class="entry"><a href="RegexKitImplementationTopics.html#MultithreadingSafety_GNUstepSpecifics" target="doc">GNUstep Specifics</a></div>
            </div>
          </div>
        </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#BuildingtheRegexKitframeworkwithXcode" target="doc" title="Building the RegexKit.framework with Xcode">Building the RegexKit.framework with Xcode</a></div>-->
          <div class="header">
            <span class="spacer small">&nbsp;</span>
            <span class="label"><a href="RegexKitImplementationTopics.html#BuildingtheRegexKitframeworkwithXcode" target="doc">Building the RegexKit.framework with Xcode</a></span>
          </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#GNUstep" target="doc" title="GNUstep">GNUstep</a></div>-->
          <div class="header">
            <span class="spacer small">&nbsp;</span>
            <span class="label"><a href="RegexKitImplementationTopics.html#GNUstep" target="doc">GNUstep</a></span>
          </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#ImplementationDetails" target="doc" title="Implementation Details">Implementation Details</a></div>-->
        <div class="section closed sub" id="tocID_RegexKitImplementationTopics_ImplementationDetails">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="RegexKitImplementationTopics.html#ImplementationDetails" target="doc">Implementation Details</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="RegexKitImplementationTopics.html#ImplementationDetails_OpenStepFoundationvsCoreFoundation" target="doc">OpenStep Foundation vs. Core Foundation</a></div>

            </div>
          </div>
        </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#FrameworkDependencies" target="doc" title="Framework Dependencies">Framework Dependencies</a></div>-->
          <div class="header">
            <span class="spacer small">&nbsp;</span>
            <span class="label"><a href="RegexKitImplementationTopics.html#FrameworkDependencies" target="doc">Framework Dependencies</a></span>
          </div>
<!--<div class="entry"><a href="RegexKitImplementationTopics.html#LicenseInformation" target="doc" title="License Information">License Information</a></div>-->
          <div class="header">
            <span class="spacer small">&nbsp;</span>
            <span class="label"><a href="RegexKitImplementationTopics.html#LicenseInformation" target="doc">License Information</a></span>
          </div>
<span class="rightEdge"><img alt="Overflow fade" src="Images/grad_18_1.png"></span>
</div>
</div>
</div>

<div class="break"></div>

<div class="section closed guide" id="tocID_ReleaseInformation">
<div class="header">
<span class="indicator large">&nbsp;</span>
<span class="title"><a href="ReleaseInformation.html" target="doc">Release Information</a></span>
</div>

<div class="contents">
<div class="entries">

          <div class="header">
            <span class="spacer small">&nbsp;</span>
              <div class="label"><a href="ReleaseInformation.html#ReleaseInformation_ReleaseHistory" target="doc">Release History</a></div>
          </div>

          <div class="header">
            <span class="spacer small">&nbsp;</span>
              <div class="label"><a href="ReleaseInformation.html#ReleaseInformation_SubversionRepository" target="doc">Subversion Repository</a></div>
          </div>

        <div class="section closed sub" id="tocID_ReleaseInformation_ReleaseNotes">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="ReleaseNotes.html" target="doc">Release Notes</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="ReleaseNotes.html#Release_0_6_0" target="doc">Release 0.6.0 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_0_5_0" target="doc">Release 0.5.0 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_0_4_0" target="doc">Release 0.4.0 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_0_3_1" target="doc">Release 0.3.1 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_0_3_0" target="doc">Release 0.3.0 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_0_2_0" target="doc">Release 0.2.0 Beta</a></div>
              <div class="entry"><a href="ReleaseNotes.html#Release_Alpha" target="doc">Release Alpha</a></div>
            </div>
          </div>
        </div>
        <div class="section closed sub" id="tocID_ReleaseInformation_ChangeLog">
          <div class="header">
            <span class="indicator small">&nbsp;</span>
            <span class="title"><a href="ChangeLog.html" target="doc">Change Log</a></span>
          </div>
          <div class="contents">
            <div class="entries">
              <div class="entry"><a href="ChangeLog.html#Release_0_6_0" target="doc">Release 0.6.0 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_0_5_0" target="doc">Release 0.5.0 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_0_4_0" target="doc">Release 0.4.0 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_0_3_1" target="doc">Release 0.3.1 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_0_3_0" target="doc">Release 0.3.0 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_0_2_0" target="doc">Release 0.2.0 Beta</a></div>
              <div class="entry"><a href="ChangeLog.html#Release_Alpha" target="doc">Release Alpha</a></div>
            </div>
          </div>
        </div>

          <div class="header">
            <span class="spacer small">&nbsp;</span>
              <div class="label"><a href="ReleaseInformation.html#ReleaseInformation_VersionNumberingInformation" target="doc">Version Number Information</a></div>
          </div>

          <div class="header">
            <span class="spacer small">&nbsp;</span>
              <div class="label"><a href="ReleaseInformation.html#ReleaseInformation_UserContributions" target="doc">User Contributions</a></div>
          </div>

          <div class="header">
            <span class="spacer small">&nbsp;</span>
              <div class="label"><a href="ReleaseInformation.html#LicenseInformation" target="doc">License Information</a></div>
          </div>

<span class="rightEdge"><img alt="Overflow fade" src="Images/grad_18_1.png"></span>
</div>
</div>
</div>

<div class="bar">&nbsp;</div>
<div class="header"><span class="label">Framework Classes</span></div>

\$toc{'RKRegex'}
\$toc{'RKCache'}
\$toc{'RKEnumerator'}

<div class="bar">&nbsp;</div>
<div class="header"><span class="label">Foundation Additions</span></div>

\$toc{'NSArray'}
\$toc{'NSData'}
\$toc{'NSDictionary'}
\$toc{'NSObject'}
\$toc{'NSSet'}
\$toc{'NSString'}

<!--
<div class="spacer">&nbsp;</div>
<div class="header"><span class="label">Mutable Objects</span></div>
-->

\$toc{'NSMutableArray'}
\$toc{'NSMutableDictionary'}
\$toc{'NSMutableSet'}
\$toc{'NSMutableString'}

<div class="bar">&nbsp;</div>

\$toc{'Functions'}
\$toc{'DataTypes'}
\$toc{'Constants'}

\@{[`\$ENV{'DOCUMENTATION_SCRIPTS_DIR'}/generatePCREToC.pl "\$ENV{'PCRE_HTML_DIR'}"`]}


</div><!-- toc -->
</div><!-- tocOuter -->

<script type="text/javascript" language="JavaScript" src="JavaScript/common.js"></script>
<script type="text/javascript" language="JavaScript" src="JavaScript/toc.js"></script>

</body>
</html>

