
/* Inline media */

@import "inlineMedia.css";

/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	word-break: break-word;
}

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	font-size: 9px;
	overflow: hidden;
	background-color: #000;
	font-family: "Lucida Grande";
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	/* overflow: none is added here, even though it is already
	 declared by body {} because on OS X Mavericks, there is a
	 weird quirk that causes the horizontal slider to appear
	 even though we only ask for the vertical one. */
	overflow: none;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Only factor in height of topic bar when selected == true
 because that is only time the topic is displayed according
 to the logic defined by baseLayout.css */
html[selected="true"] body[viewtype="channel"] #body_home {
	max-height: calc(100% - 2.0em); /* height minus topic */
}

.line {
 	margin-top: -1px;
	clear: both;
}

body[dir="rtl"] .sender {
	display: inline-block;
}

/* Scrolling */

body[customscroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[customscroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[customscroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[customscroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[customscroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */

#loading_screen {
	position: absolute;
	top: 45%;
	left: calc(50% - (320px / 2)); /* half of width + padding */
	width: 300px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir="ltr"] .time {
	color: #ffffff;
	white-space: nowrap;
}

body[dir="rtl"] .time {
	color: #ffffff;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	position: fixed;
	background: #000;
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #1f1f1f;
	-webkit-box-shadow: 0 1px 5px #777;
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

#topic_bar a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Remember Line */

#mark {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Message buffer loading animation */

.message_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.message_buffer_loading_indicator span {
	font-family: Optima !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #5a5a5a;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* Message buffer session indicator */

.message_buffer_session_indicator {
	display: flex;
	display: -webkit-flex;
	padding: 0.5em 0;
}

.message_buffer_session_indicator > hr {
	background: #606060;
	border: 0;
	height: 1px;
	margin-top: 0.6em;
	flex: 1;
	-webkit-flex: 1;
}

.message_buffer_session_indicator > span {
	font-style: oblique;
	margin: 0 1em;
	color: #d8d8d8;
}

.message_buffer_session_indicator + #mark {
	display: none;
}

/* NOTICE/CTCP/WALLOPS */

div.line[ltype="ctcp"],
div.line[ltype="notice"],
div.line[ltype="wallops"] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

div.line[ltype="notice"] .sender {
	color: #f00;
	font-weight: 700;
}

/* Selected User Messages */

.sender {
	cursor: pointer;
}

div.line[ltype="privmsg"]:not(.selectedUser),
div.line[ltype="action"]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

div.line[ltype="privmsg"] .time:not(.selectedUser),
div.line[ltype="action"] .time:not(.selectedUser) {
	transition: color 0.5s;
}

div.line.selectedUser[highlight="false"] .time {
	transition: color 0.5s ease-in;
	color: #aaa;
}

div.line.selectedUser[ltype="privmsg"][mtype="myself"] .time {
	color: #fff;
}

div.line.selectedUser[highlight="false"] {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-top: 1px solid #CC7A03 !important;
	border-bottom: 1px solid #CC7A03 !important;
  	background-color: rgba(244, 151, 75, 0.25) !important;
}

/* PRIVMSG */

div.line[ltype="privmsg"][highlight="false"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div.line[ltype="privmsg"][highlight="true"],
div.line[ltype="action"][highlight="true"] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #06c793;
	border-bottom: 1px solid #06c793;
  	background-color: rgba(18, 93, 53, 0.6) !important;
}

div[ltype="privmsg"] .message {
	color: #aaa;
}

div.line[ltype="privmsg"][mtype="myself"] .message {
	color: #fff;
}

div.line[ltype="privmsg"] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* ACTION */

div.line[ltype="action"] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

div[ltype="action"] .message {
	color: #00ff9c;
}

div.line[ltype="action"] .sender {
	font-weight: 700;
}

div.line[ltype="action"][mtype="myself"] .sender,
div.line[ltype="action"][mtype="myself"] .message {
	color: #00ff9c;
}

body[dir="ltr"] div.line[ltype="action"] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="action"] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir="rtl"] div.line[ltype="action"] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="action"] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

div.line[ltype="invite"],
div.line[ltype="debug"],
div.line[ltype="dcc-file-transfer"],
div.line[ltype="off-the-record-encryption-status"] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

/* off-the-record-encryption-status Message Event */
div.line[ltype="off-the-record-encryption-status"] .message {
	color: #ff0000;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

div.line[command="372"],
div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[command="375"],
div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

div.line[command="376"],
div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.line[command="372"] .message,
div.line[command="375"] .message,
div.line[command="376"] .message
div.line[command="720"] .message,
div.line[command="721"] .message,
div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

div.line[ltype="join"],
div.line[ltype="part"],
div.line[ltype="kick"],
div.line[ltype="quit"],
div.line[ltype="kill"],
div.line[ltype="nick"],
div.line[ltype="mode"],
div.line[ltype="website"],
div.line[ltype="topic"] {
 	padding: 3px 5px 3px 5px;
	color: #666;
}

body[dir="ltr"] div.line[ltype="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="join"] .message {
  	color: #b589ff;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="kick"] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="part"] .message:before,
body[dir="ltr"] div.line[ltype="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="kick"] .message {
  	color: #ff3d3d;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="part"] .message {
  	color: #ffae01;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="quit"] .message {
  	color: #ffee7a;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="nick"] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="nick"] .message {
  	color: #0090ff;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="mode"] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="mode"] .message {
  	color: #9c9c9c;
  	margin-right: 0.4em;
}

body[dir="ltr"] div.line[ltype="topic"] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-right: 0.4em; */
}

body[dir="ltr"] div.line[ltype="topic"] .message {
  	color: #00ffa2;
  	margin-right: 0.4em;
}

body[dir="rtl"] div.line[ltype="join"] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="join"] .message {
  	color: #b589ff;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="kick"] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="part"] .message:before,
body[dir="rtl"] div.line[ltype="quit"] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="kick"] .message {
  	color: #ff3d3d;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="part"] .message {
  	color: #ffae01;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="quit"] .message {
  	color: #ffee7a;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="nick"] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="nick"] .message {
  	color: #0090ff;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="mode"] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="mode"] .message {
  	color: #9c9c9c;
  	margin-left: 0.4em;
}

body[dir="rtl"] div.line[ltype="topic"] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-left: 0.4em; */
}

body[dir="rtl"] div.line[ltype="topic"] .message {
  	color: #00ffa2;
  	margin-left: 0.4em;
}

/* Nickname Colors */

.inline_nickname {
	font-weight: 700;
}

div.line[ltype="privmsg"] .sender[mtype="myself"] {
	color: #B8DFFF;
}

.sender[mtype="normal"][colornumber="0"],
.inline_nickname[colornumber="0"] {
	color: #cb5d5a;
}

.sender[mtype="normal"][colornumber="1"],
.inline_nickname[colornumber="1"] {
	color: #a3bf75;
}

.sender[mtype="normal"][colornumber="2"],
.inline_nickname[colornumber="2"] {
	color: #9b85b3;
}

.sender[mtype="normal"][colornumber="3"],
.inline_nickname[colornumber="3"] {
	color: #C083F2;
}

.sender[mtype="normal"][colornumber="4"],
.inline_nickname[colornumber="4"] {
	color: #8bd3e5;
}

.sender[mtype="normal"][colornumber="5"],
.inline_nickname[colornumber="5"] {
	color: #f4a36c;
}

.sender[mtype="normal"][colornumber="6"],
.inline_nickname[colornumber="6"] {
	color: #75ade1;
}

.sender[mtype="normal"][colornumber="7"],
.inline_nickname[colornumber="7"] {
	color: #ffbfbd;
}

.sender[mtype="normal"][colornumber="8"],
.inline_nickname[colornumber="8"] {
	color: #b2cc00;
}

.sender[mtype="normal"][colornumber="9"],
.inline_nickname[colornumber="9"] {
	color: #96ff00;
}

.sender[mtype="normal"][colornumber="10"],
.inline_nickname[colornumber="10"] {
	color: #05ffaa;
}

.sender[mtype="normal"][colornumber="11"],
.inline_nickname[colornumber="11"] {
	color: #ffe982;
}

.sender[mtype="normal"][colornumber="12"],
.inline_nickname[colornumber="12"] {
	color: #aadeff;
}

.sender[mtype="normal"][colornumber="13"],
.inline_nickname[colornumber="13"] {
	color: #36ff15;
}

.sender[mtype="normal"][colornumber="14"],
.inline_nickname[colornumber="14"] {
	color: #ff6076;
}

.sender[mtype="normal"][colornumber="15"],
.inline_nickname[colornumber="15"] {
	color: #8e908f;
}

.sender[mtype="normal"][colornumber="16"],
.inline_nickname[colornumber="16"] {
	color: #706616;
}

.sender[mtype="normal"][colornumber="17"],
.inline_nickname[colornumber="17"] {
	color: #46799c;
}

.sender[mtype="normal"][colornumber="18"],
.inline_nickname[colornumber="18"] {
	color: #80372e;
}

.sender[mtype="normal"][colornumber="19"],
.inline_nickname[colornumber="19"] {
	color: #8F478E;
}

.sender[mtype="normal"][colornumber="20"],
.inline_nickname[colornumber="20"] {
	color: #5b9e4c;
}

.sender[mtype="normal"][colornumber="21"],
.inline_nickname[colornumber="21"] {
	color: #13826c;
}

.sender[mtype="normal"][colornumber="22"],
.inline_nickname[colornumber="22"] {
	color: #b13637;
}

.sender[mtype="normal"][colornumber="23"],
.inline_nickname[colornumber="23"] {
	color: #e45d59;
}

.sender[mtype="normal"][colornumber="24"],
.inline_nickname[colornumber="24"] {
	color: #1b51ae;
}

.sender[mtype="normal"][colornumber="25"],
.inline_nickname[colornumber="25"] {
	color: #4855ac;
}

.sender[mtype="normal"][colornumber="26"],
.inline_nickname[colornumber="26"] {
	color: #7f1d86;
}

.sender[mtype="normal"][colornumber="27"],
.inline_nickname[colornumber="27"] {
	color: #73643f;
}

.sender[mtype="normal"][colornumber="28"],
.inline_nickname[colornumber="28"] {
	color: #0b9578;
}

.sender[mtype="normal"][colornumber="29"],
.inline_nickname[colornumber="29"] {
	color: #569c96;
}

.sender[mtype="normal"][colornumber="30"],
.inline_nickname[colornumber="30"] {
	color: #08465f;
}
