/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	font-size: 9px;
	overflow: hidden;
	overflow-y: auto;
	background-color: #000;
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
 	margin-top: -1px;
	clear: both;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Scrolling */

body[customscroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[customscroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[customscroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[customscroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[customscroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */

body div#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir=ltr] .time {
	color: #ffffff;
	white-space: nowrap;
}

body[dir=rtl] .time {
	color: #ffffff;
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	position: fixed;
	background: #000;
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #1f1f1f;
	-webkit-box-shadow: 0 1px 5px #777;
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

#topic_bar a {
	color: #0080FF;
	border-color: #0080FF;
	text-decoration: none;
	border-bottom: dotted 1px;
}

#topic_bar a:hover {
	color: #40A0FF;
	border-color: #40A0FF;
}

/* Images */

.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 12px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 12px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #a1a1a1;
	color: #a1a1a1;
	display: inline-block;
	line-height: 14px;
	font-size: 15px;
	font-family: "Helvetica Neue" !important;
	text-indent: 7px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 7px;
	padding-left: 0px;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* Remember Line */

div[id=mark] {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

/* Historic Line */

#historic_messages {
	transition: opacity 0.8s ease-in;
	opacity: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

#historic_messages.loaded {
	height: auto;
}

#historic_messages[isreload="false"].loaded {
	opacity: 0.6;
}

#historic_messages[isreload="true"].loaded {
	opacity: 1.0;
}

#historic_messages.notransition {
	transition: none;
}

/* Message buffer loading animation */

.messsage_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.messsage_buffer_loading_indicator span {
	font-family: Optima !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #5a5a5a;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.messsage_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.messsage_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.messsage_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* NOTICE/CTCP/WALLOPS */

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: #f00;
  	z-index: 191;
	background: #400;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #811;
	border-bottom: 1px solid #811;
}

body div[ltype*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* Selected User Messages */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
    transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
    transition: color 0.5s ease-in;
	color: #aaa;
}

body div.line.selectedUser[ltype*=privmsg][mtype*=myself] .time {
	color: #fff;
}

body div.line.selectedUser[highlight=false] {
    transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-top: 1px solid #CC7A03 !important;
	border-bottom: 1px solid #CC7A03 !important;
  	background-color: rgba(244, 151, 75, 0.25) !important;
}

/* PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #06c793;
	border-bottom: 1px solid #06c793;
  	background-color: rgba(18, 93, 53, 0.6) !important;
}

body div[ltype="privmsg"] .message {
	color: #aaa;
}

body div[ltype*=privmsg][mtype*=myself] .message {
	color: #fff;
}

body div[ltype*=privmsg] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* ACTION */

body div.line[ltype*=action] {
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div[ltype="action"] .message {
	color: #00ff9c;
}

body div[ltype*=action] .sender {
	font-weight: 700;
}

body div[ltype*=action][mtype*=myself] .sender,
body div[ltype*=action][mtype*=myself] .message {
	color: #00ff9c;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
  	/* margin-left: 0.4em; */
}

/* DEBUG/INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=dcc-file-transfer],
body div.line[ltype*=off-the-record-encryption-status] {
	color: #777;
  	z-index: 190;
	background: #222;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

/* off-the-record-encryption-status Message Event */
body div.line[ltype*=off-the-record-encryption-status] .message {
	color: #ff0000;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=website],
body div.line[ltype*=topic] {
 	padding: 3px 5px 3px 5px;
	color: #666;
}

body[dir=ltr] div[ltype*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=join] .message {
  	color: #b589ff;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=kick] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=part] .message:before,
body[dir=ltr] div[ltype*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=kick] .message {
  	color: #ff3d3d;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=part] .message {
  	color: #ffae01;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=quit] .message {
  	color: #ffee7a;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=nick] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=nick] .message {
  	color: #0090ff;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=mode] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=mode] .message {
  	color: #9c9c9c;
  	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=topic] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-right: 0.4em; */
}

body[dir=ltr] div[ltype*=topic] .message {
  	color: #00ffa2;
  	margin-right: 0.4em;
}

body[dir=rtl] div[ltype*=join] .message:before {
	content: "→";
  	color: #0c0;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=join] .message {
  	color: #b589ff;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=kick] .message:before {
	content: "✕";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=part] .message:before,
body[dir=rtl] div[ltype*=quit] .message:before {
	content: "←";
  	color: #e00;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=kick] .message {
  	color: #ff3d3d;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=part] .message {
  	color: #ffae01;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=quit] .message {
  	color: #ffee7a;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=nick] .message:before {
	content:"•";
  	color: #0090ff;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=nick] .message {
  	color: #0090ff;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=mode] .message:before {
	content: "❖";
  	color: #b4a355;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=mode] .message {
  	color: #9c9c9c;
  	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=topic] .message:before {
	content: "✦";
  	color: #00a2ff;
  	/* margin-left: 0.4em; */
}

body[dir=rtl] div[ltype*=topic] .message {
  	color: #00ffa2;
  	margin-left: 0.4em;
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body div[ltype*=privmsg] .sender[mtype*=myself] {
	color: #B8DFFF;
}

body .sender[mtype*=normal][colornumber='0'],
body .inline_nickname[colornumber='0'] {
	color: #cb5d5a;
}

body .sender[mtype*=normal][colornumber='1'],
body .inline_nickname[colornumber='1'] {
	color: #a3bf75;
}

body .sender[mtype*=normal][colornumber='2'],
body .inline_nickname[colornumber='2'] {
	color: #9b85b3;
}

body .sender[mtype*=normal][colornumber='3'],
body .inline_nickname[colornumber='3'] {
	color: #C083F2;
}

body .sender[mtype*=normal][colornumber='4'],
body .inline_nickname[colornumber='4'] {
	color: #8bd3e5;
}

body .sender[mtype*=normal][colornumber='5'],
body .inline_nickname[colornumber='5'] {
	color: #f4a36c;
}

body .sender[mtype*=normal][colornumber='6'],
body .inline_nickname[colornumber='6'] {
	color: #75ade1;
}

body .sender[mtype*=normal][colornumber='7'],
body .inline_nickname[colornumber='7'] {
	color: #ffbfbd;
}

body .sender[mtype*=normal][colornumber='8'],
body .inline_nickname[colornumber='8'] {
	color: #b2cc00;
}

body .sender[mtype*=normal][colornumber='9'],
body .inline_nickname[colornumber='9'] {
	color: #96ff00;
}

body .sender[mtype*=normal][colornumber='10'],
body .inline_nickname[colornumber='10'] {
	color: #05ffaa;
}

body .sender[mtype*=normal][colornumber='11'],
body .inline_nickname[colornumber='11'] {
	color: #ffe982;
}

body .sender[mtype*=normal][colornumber='12'],
body .inline_nickname[colornumber='12'] {
	color: #aadeff;
}

body .sender[mtype*=normal][colornumber='13'],
body .inline_nickname[colornumber='13'] {
	color: #36ff15;
}

body .sender[mtype*=normal][colornumber='14'],
body .inline_nickname[colornumber='14'] {
	color: #ff6076;
}

body .sender[mtype*=normal][colornumber='15'],
body .inline_nickname[colornumber='15'] {
	color: #8e908f;
}

body .sender[mtype*=normal][colornumber='16'],
body .inline_nickname[colornumber='16'] {
	color: #706616;
}

body .sender[mtype*=normal][colornumber='17'],
body .inline_nickname[colornumber='17'] {
	color: #46799c;
}

body .sender[mtype*=normal][colornumber='18'],
body .inline_nickname[colornumber='18'] {
	color: #80372e;
}

body .sender[mtype*=normal][colornumber='19'],
body .inline_nickname[colornumber='19'] {
	color: #8F478E;
}

body .sender[mtype*=normal][colornumber='20'],
body .inline_nickname[colornumber='20'] {
	color: #5b9e4c;
}

body .sender[mtype*=normal][colornumber='21'],
body .inline_nickname[colornumber='21'] {
	color: #13826c;
}

body .sender[mtype*=normal][colornumber='22'],
body .inline_nickname[colornumber='22'] {
	color: #b13637;
}

body .sender[mtype*=normal][colornumber='23'],
body .inline_nickname[colornumber='23'] {
	color: #e45d59;
}

body .sender[mtype*=normal][colornumber='24'],
body .inline_nickname[colornumber='24'] {
	color: #1b51ae;
}

body .sender[mtype*=normal][colornumber='25'],
body .inline_nickname[colornumber='25'] {
	color: #4855ac;
}

body .sender[mtype*=normal][colornumber='26'],
body .inline_nickname[colornumber='26'] {
	color: #7f1d86;
}

body .sender[mtype*=normal][colornumber='27'],
body .inline_nickname[colornumber='27'] {
	color: #73643f;
}

body .sender[mtype*=normal][colornumber='28'],
body .inline_nickname[colornumber='28'] {
	color: #0b9578;
}

body .sender[mtype*=normal][colornumber='29'],
body .inline_nickname[colornumber='29'] {
	color: #569c96;
}

body .sender[mtype*=normal][colornumber='30'],
body .inline_nickname[colornumber='30'] {
	color: #08465f;
}
