<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBook1,1</key>
	<string>MacBook (Original)</string>
	<key>MacBook2,1</key>
	<string>MacBook (Mid-2007)</string>
	<key>MacBook3,1</key>
	<string>MacBook (Late 2007)</string>
	<key>MacBook4,1</key>
	<string>MacBook (Early 2008)</string>
	<key>MacBook5,1</key>
	<string>MacBook (Unibody Late 2008)</string>
	<key>MacBook5,2</key>
	<string>MacBook (Early 2009)</string>
	<key>MacBook6,1</key>
	<string>MacBook (Late 2009)</string>
	<key>MacBook7,1</key>
	<string>MacBook (Mid-2010)</string>
	<key>MacBookAir1,1</key>
	<string>MacBook Air (Early 2008)</string>
	<key>MacBookAir2,1</key>
	<string>MacBook Air (Late 2008)</string>
	<key>MacBookAir3,1</key>
	<string>MacBook Air (11-inch Late 2010)</string>
	<key>MacBookAir3,2</key>
	<string>MacBook Air (13-inch Late 2010)</string>
	<key>MacBookAir4,1</key>
	<string>MacBook Air (11-inch Mid-2011)</string>
	<key>MacBookAir4,2</key>
	<string>MacBook Air (13-inch Mid-2011)</string>
	<key>MacBookAir5,1</key>
	<string>MacBook Air (11-inch Mid-2012)</string>
	<key>MacBookAir5,2</key>
	<string>MacBook Air (13-inch Mid-2012)</string>
	<key>MacBookPro1,1</key>
	<string>MacBook Pro (Original)</string>
	<key>MacBookPro1,2</key>
	<string>MacBook Pro (17-inch)</string>
	<key>MacBookPro2,1</key>
	<string>MacBook Pro (17-inch Core 2 Duo)</string>
	<key>MacBookPro2,2</key>
	<string>MacBook Pro (15-inch Core 2 Duo)</string>
	<key>MacBookPro3,1</key>
	<string>MacBook Pro (Mid/Late 2007)</string>
	<key>MacBookPro4,1</key>
	<string>MacBook Pro (Early 2008)</string>
	<key>MacBookPro5,1</key>
	<string>MacBook Pro (Late 2008)</string>
	<key>MacBookPro5,2</key>
	<string>MacBook Pro (Early 2009)</string>
	<key>MacBookPro5,3</key>
	<string>MacBook Pro (Mid-2009)</string>
	<key>MacBookPro5,4</key>
	<string>MacBook Pro (Mid-2009)</string>
	<key>MacBookPro5,5</key>
	<string>MacBook Pro (Mid-2009)</string>
	<key>MacBookPro6,1</key>
	<string>MacBook Pro (17-inch Mid-2010)</string>
	<key>MacBookPro6,2</key>
	<string>MacBook Pro (15-inch Mid-2010)</string>
	<key>MacBookPro7,1</key>
	<string>MacBook Pro (13-inch Mid-2010)</string>
	<key>MacBookPro8,1</key>
	<string>MacBook Pro (13-inch 2011)</string>
	<key>MacBookPro8,2</key>
	<string>MacBook Pro (15-inch 2011)</string>
	<key>MacBookPro8,3</key>
	<string>MacBook Pro (17-inch 2011)</string>
	<key>MacBookPro9,2</key>
	<string>MacBook Pro (13-inch Mid-2012)</string>
	<key>MacBookPro9,1</key>
	<string>MacBook Pro (15-inch Mid-2012)</string>
	<key>MacBookPro10,1</key>
	<string>MacBook Pro (15-inch Retina Mid-2012)</string>
	<key>MacBookPro10,2</key>
	<string>MacBook Pro (13-inch Retina Mid-2012)</string>
	<key>MacPro1,1*</key>
	<string>Mac Pro (Original)</string>
	<key>MacPro2.1</key>
	<string>Mac Pro (8 Core)</string>
	<key>MacPro3,1</key>
	<string>Mac Pro (Early 2008)</string>
	<key>MacPro4,1</key>
	<string>Mac Pro (Early 2009)</string>
	<key>MacPro5,1</key>
	<string>Mac Pro (Mid-2010)</string>
	<key>Macmini1,1</key>
	<string>Mac Mini (Original)</string>
	<key>Macmini2,1</key>
	<string>Mac Mini (Mid-2007)</string>
	<key>Macmini3,1</key>
	<string>Mac Mini (Early 2009)</string>
	<key>Macmini4,1</key>
	<string>Mac Mini (Mid-2010)</string>
	<key>Macmini5,1</key>
	<string>Mac Mini (2011)</string>
	<key>Macmini5,2</key>
	<string>Mac Mini (2011)</string>
	<key>Macmini5,3</key>
	<string>Mac Mini Server (2011)</string>
	<key>Macmini6,1</key>
	<string>Mac Mini (Late 2012)</string>
	<key>Macmini6,2</key>
	<string>Mac Mini (Late 2012)</string>
	<key>Xserve1,1</key>
	<string>Xserve (Original)</string>
	<key>Xserve2,1</key>
	<string>Xserve (Early 2008)</string>
	<key>Xserve3,1</key>
	<string>Xserve (Early 2009)</string>
	<key>iMac,1</key>
	<string>iMac (Original)</string>
	<key>iMac10,1</key>
	<string>iMac (Late 2009)</string>
	<key>iMac11,1</key>
	<string>iMac (Late 2009)</string>
	<key>iMac11,2</key>
	<string>iMac (21.5-inch Mid-2010)</string>
	<key>iMac11,3</key>
	<string>iMac (27-inch Mid-2010)</string>
	<key>iMac12,1</key>
	<string>iMac (21.5-inch 2011)</string>
	<key>iMac12,2</key>
	<string>iMac (27-inch Mid-2011)</string>
	<key>iMac13,1</key>
	<string>iMac (21.5-inch Late 2012)</string>
	<key>iMac13,2</key>
	<string>iMac (27-inch Late 2012)</string>
	<key>iMac4,1</key>
	<string>iMac (Early 2006)</string>
	<key>iMac4,2</key>
	<string>iMac (Mid-2006)</string>
	<key>iMac5,1</key>
	<string>iMac (Late 2006)</string>
	<key>iMac5,2</key>
	<string>iMac (Late 2006)</string>
	<key>iMac6,1</key>
	<string>iMac (24-inch late 2006)</string>
	<key>iMac7,1</key>
	<string>iMac (Mid-2007)</string>
	<key>iMac8,1</key>
	<string>iMac (Early 2008)</string>
	<key>iMac9,1</key>
	<string>iMac (Early 2009)</string>
</dict>
</plist>
