<a href="{{{anchorLocation}}}" class="url" oncontextmenu="Textual.openURLManagementContextualMenu()" {{#anchorInlineImageAvailable}} onclick="return Textual.toggleInlineImage('{{anchorInlineImageUniqueID}}')" {{/anchorInlineImageAvailable}} >{{{anchorTitle}}}</a>