<html type="{{viewTypeToken}}" 

		{{#isChannelView}}
			channelname="{{channelName}}" 
		{{/isChannelView}}
        
		{{#isPrivateMessageView}}
			channelname="{{channelName}}" 
		{{/isPrivateMessageView}}
		
		dir="{{textDirectionToken}}">
		
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset={{userConfiguredTextEncoding}}">
		
		<link rel="stylesheet" type="text/css" href="{{activeStyleAbsolutePath}}design.css?u={{cacheToken}}">
		
		<script src="{{applicationResourcePath}}/JavaScript/API/core.js" type="text/javascript"></script>
		<script src="{{activeStyleAbsolutePath}}scripts.js?u={{cacheToken}}" type="text/javascript"></script>
		
		<style type="text/css">
			html, body, body[type], body {
				font-family: '{{userConfiguredFontName}}';
				font-size: {{userConfiguredFontSize}}pt;
			}
			
			{{#nicknameIndentationAvailable}}
				body div#body_home p {
					margin-left: {{predefinedTimestampWidth}}px;
					text-indent: -{{predefinedTimestampWidth}}px;
				}
			
				body .time {
					width: {{predefinedTimestampWidth}}px;
				}
			{{/nicknameIndentationAvailable}}
			
			/* mIRC Color Codes */

			.effect[color-number='0']  { color: #ffffff; }
			.effect[color-number='1']  { color: #000000; }
			.effect[color-number='2']  { color: #000088; }
			.effect[color-number='3']  { color: #008800; }
			.effect[color-number='4']  { color: #ff0000; }
			.effect[color-number='5']  { color: #880000; }
			.effect[color-number='6']  { color: #880088; }
			.effect[color-number='7']  { color: #ff8800; }
			.effect[color-number='8']  { color: #ffff00; }
			.effect[color-number='9']  { color: #00ff00; }
			.effect[color-number='10'] { color: #008888; }
			.effect[color-number='11'] { color: #00ffff; }
			.effect[color-number='12'] { color: #0000ff; }
			.effect[color-number='13'] { color: #ff00ff; }
			.effect[color-number='14'] { color: #888888; }
			.effect[color-number='15'] { color: #cccccc; }

			.effect[bgcolor-number='0']  { background-color: #ffffff; }
			.effect[bgcolor-number='1']  { background-color: #000000; }
			.effect[bgcolor-number='2']  { background-color: #000088; }
			.effect[bgcolor-number='3']  { background-color: #008800; }
			.effect[bgcolor-number='4']  { background-color: #ff0000; }
			.effect[bgcolor-number='5']  { background-color: #880000; }
			.effect[bgcolor-number='6']  { background-color: #880088; }
			.effect[bgcolor-number='7']  { background-color: #ff8800; }
			.effect[bgcolor-number='8']  { background-color: #ffff00; }
			.effect[bgcolor-number='9']  { background-color: #00ff00; }
			.effect[bgcolor-number='10'] { background-color: #008888; }
			.effect[bgcolor-number='11'] { background-color: #00ffff; }
			.effect[bgcolor-number='12'] { background-color: #0000ff; }
			.effect[bgcolor-number='13'] { background-color: #ff00ff; }
			.effect[bgcolor-number='14'] { background-color: #888888; }
			.effect[bgcolor-number='15'] { background-color: #cccccc; }
		</style>
	</head>
	
	<body type="{{viewTypeToken}}" 

		{{#isChannelView}}
			channelname="{{channelName}}" 
		{{/isChannelView}}
        
		{{#isPrivateMessageView}}
			channelname="{{channelName}}" 
		{{/isPrivateMessageView}}
		
		dir="{{textDirectionToken}}">
			{{! The elements "body_home," "loading_screen," "topic_bar," and "mark" must always 
			remain the same as the ID value of these elements are used internally by Textual. }}
			
			<div id="loading_screen">View is Loading…</div>
			<div id="body_home">{{! Filled at runtime. }}</div>
		
			{{#isChannelView}}
				<div id="topic_bar">{{{formattedTopicValue}}}</div>
			{{/isChannelView}}
	</body>
</html>