{{#inlineNicknameMatchFound}}<span class="inline_nickname" ondblclick="Textual.inlineNicknameDoubleClicked()" oncontextmenu="Textual.openInlineNicknameContextualMenu()" colornumber="{{inlineNicknameColorNumber}}">{{/inlineNicknameMatchFound}}
{{#fragmentContainsFormattingSymbols}}<span class="effect" 
	
	style="
		{{#fragmentIsBold}}
			font-weight: bold; 
		{{/fragmentIsBold}}
	
		{{#fragmentIsItalicized}}
			font-style: italic; 
		{{/fragmentIsItalicized}}
	
		{{#fragmentIsUnderlined}}
			text-decoration: underline; 
		{{/fragmentIsUnderlined}}
	"
	
	{{#fragmentTextColor}}
		color-number="{{fragmentTextColor}}" 
	{{/fragmentTextColor}}
	
	{{#fragmentBackgroundColor}}
		bgcolor-number="{{fragmentBackgroundColor}}" 
	{{/fragmentBackgroundColor}}
>{{/fragmentContainsFormattingSymbols}}
{{{messageFragment}}}
{{#fragmentContainsFormattingSymbols}}</span>{{/fragmentContainsFormattingSymbols}}
{{#inlineNicknameMatchFound}}</span>{{/inlineNicknameMatchFound}}