{{#inlineNicknameMatchFound}}
<span class="inline_nickname" ondblclick="Textual.inlineNicknameDoubleClicked()" oncontextmenu="Textual.openInlineNicknameContextualMenu()" colornumber="{{inlineNicknameColorNumber}}">
{{/inlineNicknameMatchFound}}
{{#fragmentTextColor}}
<span class="effect"
	color-number="{{fragmentTextColor}}" 
	
	{{#fragmentBackgroundColor}}
		bgcolor-number="{{fragmentBackgroundColor}}" 
	{{/fragmentBackgroundColor}}
>
{{/fragmentTextColor}}
{{#fragmentIsBold}}<b>{{/fragmentIsBold}}
{{#fragmentIsItalicized}}<i>{{/fragmentIsItalicized}}
{{#fragmentIsUnderlined}}<u>{{/fragmentIsUnderlined}}
{{{messageFragment}}}
{{#fragmentIsBold}}</b>{{/fragmentIsBold}}
{{#fragmentIsItalicized}}</i>{{/fragmentIsItalicized}}
{{#fragmentIsUnderlined}}</u>{{/fragmentIsUnderlined}}
{{#fragmentTextColor}}
</span>
{{/fragmentTextColor}}
{{#inlineNicknameMatchFound}}
</span>
{{/inlineNicknameMatchFound}}