{{! The 'line types' folder needs to be copied to a custom style to modify this file. }}

<div type="{{lineType}}" command="{{rawCommand}}" class="line {{lineClassAttributeRepresentation}}" id="line{{lineNumber}}">
	<p>
		<span class="time">{{formattedTimestamp}} </span>
		<span class="message" type="{{lineType}}">
			{{{formattedMessage}}}
		</span>
	</p>
</div>