/* Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #fff;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #1d1d1d;
	font-family: "Helvetica Neue";
    font-weight: 200;
}

 body .line {
	clear: both;
  }

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

#body_home {
	max-height: 100%;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
	display: none;
}

/* Loading Screen */

#loading_screen {
	position:fixed;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 210px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 18px;
	background: #363636;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

#loading_screen progress {
    margin-top: 5px;
}

/* Time */
body[dir=ltr] .time {
    font-size: 10px !important;
	white-space: nowrap;
	float: right;
	color: #999;
	-webkit-user-select: none;
	font-weight: bold;
	margin-right: 10px;
	line-height: 22px;
	font-style: normal;
	text-align: right;
}

/* Encryption Lock */
.encryptionLock {
}

.encryptionLock img {
    z-index: 100;
    position:absolute;
    top:0;
    left: 5px;
    bottom:0;
    margin:auto;
	height: 12px;
    width: auto;
}

/* Links */

a {
	color: #ccc;
    border-color: #ccc;
	text-decoration: none;
	border-bottom: dotted 1px;

}

a:hover {
	color: #64a5ff;
	border-color: #64a5ff;
}

/* Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 5px;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	color: #dddddd;
	position: fixed;
	padding: 6px 0.5em 7px;
	box-shadow: 0 1px 5px #777;
	border-bottom: 1px solid #404040;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
	background: rgba(60, 60, 60, 0.91);
}

#topic_bar a,
#topic_bar .channel {
	color: #64a5ff;
	border-color: #64a5ff;
	text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}

/* Images */

body a img {
	border: 0;
}

body video,
body img {
	display: block;
}

.inlineImageCell {
	position: relative;
	display: table;
	overflow: auto;
	width: auto;
	height: auto;
}

.inlineImageCell > a {
	display: inline-block;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin: 15px 15px 12px 10px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton {
	background: #000000;
	border-radius: 50%;
	position: absolute;
	box-sizing: border-box;
	font-size: 20px !important;
	font-family: "Helvetica Neue" !important;
	font-weight: 100 !important;
	text-align: center;
	line-height: 17px;
	color: #fff;
	border: 2px solid #fff;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
}


/* Remember Line */
div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px solid;
	border-color: #444;
	-webkit-transition: 0.2s linear;
}

body[dir=ltr] div[ltype=action] .sender:before {
	margin-right: 0.6em;
	font-weight: bold;
	font-size: 80% !important;
	content: "●";

}

.senderDot {
}
-body[dir=ltr] div[ltype=action] .sender:after {
	content: "";
  	/* margin-right: 0.4em; */
}

body[dir=rtl] div[ltype=action] .sender:after {
	content: "";
}

/* Historic / Log readback */
.historic {
	font-weight: 200;
	opacity: 0.75;
	-webkit-filter: grayscale(90%);
}

/* NOTICE/CTCP/WALLOPS */
body div.line[ltype=ctcp],
body div.line[ltype=notice],
body div.line[ltype=wallops] {
  	z-index: 191;
  	position: relative;
 	padding: 2px 5px 2px 5px;
	background-color: #2f3e53;
	border-bottom: none;
	border-top: none;
	border-left: none;
}

body div.line[ltype=action] .message {
	padding-top: 1px;
}

body div.line[ltype=action][highlight=true] .message {
	color: #fff;
}

body div[ltype="privmsg"] .message {
    word-break: break-word;
    color: #fff;
}

body div[ltype="privmsg"][encrypted="1"] {
     background: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(166,166,166,.03) 20px, rgba(166,166,166,.03) 40px) !important;
}

body div[ltype=privmsg] p[ltype=myself] .message {
 	color: #fff;
}

body div[ltype=notice] .sender {
	color: #f00;
	font-weight: 700;
	width:134px;
    min-height:23px;
	padding-right:7px;
    text-align:right;
    display:inline-block;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-overflow: ellipsis;
}

body div[ltype=notice] .message {
 	color: #fff;
}

/* PRIVMSG */
body div.line[ltype=privmsg][highlight=false] {
	padding: 0;
	position: relative;
    min-height: 23px;
}

body div[ltype=privmsg] .sender {
	font-weight: 700;
	width:134px;
	min-height:23px;
	border-right: 1px solid rgb(64, 64, 64);
	padding-right:7px;
    background-color: #1d1d1d;
	text-align:right;
	display:inline-block;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-overflow: ellipsis;
}

/* ACTION */
body div[ltype=action] .sender {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-weight: 700;
	width:134px;
	border-right: 1px solid rgb(64, 64, 64);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
    background-color: #1d1d1d;
	height:22px;
	padding-right:7px;
	text-align:right;
	display:inline-block;
	overflow: auto;
}

/* DEBUG/INVITE */
body div.line[ltype=invite],
body div.line[ltype=debug],
body div.line[ltype=dccfiletransfer],
body div.line[ltype=rawhtml] {
	color: #eee;
  	z-index: 190;
	background: #2f2f2f;
  	position: relative;
 	padding: 2px 0 2px 0;
	border-top: 1px solid #393939;
	border-bottom: 1px solid #393939;
}

body div.line[ltype=invite] .message,
body div.line[ltype=debug] .message,
body div.line[ltype=dccfiletransfer] .message,
body div.line[ltype=rawhtml] .message {
    padding-left: 145px !important;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */
body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */
body span.message {
	position: relative;
	padding-left: 150px;
	padding-right: 25px;
	display: table-cell;
	min-height: 22px;
	line-height: 22px;
}

body div.event span.time {
	color: #999;
	line-height: 19px;
	display: table-cell;
}

body div.event span.message {
	min-height: 19px;
	text-indent: -20px;
	line-height: 19px;
	padding-left: 0;
}

body div.line[ltype=join],
body div.line[ltype=part],
body div.line[ltype=quit],
body div.line[ltype=mode],
body div.line[ltype=nick],
body div.line[ltype=topic],
body div.line[ltype=website] {
    font-size: 85%;
	min-height: 19px;
	padding-left: 145px;
	color: #a5b6ce;
    background: #1d1d1d;
}

body div.line[ltype=topic] span.message {
	text-indent: 0;
}

body div.line[ltype=nick] {
	color: #529567;
}

body div.line[ltype=kill],
body div.line[ltype=kick] {
    font-size: 85%;
	min-height: 19px;
	padding-left: 125px;
	color: #ec5151;
    background: #1d1d1d;
}

body[dir=ltr] div[ltype=join] .message:before {
	content: "→";
  	color: #0c0;
	margin-left:3px;
    margin-right: 5px;
}


body[dir=ltr] div[ltype=kick] .message:before,
body[dir=ltr] div[ltype=part] .message:before,
body[dir=ltr] div[ltype=quit] .message:before {
	content: "←";
  	color: #e00;
	margin-left:3px;
    margin-right: 5px;
}

body[dir=ltr] div[ltype=nick] .message:before {
	content: "\2022";
	color: #37be34;
	font-weight: 700;
	margin-left: 8px;
    margin-right: 5px;
}

body[dir=ltr] div[ltype=mode] .message:before {
	content: "\2022";
	color: #2cb6f6;
	font-weight: 700;
	margin-left: 8px;
    margin-right: 5px;
}

body[dir=rtl] div[ltype=join] .message:before {
	content: "→";
  	color: #0c0;
	margin-left:3px;
    margin-right: 5px;
}

body[dir=rtl] div[ltype=kick] .message:before,
body[dir=rtl] div[ltype=part] .message:before,
body[dir=rtl] div[ltype=quit] .message:before {
	content: "←";
  	color: #e00;
	margin-left:3px;
    margin-right: 5px;
}

/* Nickname Colors */

body .inline_nickname {
	font-weight: 700;
}

body .sender[mtype=myself] {
	color: #9A60FF;
}

/* SELECTED USER MESSAGES */

.sender {
	cursor: pointer;
}

body div.line[ltype=privmsg]:not(.selectedUser),
body div.line[ltype=action]:not(.selectedUser) {
    transition-property: background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype=privmsg] .time:not(.selectedUser),
body div.line[ltype=action] .time:not(.selectedUser) {
    transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
    transition: color 0.5s ease-in;
	color: #aaa;
}

body div.line.selectedUser[highlight=false] {
    transition-property: background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
  	z-index: 190;
  	position: relative;
	background-color: #2f3e53;
}

body div.line[ltype=privmsg][highlight=true],
body div.line[ltype=action][highlight=true] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
	background-color: #3b5847;
}
