
<span class="inlineImageCell" id="inlineMedia-{{uniqueIdentifier}}" style="display: none;">
	<span class="closeButton" href="#" onclick="InlineMedia.hideOnClick('{{uniqueIdentifier}}');">×</span>

	<a href="{{anchorLink}}" onclick="return InlineImageLiveResize.negateAnchorOpen()">
		<img src="{{imageURL}}" class="image" style="max-width: {{preferredMaximumWidth}}px;" />
	</a>
</span>
