<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.accessirc.net</string>
		<key>serverPort</key>
		<real>6697</real>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>AlphaChat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.alphachat.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>DALnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.dal.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>EFnet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.efnet.info</string>
		<key>serverPort</key>
		<real>6667</real>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>EsperNet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.esper.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Ewnix</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.ewnix.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Fuel Rats</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.fuelrats.com</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>GameSurge</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.gamesurge.net</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>GeeksIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.geeksirc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>GeekShed</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.geekshed.net</string>
		<key>serverPort</key>
		<real>6697</real>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>German-Elite</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.german-elite.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Global Gamers</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.globalgamers.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>IRCHighWay</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.irchighway.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Interlinked</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.interlinked.me</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>IdleChat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.idlechat.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>LizardIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.lizardirc.org</string>
		<key>serverPort</key>
		<real>6697</real>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Mibbit</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.mibbit.com</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>MindForge</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.mindforge.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Mozilla</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.mozilla.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Mozor</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.mozor.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>NixtrixIRC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.nixtrixirc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>OFTC</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.oftc.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>PonyChat</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.ponychat.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>QuakeNet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.quakenet.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>Rizon</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.rizon.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Snoonet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.snoonet.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Snyde</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.snyde.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>StormBit</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.stormbit.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>TWiT</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.twit.tv</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Thinkstack</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.thinstack.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>TinyCrab</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.tinycrab.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>Undernet</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.undernet.org</string>
		<key>serverPort</key>
		<integer>6667</integer>
		<key>prefersSecuredConnection</key>
		<false/>
	</dict>
	<key>freenode</key>
	<dict>
		<key>serverAddress</key>
		<string>chat.freenode.net</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>
	<key>hackint</key>
	<dict>
		<key>serverAddress</key>
		<string>irc.hackint.org</string>
		<key>serverPort</key>
		<integer>6697</integer>
		<key>prefersSecuredConnection</key>
		<true/>
	</dict>	
</dict>
</plist>
