
#include "../Common/Foundation.xcconfig"
#include "Enabled Features.xcconfig"
#include "../Common/Textual.xcconfig"

TEXTUAL_BUNDLE_IDENTIFIER = com.codeux.apps.textual-mas
TEXTUAL_GROUP_CONTAINER_IDENTIFIER = 8482Q6EPL6.com.codeux.irc.textual
TEXTUAL_BUILD_SCHEME_TOKEN = appstore

TEXTUAL_EXTENSION_BUILD_SCHEME = Release
TEXTUAL_FRAMEWORK_BUILD_SCHEME = Release
TEXTUAL_XPC_SERVICE_BUILD_SCHEME = Release (App Store)

CODE_SIGN_ENTITLEMENTS = ${PROJECT_DIR}/Resources/Sandbox/Entitlements/TextualAppStore.entitlements
